<mat-card>

  <mat-card-content>
    <div class="example-container mat-elevation-z8">

      <button mat-icon-button color="primary" (click)="load()" style="margin-top: 10px;">
        <mat-icon aria-label="icon-button with a reload icon">cached</mat-icon>
      </button>

      <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
        matSortDisableClear matSortDirection="asc" (matSortChange)="onSortChange($event)">

        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> شماره</mat-header-cell>
          <mat-cell *matCellDef="let message"> {{message.position}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>نوع</mat-header-cell>
          <mat-cell *matCellDef="let message"> {{getType(message)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef> خریدار</mat-header-cell>
          <mat-cell *matCellDef="let message">{{getCustomer(message)}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="publish_date">
          <mat-header-cell *matHeaderCellDef>تاریخ ارسال پیام</mat-header-cell>
          <mat-cell *matCellDef="let message"> {{getDate(message.publish_date)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>پردازش شده؟</mat-header-cell>
          <mat-cell *matCellDef="let message">
            <img style="width: 25px; height: 25px;" [src]="!needsProcess(message) ? '../../../../../assets/logos/accept.png' : '../../../../../assets/logos/fail.png' ">
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="process">
          <mat-header-cell *matHeaderCellDef>پردازش</mat-header-cell>
          <mat-cell *matCellDef="let message">
            <button mat-button color="primary" *ngIf="needsProcess(message)" (click)="process(message)" >{{getProcessTitle(message)}}</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="close">
          <mat-header-cell *matHeaderCellDef>بستن</mat-header-cell>
          <mat-cell *matCellDef="let message">
            <button mat-button color="warn" *ngIf="!needsProcess(message)" (click)="close(message)">اعلام گزارش</button>
          </mat-cell>
        </ng-container>



        <!-- Expanded Content Column - The order lines rows is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let detail">


            <table class='messageDetail'>
              <tr>
                <td>
                  <div class="imgWrapper">
                    <img [src]="getProductDetail(detail.message).thumbnailURL" style="width:100%" style="width:100%"
                      (click)="showDetial(detail.message)">
                  </div>
                </td>
                <td>
                  <p>
                    <b>بارکد:</b> {{detail.message.instance?.barcode}}</p>
                </td>
                <td>
                  <p>
                    <b>نام:</b> {{detail.message.instance?.product_name}}</p>
                </td>
                <td>
                  <p>
                    <b>سایز:</b> {{detail.message.instance?.size}}</p>
                </td>
              </tr>
            </table>


          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row._id"
          (click)="expandedElement = row._id"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.message._id == expandedElement ? 'expanded' : 'collapsed'"
          style="overflow: hidden; height: 0px; min-height: 0px ;visibility: hidden">
        </mat-row>


      </mat-table>


      <mat-paginator [length]="total" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
