<h1>Hello Data Table</h1>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort matSortDirection="asc">
        <!-- Number Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.id}}</mat-cell>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.time}}</mat-cell>
        </ng-container>
        <!-- Product_Name Column -->
        <ng-container matColumnDef="product_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.product_name}}</mat-cell>
        </ng-container>
        <!-- color Column -->
        <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.color}}</mat-cell>
        </ng-container>
        <!-- size Column -->
        <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.size}}</mat-cell>
        </ng-container>
        <!-- is_collect Column -->
        <ng-container matColumnDef="is_collect">
            <mat-header-cell *matHeaderCellDef mat-sort-header>is_collect</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.is_collect}}</mat-cell>
        </ng-container>
        <!-- barcode Column -->
        <ng-container matColumnDef="barcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>barcode</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.barcode}}</mat-cell>
        </ng-container>
        <!-- price Column -->
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.price}}</mat-cell>
        </ng-container>
        <!-- customer_name Column -->
        <ng-container matColumnDef="customer_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>customer_name</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.customer_name}}</mat-cell>
        </ng-container>
        <!-- address Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>address</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.address}}</mat-cell>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.status}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>