<div class="summary">
  <div class="rows">
    <div class="right-text total-payment"> خلاصه</div>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="right-text"> امتیاز :</span>
    <span class="left-text">{{loyaltyPoint}}</span>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="right-text"> موجودی :</span>
    <span class="left-text">{{balanceValue}}  تومان</span>
  </div>
  <hr class="hr-style">
  <!--<div class="rows">-->
    <!--<span class="right-text">آیا کد تخفیف دارید؟</span>-->
    <!--<input type="text" [(ngModel)]="coupon_code"/>-->
  <!--</div>-->
  <!--<hr class="hr-style"/>-->
  <div class="rows">
    <span class="right-text">جمع قیمت :</span>
    <span class="left-text">{{totalValue}}  تومان</span>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="right-text">تخفیف : </span>
    <span class="left-text">{{discountValue}} تومان </span>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="right-text total-payment">قیمت نهایی : </span>
    <span class="left-text total-payment">{{finalTotal}}  تومان</span>
  </div>
  <hr class="hr-style">
  <div>
    <button class="payment-button"> پرداخت</button>
  </div>
</div>
