<div class="summary">
  <div class="rows">
    <div class="s-right-text total-payment">خلاصه</div>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="s-right-text"> امتیاز:</span>
    <span class="s-left-text">{{loyaltyPoint}}</span>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="s-right-text"> موجودی:</span>
    <span class="s-left-text">{{balanceValue}}  تومان</span>
  </div>
  <hr class="hr-style">
  <div class="rows" *ngIf="isLoggedIn">
    <div>
      <label class="s-right-text coupon_label" (click)="changeCouponVisibility()"> آیا کد تخفیف دارید؟
        <span *ngIf="!show_coupon_area"><i class="open-close-field-sign material-icons">keyboard_arrow_down</i></span>
        <span *ngIf="show_coupon_area"><i class="open-close-field-sign material-icons">keyboard_arrow_up</i></span>
      </label>
    </div>
    <div class="coupon_area" fxLayout="row" fxLayoutAlign="start start" *ngIf="show_coupon_area">
      <div fxFlex="80">
        <input *ngIf="!used_coupon_code" class="coupon_field" type="text" [(ngModel)]="coupon_code"/>
        <input *ngIf="!!used_coupon_code" class="coupon_field" type="text"  [value]="used_coupon_code" readonly/>
      </div>
      <div fxFlex="20">
        <div class="coupon_code_btn" (click)="applyCoupon()">
          <span *ngIf="!used_coupon_code">اعمال</span>
          <span *ngIf="!!used_coupon_code">حذف</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-style"/>
  <div class="rows">
    <span class="s-right-text">جمع قیمت:</span>
    <span class="s-left-text">{{totalValue}}  تومان</span>
  </div>
  <hr class="hr-style">
  <div class="rows">
    <span class="s-right-text">تخفیف:</span>
    <span class="s-left-text">{{discountValue}} تومان </span>
  </div>
  <hr class="hr-style">
  <div class="rows nowrap-row-tp">
    <span class="s-right-text total-payment">قیمت نهایی:</span>
    <span class="s-left-text total-payment">{{finalTotal}}  تومان</span>
  </div>
  <hr class="hr-style">
  <div>
    <button mat-button class="payment-button" [class.disabled]="disabled" (click)="pay()" [disabled]="disabled">تأیید
      نهایی
    </button>
  </div>
</div>
