.badge-icon {
  font-size: 18px;
  color: black;
  /*margin-left: -23px;*/
  margin-top: -50px;
  padding-left: 13px;
}

#header-cart span:nth-child(1) {
  position: relative;
  z-index: 2;
}

#header-cart span:nth-child(2) svg {
  position: absolute;
  left: 9px;
  top: 5px;
  z-index: 1;
}

#header-cart span:nth-child(3) {
  position: absolute;
  left: -7px;
  top: -3px;
}


.welcome {
  padding: 0;
}

.welcome i {
  font-size: 22px;
  margin-left: 3px;
}

.welcome i:hover {
  color: darkred;

}
