.welcome {
  display: inline-block;
  position: relative;
  top: -40px;
  right: 18px;
  font-weight: 100;
  color: #8f8f8f;
}

.welcome i {
  font-size: 22px;
  margin-left: 3px;
  color: #8f8f8f;
  font-weight: 100;
}

.welcome i:hover {
  color: darkred;

}
