<nav class="first-bar">
  <app-logo-header [logos]="logos"></app-logo-header>
  <ul class="right-bar top-basket">
    <li *ngIf="isLoggedIn && isVerified" class="welcome">
      <button mat-button (click)="navigateToProfile()"><i class="fa fa-user"></i>{{display_name}}، خوش آمدید</button>
    </li>
    <li class="welcome">
      <button mat-button (click)="navigateToCart()" aria-label="Shopping Bag" id="header-cart"
              [disabled]="!cartNumbers"><i class="fa fa-bag"></i>
        <span *ngIf="cartNumbers" class="badge-icon">
          {{cartNumbers}}
        </span>
        <span *ngIf="cartNumbers">
          <svg height="28" width="28">
            <circle cx="14" cy="14" r="14" fill="#AA0000"/>
          </svg>
        </span>
        <span>
          <i class="fa fa-shopping-bag fa-flip-horizontal"></i>
        </span>
      </button>
    </li>
    <li *ngIf="!isLoggedIn || !isVerified">
      <a (click)="login()" class="faWrapper clickable-link" aria-label="Sign In or Register"><i
        class="fa fa-sign-in fa-flip-horizontal loginIcon"></i>
      </a>
    </li>
    <li *ngIf="isLoggedIn && isVerified">
      <a (click)="logout()" class="faWrapper clickable-link" aria-label="Sign Out">
        <i class="fa fa-sign-out fa-flip-horizontal loginIcon"></i>
      </a>
    </li>
  </ul>
</nav>
