<nav class="first-bar">
  <ul>
    <li *ngFor="let logo of logos" [ngStyle]="{width: (logo.width ? logo.width + 'px' : 'initial')}">
      <a href="#" class="gnav-member-bar" [title]="logo.brand">
        <img
                src="assets/logos/{{logo.filename}}" class="general"
                [ngStyle]="{top: (logo.top ? -logo.top : 0)+ 'px', right: (logo.right ? -logo.right : 0) + 'px', height: (logo.height ? logo.height : 29) + 'px'}"></a>
    </li>
  </ul>
  <ul class="right-bar">
    <li>
      <a [routerLink]="'/cart'" class="faWrapper" aria-label="Shopping Bag">
        <span class="badge-icon">
          {{cartNumbers}}
        </span>
        <span>
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="10"  fill="#FA5400"/>
          </svg>
        </span>
        <i
                class="fa fa-shopping-bag fa-flip-horizontal" style="margin-right: -10px;">
        </i>
      </a>
    <li *ngIf="!isLoggedIn || !isVerified">
      <a (click)="login()" class="faWrapper clickable-link" aria-label="Sign In or Register"><i
              class="fa fa-sign-in fa-flip-horizontal loginIcon"></i></a>
    </li>
    <li *ngIf="isLoggedIn && isVerified">
      <a [routerLink]="'/profile'"><b>{{display_name}}، خوش آمدید</b></a>
    </li>
    <li *ngIf="isLoggedIn && isVerified">
      <a (click)="logout()" class="faWrapper clickable-link" aria-label="Sign Out"><i
              class="fa fa-sign-out loginIcon"></i></a>
    </li>
  </ul>
</nav>
