<div fxLayout="row" class="row">
    <button mat-fab color="primary" (click)="openForm()">
        <mat-icon aria-label="add new organization">add</mat-icon>
    </button>
</div>
<div *ngFor="let r of rows" dir="rtl">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
         fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="row">
        <div fxFlex="20" *ngFor="let p of r" class="outer-card">
            <mat-card class="card-view">
                <mat-card-content (click)="select(p)">
                    <div *ngIf="!p.imgDefaultPic" style="text-align: center">
                        <img mat-card-image style="width: 60%; height: 60%" [src]="getURL(p.imgUrl)">
                    </div>
                    <div *ngIf="p.imgDefaultPic" style="text-align: center">
                        <img mat-card-image style="width: 60%; height: 60%" src="{{p.imgUrl}}">
                    </div>
                    <hr>
                    <div dir="rtl" style="font-weight: bold; font-family: 'irankharazmi'">
                        {{p.name}}
                    </div>
                    <div dir="rtl" style="font-family: 'irankharazmi'">
                        <span>قیمت پایه :</span>
                        {{p.base_price}}
                    </div>
                </mat-card-content>
                <mat-card-actions style="text-align: left">
                    <button mat-icon-button (click)="openView(p._id)" color="primary">
                        <mat-icon aria-label="view">visibility</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openForm(p._id)" color="accent">
                        <mat-icon aria-label="edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button type (click)="deleteProduct(p._id)" color="warn">
                        <mat-icon aria-label="delete">delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>