<div class="row" fxLayout="row">
    <app-search-fields fxFlex="100" [target]="'Product'" (searching)="search($event)"></app-search-fields>
</div>
<div fxLayout="row" class="row">
    <button mat-fab color="accent" style="margin-top: 15px" (click)="openForm()">
        <mat-icon aria-label="add new organization">add</mat-icon>
    </button>
</div>
<div *ngFor="let r of rows" dir="rtl">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
         fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="row">
        <div fxFlex="25" *ngFor="let p of r" class="outer-card">
            <mat-card class="card-view" (click)="select(p._id)" [ngClass]="{'mat-elevation-z24': p._id === selectedId}">
                <mat-card-content>
                    <div *ngIf="p.colors.length" style="text-align: center">
                        <img mat-card-image style="width: 50%; height: 50%" [src]="getURL(p.colors[0].images[0])">
                    </div>
                    <div *ngIf="!p.colors.length" style="text-align: center">
                        <img mat-card-image style="width: 50%; height: 50%" src='../../../../assets/pictures/product-small/11.jpeg'>
                    </div>
                    <hr>
                    <div dir="rtl" style="font-weight: bold; font-family: 'irankharazmi'">
                        {{p.name}}
                    </div>
                    <div dir="rtl" style="font-family: 'irankharazmi'">
                        <span>قیمت پایه :</span>
                        {{p.base_price}}
                    </div>
                </mat-card-content>
                <mat-card-actions style="text-align: left" *ngIf="p._id == selectedId">
                    <button mat-icon-button type (click)="deleteProduct(p._id)" color="warn">
                        <mat-icon aria-label="delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openForm(p._id)" color="accent">
                        <mat-icon aria-label="edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openView(p._id)" color="primary">
                        <mat-icon aria-label="view">visibility</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<div>
    <mat-paginator [length]="totalCards" [pageSize]="8" [pageSizeOptions]="[4, 8, 16, 32]"
                   (page)="changeOffset($event)"></mat-paginator>
</div>
