<div fxLayout="row" style="direction: rtl">
  <div fxFlex="15" fxFlex.sm="10" fxFlex.xs="0">&nbsp;</div>
  <div fxFlex="70" fxFlex.sm="80" fxFlex.xs="100">
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>{{headerTitle}}</mat-expansion-panel-header>
        <app-basic-info [isEdit]=false (formTitle)="setHeaderTitle($event)"></app-basic-info>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>آدرس</mat-expansion-panel-header>
        <app-address-table [isProfile]="true"></app-address-table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>سفارش‌ها</mat-expansion-panel-header>
        <app-orders></app-orders>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>لیست آرزوها</mat-expansion-panel-header>
        <app-wish-list></app-wish-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>علاقه مندی</mat-expansion-panel-header>
        <app-preference></app-preference>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>درخواست بازگشت وجه</mat-expansion-panel-header>
        <div *ngIf="balance > 0">
        <button mat-raised-button (click)="goToRefundBank()">بازگشت مبلغ</button>
        </div>
        <div *ngIf="balance === 0 && active">
          <span >درخواست شما در حال بررسی می باشد</span>
        </div>
        <div *ngIf="balance === 0 && !active ">
          <span >موجودی حساب شما صفر است</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div fxFlex="15" fxFlex.sm="10" fxFlex.xs="0">&nbsp;</div>
</div>
