.closeBtn {
  position: fixed;
  font-size: 30px;
  top: 50px;
  right: 50px;
  background: black;
  opacity: .2;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.container {
  overflow: auto;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  padding: 0;
  border: 0;
  margin: -24px -24px;
}

