<app-desktop-product *ngIf="!isMobile" [selectedProductColorID]="selectedProductColorID" [product]="product" [sub]="joinedTags" [price]="formattedPrice" [discountedPrice]="discountedPrice" [discounted]="discounted" [gender]="gender" [productType]="productType" [barcode]="barcode" [color]="color" (add)="saveToCart($event)" (addFavorite)="saveToFavorites($event)" (changeSize)="updatePrice($event)"></app-desktop-product>
<app-mobile-product *ngIf="isMobile" [selectedProductColorID]="selectedProductColorID" [product]="product" [sub]="joinedTags" [price]="formattedPrice" [discountedPrice]="discountedPrice" [discounted]="discounted" [gender]="gender" [productType]="productType" [barcode]="barcode" [color]="color" (add)="saveToCart($event)" (addFavorite)="saveToFavorites($event)" (changeSize)="updatePrice($event)"></app-mobile-product>
<p-dialog [visible]="waiting" header="لطفاً شکیبا باشید..." [modal]="true" [closable]="false" dir="rtl">
  <mat-progress-spinner class="waiting-spinner" color="primary" [mode]="'indeterminate'" [diameter]="'35'" [strokeWidth]="'2'" dir="rtl">
    لطفاً شکیبا باشید...
  </mat-progress-spinner>
</p-dialog>
