<div style="direction: rtl" class="dialog-style">
  <div class="center">
    <span class="persian-mode-center-logo">پرشین مد<span>ُ</span></span>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="50">
      <label class="center">حساب کاربری شما برای</label>
    </div>
    <div fxFlex="50">
      <label class="center">هر محصول NIKE</label>
    </div>
  </div>

  <div style="margin: 25px;" *ngIf="loginStatus == Status.Login">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="50" class="input-container">
          <input class="input-field left-direction" placeholder="ایمیل یا شماره تلفن همراه"
                 formControlName="username"
                 (focus)="setSeen('username')"
                 (blur)="curFocus = null"
                 [ngClass]="(loginForm.controls['username'].hasError('required') || loginForm.controls['username'].hasError('match')) && seen['username'] && curFocus !== 'username' ? 'input-error' : null"
                 (keypress)="keyPress($event)"
                 autocomplete="username"/>
          <label
            *ngIf="(loginForm.controls['username'].hasError('required') || loginForm.controls['username'].hasError('match')) && seen['username'] && curFocus !== 'username'"
            class="field-error">لطفا آدرس ایمیل و یا شماره تلفن همراه معتبری وارد کنید</label>
        </div>
        <div fxFlex="50" class="input-container">
          <input class="input-field left-direction" type="password" placeholder="رمز عبور"
                 formControlName="password"
                 (focus)="setSeen('password')"
                 (blur)="curFocus = null"
                 [ngClass]="loginForm.controls['password'].hasError('required') && seen['password'] && curFocus !== 'password' ? 'input-error' : null"
                 (keypress)="keyPress($event)"
                 autocomplete="current_password"/>
          <label
            *ngIf="loginForm.controls['password'].hasError('required') && seen['password'] && curFocus !== 'password'"
            class="field-error">لطفا رمز عبور را وارد
            کنید</label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 13px">
        <div fxFlex="50" (click)="forgotPassword()">
          <a class="clickable-link">رمز را فراموش کرده اید؟</a>
        </div>
        <!-- <div fxFlex="50" style="text-align: left; margin-left: -15px;">
          <label for="keeplogin" class="clickable-link">مرا به خاطر بسپار</label>
          <input id="keeplogin" type="checkbox" formControlName="keep_me_login">
        </div> -->
      </div>
      <div class="button-area" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="50" class="input-container">
          <div class="btn-field login-btn inform-btn clickable-link" (click)="login()">
            <label>ورود</label>
          </div>
        </div>
        <div fxFlex="50" class="input-container">
          <a href="api/login/google" style="color: white;">
            <div class="btn-field google-btn clickable-link">
              <span>ورود با حساب گوگل</span>
              <span style="float: left; margin-top: 4px;">
                <i class="fa fa-google" aria-hidden="true"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="center join-link" *ngIf="loginStatus == Status.Login">
    <label>عضو نیستید؟</label>
    <a class="clickable-link" style="text-decoration: underline;" (click)="goToRegister()">به ما بپیوندید</a>
  </div>

  <div style="margin: 25px;" *ngIf="loginStatus != Status.Login">
    <div *ngIf="(loginStatus === Status.ActivatingLink || loginStatus === Status.InvalidLink)">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="50">
          <div class="center" *ngIf="loginStatus === Status.ActivatingLink">ایمیل شما با موفقیت فعال گردید.</div>
          <div class="center" *ngIf="loginStatus === Status.InvalidLink">این کد وجود ندارد یا منقضی شده است.</div>
        </div>
        <div fxFlex="80" class="full-width" style="margin-top: 10px;">
          <div>
            <div class="div-btn inform-btn clickable-link" (click)="goToLoginPage()">
              <label>رفتن به صفحه ورود</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="(loginStatus === Status.NotVerified || loginStatus === Status.VerifiedEmail)">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="33" style="margin-top: 10px;">
          <div class="center">لطفا کد ارسال شده به شماره همراه وارد شده را</div>
          <div class="center">در بخش زیر وارد کنید</div>
        </div>
        <div fxFlex="33" class="box-center input-container">
          <input class="input-field" type="number" [(ngModel)]="code" placeholder="کد"/>
        </div>
        <div fxFlex="33" class="full-width" style="margin-top: 10px;">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50" class="div-btn inform-btn clickable-link" (click)="resendCode()">
              <label>ارسال مجدد کد</label>
            </div>
            <div fxFlex="50" class="div-btn inform-btn clickable-link" (click)="goToLoginPage()">
              <label>رفتن به صفحه ورود</label>
            </div>
          </div>
          <div>
            <div class="div-btn inform-btn clickable-link" (click)="checkCode()">
              <label>ارسال کد</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loginStatus === Status.VerifiedMobile">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="33" style="margin-top: 10px;">
          <div class="center">ایمیلی حاوی لینک فعال سازی برایتان ارسال شده است.</div>
        </div>
        <div fxFlex="33" style="margin-top: 10px;">
          <div class="center">از طریق لینک ارسال شده اقدام به ورود نمایید.</div>
        </div>
        <div fxFlex="33" class="full-width" style="margin-top: 10px;">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50" class="div-btn inform-btn clickable-link" (click)="resendEmailActivationCode()">
              <label>ارسال مجدد لینک فعال سازی</label>
            </div>
            <div fxFlex="50" class="div-btn inform-btn clickable-link" (click)="goToLoginPage()">
              <label>رفتن به صفحه ورود</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loginStatus === Status.SetMobileNumber">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="80" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="10" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
          <div>
            <label>برای تکمیل ثبت نام لطفا شماره تلفن همراه خود را وارد کنید</label>
          </div>
          <div class="input-container">
            <input class="input-field" type="text" [(ngModel)]="mobile_no" (ngModelChange)="checkMobilePattern()"
                   placeholder="تلفن همراه"
                   [ngClass]="mobileHasError ? 'input-error' : null"/>
          </div>
          <div class="field-error" *ngIf="mobileHasError">
            <label>لطفا شماره تلفن معتبری وارد کنید</label>
          </div>
          <div class="div-btn inform-btn clickable-link" (click)="addMobileNumber()">
            <label>ارسال</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Setting the preferences -->
    <!-- tags -->
    <div *ngIf="loginStatus === Status.PreferenceTags">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>انتخاب دسته بندی</h1>
        <mat-selection-list #tags>
          <mat-list-option *ngFor="let tag of tagsType" [value]="tag" dir="rtl">
            {{tag.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33" class="div-btn inform-btn clickable-link" (click)="setTags(tags)">
          <label>مرحله بعدی</label>
        </div>
      </div>
    </div>

    <!-- sizes -->
    <div *ngIf="loginStatus === Status.PreferenceSize">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <app-size-picker [sizes]="shoesSize" [gender]="gender" [productType]="productType"
                           (value)="selectedSize($event)"></app-size-picker>
        </div>
      </div>
      <br>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33" class="div-btn inform-btn clickable-link" (click)="setSize()">
          <label>مرحله بعدی</label>
        </div>
        <div fxFlex="33" class="div-btn inform-btn clickable-link" (click)="backToSetTags()">
          <label>مرحله قبل</label>
        </div>
      </div>
    </div>

    <!-- brands -->
    <div *ngIf="loginStatus === Status.PreferenceBrand">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>انتخاب برند</h1>
        <mat-selection-list #brands>
          <mat-list-option *ngFor="let brand of brandsType" [value]="brand">
            {{brand.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33" class="div-btn inform-btn clickable-link" (click)="setBrand(brands)">
          <label>مرحله بعد</label>
        </div>
        <div fxFlex="33" class="div-btn inform-btn clickable-link" (click)="backToSetSize()">
          <label>مرحله قبل</label>
        </div>
      </div>
    </div>


  </div>
</div>
