<div *ngIf="!finished">
  <h1 style="text-align: center">بارکد ها را اسکن کنید</h1>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center" dir="rtl">


    <div *ngIf="isHub">
      <div class="style-select-wrapper">
        <select class="select-style" (change)="onWarehouseChange($event.target.value)">
          <option *ngFor="let warehouse of getClerkWarehouses()" [value]="warehouse._id">{{warehouse.name}}
          </option>
        </select>
      </div>
    </div>
    <button mat-raised-button *ngIf="!isStarted" color="primary" style="margin-left: 10px" (click)="isStarted = !isStarted">شروع
      اسکن</button>
    <button mat-raised-button *ngIf="isStarted" color="warn" style="margin-left: 10px" (click)="isStarted = !isStarted">پایان
      اسکن</button>
    <button mat-raised-button *ngIf="!isStarted" color="warn" style="margin-left: 10px">گزارش عدم تطابق</button>

    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isStarted">
      <img src="/assets/logos/barcode.png" class="logo">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" [formControl]="barcodeCtrl">
      </mat-form-field>
    </div>

  </div>

</div>