<div class="row" fxLayout="row">
  <app-search-fields fxFlex="100" [target]="'Collection'" (searching)="search($event)"></app-search-fields>
</div>
<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="openForm()" style="margin-top: 15px">
    <mat-icon aria-label="Add new Collection">add</mat-icon>
  </button>
</div>
<div *ngFor="let r of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="row">
    <div fxFlex="25" *ngFor="let c of r" class="outer-card">
      <mat-card class="card-view" (click)="select(c._id)" [ngClass]="{'mat-elevation-z24': c._id === selectedId}">
        <mat-card-header>
          <mat-card-title>
            <label class="name">{{c.name}}</label>
          </mat-card-title>
          <mat-card-subtitle class="is_smart">
            <label class="smart" *ngIf="c.is_smart">Smart</label>
            <label class="manual" *ngIf="!c.is_smart">Manual</label>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions *ngIf="c._id == selectedId">
          <button mat-icon-button (click)="openView(c._id)" color="primary">
            <mat-icon aria-label="view">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="openForm(c._id)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCollection(c._id)" color="warn">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div>
  <mat-paginator [length]="totalCards" [pageSize]="8" [pageSizeOptions]="[4, 8, 16, 32]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>
