.card-view {
  margin: 10px;
  /*box-shadow: 10px 10px 80px grey;*/
  /*border: 1px solid gray;*/
}

mat-card {
  cursor: pointer;
}

.is_smart {
  padding-top: 10px;
}

.smart {
  color: blue;
}

.manual {
  color: gray;
}
