

<div class="example-container mat-elevation-z8" dir="rtl">
  

  <mat-table *ngIf="dataSource" #table [dataSource]="dataSource" class="example-table" >

    <!-- position -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> شماره</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
    </ng-container>
    


    <ng-container matColumnDef="receiver_name">
      <mat-header-cell *matHeaderCellDef> دریافت کننده</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getReceiver(element)}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="receiver_type">
      <mat-header-cell *matHeaderCellDef> سمت</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getReceiverType(element)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="agent_name">
      <mat-header-cell *matHeaderCellDef> مسئول بررسی</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getAgent(element)}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="agent_type">
      <mat-header-cell *matHeaderCellDef> سمت </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getAgentType(element)}}</mat-cell>
    </ng-container>

    <!-- status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> وضعیت </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getStatus(element)}}</mat-cell>
    </ng-container>
    
    <!-- is_processed -->
    <ng-container matColumnDef="is_processed">
      <mat-header-cell *matHeaderCellDef>  بسته شده؟ </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.is_processed">done</mat-icon>
        <mat-icon *ngIf="!element.is_processed">clear</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- timestamp -->
    <ng-container matColumnDef="timestamp">
      <mat-header-cell style="text-align: center;" *matHeaderCellDef> تاریخ </mat-header-cell>
      <mat-cell dir="ltr" *matCellDef="let element"> {{getTime(element)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
