<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>تایین مامور جمع آوری کننده</mat-card-title>
    <mat-card-subtitle>از بخش زیر که مشاهده میکنید، لطفا مامور مورد نظر خود را انتخاب کنید</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- form autocomplete for type name of agents -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="نام مامور ارسال" aria-label="Agent" [matAutocomplete]="auto" [formControl]="agentCtrl" dir="rtl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option  (onSelectionChange)="agentSelect(agent)" *ngFor="let agent of filteredAgents | async" [value]="agent.surname">
          <small>نام: {{agent.firstname}}</small>  |
          <span>نام خانوادگی: {{ agent.surname }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- button for submit and set agent for internal delivery -->
    <button mat-icon-button *ngIf="isAgentUpdate" (click)="setAgentForInternalDelivery()">
      <mat-icon>check</mat-icon>
    </button>

  </mat-card-content>
</mat-card>