<mat-card class="card-view">
  <mat-card-header>
    <mat-card-title>
      <h2> {{ id ? 'ویرایش صفحه': 'افزودن صفحه جدید' }} </h2>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>

    <form (ngSubmit)="submitPage()" [formGroup]="form">

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">

        <div fxFlex="50" class="field-container">

          <app-suggestion fxFlex="50" [name]="'Collection'" [currentIds]="collection ?  [collection._id] : []"
                          [fieldName]="'name'"
                          [placeholder]="'نام کالکشن'" (add)="setCollection($event)"></app-suggestion>
          <h3 fxFlex="50" dir="ltr" style="text-align:center"> {{collection ? collection.name : ''}} </h3>
        </div>

        <div fxFlex="50" class="field-container">
          <mat-input-container class="field">
            <input matInput type="text" placeholder="آدرس" formControlName="address"
                   role="address" tabindex="2" dir="ltr">
            <mat-hint>آدرس صفحه را وارد کنید</mat-hint>
            <mat-error *ngIf="form.controls['address'].hasError('required') && anyChanges">
              وارد کردن آدرس صفحه الزامی است
            </mat-error>
          </mat-input-container>
        </div>

      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
        <div fxFlex="50" class="field-container">

          <mat-checkbox formControlName="is_app" role="is_app" dir="ltr">
            Is App?
          </mat-checkbox>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">

        <mat-form-field class="example-full-width">
          <textarea formControlName="content" matInput placeholder="محتوا به صورت Mark Down"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">

        <markdown *ngIf="form.controls['content'].value" [data]="form.controls['content'].value"></markdown>

      </div>


      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">

        <div role="submit-button" style="text-align: left; margin-top: 10px;">
          <button mat-icon-button type="submit"
                  [disabled]="upsertBtnShouldDisabled || (!form.valid || (id && !anyChanges))"
                  tabindex="3">

            <button mat-icon-button *ngIf="id" (click)="deletePage(id)" color="warn">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>
            <mat-icon aria-label="accept">done</mat-icon>
          </button>
        </div>

      </div>


    </form>


  </mat-card-content>
</mat-card>

<app-placement [isApp]="originalForm ? originalForm.is_app : false" [placements]="placements" [pageId]="id"
               [pageAddress]="form.controls['address'].value" (modifyPlacement)="modifyPlacement($event)"
               (reloadPlacement)="searchPagePlacements()"></app-placement>
