.card-container {
  direction: rtl;
  margin: 10px;
  padding: 10px;
}

.header {
  font-family: iranyekan, sans-serif;
  font-weight: bold !important;
  text-align: center !important;
  font-size: unset !important;
  display: flex;
  justify-content: center !important;
}

.content {
  font-family: iranyekan, sans-serif;
  text-align: center;
}

.details-button {
  cursor: pointer;
}