<mat-card class="card-container">
  <div>
    <h2>
      <label>لیست سفارشات</label>
    </h2>

    <div>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">ردیف</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{formatter(element.position)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delivery_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">حداکثر تاریخ دریافت</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{element.end}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delivery_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">بازه دریافتی</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{element.delivery_time}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delivery_agent">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">مسئول ارسال</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{element.delivery_agent.first_name}} {{element.delivery_agent.surname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="receiver_sender_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">نام مشتری / فروشگاه</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content">
            <span *ngIf="element.receiver_sender_name">{{element.receiver_sender_name}}</span>
            <span *ngIf="!element.receiver_sender_name">-</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shelf_code" *ngIf="isHubClerk()">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">کد قفسه</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{element.shelf_code}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_delivered">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header">تحویل گرفته شده</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content">
            <div *ngIf="element.is_delivered">
              <mat-icon style="color: green" aria-label="delivered">check</mat-icon>
            </div>
            <div *ngIf="!element.is_delivered">
              <mat-icon style="color: red" aria-label="not delivered">close</mat-icon>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="view_details">
          <mat-header-cell *matHeaderCellDef class="header">نمایش جزئیات</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content details-button">
            <div (click)="showDetails(element._id)">
              <mat-icon color="primary">details</mat-icon>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <div dir="ltr">
      <mat-paginator [length]="totalRecords" [pageIndex]="offset / limit" [pageSize]="limit" [pageSizeOptions]="[5, 10, 20, 50]"
        (page)="changePageSetting($event)">
      </mat-paginator>
    </div>
  </div>
  <div *ngIf="selectedDelivery">
    <h3></h3>
  </div>
</mat-card>