.main{
    direction: rtl;
    margin: 5px;
    margin-top: 30px !important;
}

.action-button {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    height: 35px !important;
    border: 0;
    margin: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20%;
    margin-left: 30px;
}