
<mat-card>
  <mat-card-content>
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <mat-table #table [dataSource]="dataSource" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="asc"
                 (matSortChange)="onSortChange($event)">

        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> شماره</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getIndex(element)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> نام</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef> رنگ</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getColor(element)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="size">
          <mat-header-cell *matHeaderCellDef> سایز</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.instance.size}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_collect">
          <mat-header-cell *matHeaderCellDef> C&C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="!!element.is_collect" disabled="true"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="barcode">
          <mat-header-cell *matHeaderCellDef> بارکد</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.instance.barcode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> پرداختی</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.paid_price}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="used_balance">
          <mat-header-cell *matHeaderCellDef> موجودی</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.used_balance}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="used_point">
          <mat-header-cell *matHeaderCellDef> امتیار</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.used_point}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> خریدار</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.customer.name + ' ' + element.customer.surname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> آدرس</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="showAddress(element)">نمایش</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>وضعیت</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getStatus(element)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="process">
          <mat-header-cell *matHeaderCellDef>پردازش</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="process(element)" *ngIf="!isReadyToDeliver(element) && !invoiceRequested(element)">انتخاب</button>
            <button mat-button color="primary" (click)="requestForInvoice(element)" *ngIf="invoiceRequested(element)">صدور فاکتور</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delivery">
          <mat-header-cell *matHeaderCellDef>ارسال</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="showDelivery(element)" *ngIf="isReadyToDeliver(element)">انتخاب
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [length]="resultsLength" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
