.login-btn {
  margin-right: -4px;
}
.style-select-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 30px;
  text-align: right;
}
.select-style {
  width: 220px;
  height: 30px;
  vertical-align: baseline;
  border: 0 !important;
  outline: 0;
  /*-moz-appearance: none;*/
  /*-webkit-appearance: none;*/
  /*appearance: none;*/
  background: 0 0;
  z-index: 3;
  border-radius: 2px;
  background-color: black;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  font-family:iranyekan;
}

.field-container{
  width: 98%;
  margin: 5px;
}

.field{
  width: 100%;
}
