.card-container {
  direction: rtl;
  margin: 10px;
  padding: 10px;
}

.header {
  font-family: iranyekan, sans-serif;
  font-weight: bold !important;
  text-align: center !important;
  font-size: unset !important;
  display: flex;
  justify-content: center !important;
}

.content {
  font-family: iranyekan, sans-serif;
  text-align: center;
}

.details-button {
  cursor: pointer;
}

.search-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filtering-field {
  width: 100%;
  line-height: 23px;
  text-align: right;
}

.filtering-box {
  margin: 5px;
}

.checkbox-label {
  margin-right: 5px;
}

.select-style {
  width: 120px;
  height: 30px;
  vertical-align: baseline;
  border: 0 !important;
  outline: 0;
  background: 0 0;
  z-index: 3;
  border-radius: 2px;
  background-color: black;
  color: #fff;
  padding-right: 8px;
  font-family:iranyekan;
}

.style-select-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 30px;
  text-align: right;
}
