<mat-card class="card-container">
  <div>
    <h2>
      <button mat-icon-button (click)="getDeliveryItems()">
        <mat-icon color="primary" aria-label="refresh">refresh</mat-icon>
      </button>
      <label>پیگیری ارسال های قبلی</label>
    </h2>
    <div class="search-area">
      <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="30" class="filter-box">
          <mat-input-container class="filtering-field">
            <input class="filtering-field" matInput type="text" placeholder="تحویل گیرنده - مشتری"
                   [formControl]="recipient_name">
          </mat-input-container>
        </div>
        <div fxFlex="30" class="filter-box">
          <mat-input-container class="filtering-field">
            <input class="filtering-field" matInput type="text" placeholder="مسئول ارسال"
                   [formControl]="agentSearchCtrl">
          </mat-input-container>
        </div>

        <div fxFlex="30" class="filter-box">
          <mat-form-field class="filtering-field">
            <input matInput [matDatepicker]="epicker" placeholder="انتقالات در تاریخ ..." [(ngModel)]="startDateSearch"
                   (ngModelChange)="getDeliveryItems()">
            <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
            <mat-datepicker #epicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isSalesManager || isHubClerk ">
        <div fxFlex="25" class="filter-box" fxLayout="row">
          <mat-checkbox class="filtering-field" [ngModel]="isInternal" (change)="changeDeliverStatus()"
                        [indeterminate]="isInternal === null">
            <span *ngIf="isInternal" class="checkbox-label"> ارسال داخلی</span>
            <span *ngIf="isInternal === false" class="checkbox-label">ارسال خارجی</span>
            <span *ngIf="isInternal === null" class="checkbox-label">همه ارسال ها</span>
          </mat-checkbox>
        </div>
      </div>
      <div fxLayoutAlign="start start">
        <div fxFlex="25" class="filter-box">
          <mat-checkbox class="filtering-field" [ngModel]="isDelivered" (change)="changeStartDeliverStatus()"
                        [indeterminate]="isDelivered === null">
            <span *ngIf="isDelivered" class="checkbox-label"> ارسال شده</span>
            <span *ngIf="isDelivered === false" class="checkbox-label">ارسال نشده</span>
            <span *ngIf="isDelivered === null" class="checkbox-label">همه موارد</span>
          </mat-checkbox>
        </div>
      </div>
      <!--<div fxFlex="25" class="filter-box" style="margin-top: 20px">-->
      <!--<mat-checkbox class="filtering-field" [ngModel]="missDeliveryAgent" (change)="changeDeliveryAgentStatus()"-->
      <!--[indeterminate]="missDeliveryAgent === null">-->
      <!--<span *ngIf="missDeliveryAgent" class="checkbox=label">بدون مسئول ارسال</span>-->
      <!--<span *ngIf="missDeliveryAgent === false" class="checkbox=label">مسئول ارسال تعیین شده</span>-->
      <!--<span *ngIf="missDeliveryAgent === null" class="checkbox=label">همه ی انواع</span>-->
      <!--</mat-checkbox>-->
      <!--</div>-->
      <form [formGroup]="warehouseSelected">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="50" class="filter-box" *ngIf="isSalesManager">
            <label> مبدا: </label>
            <mat-checkbox class="filtering-field" [ngModel]="isOrigin" (change)="changeOriginStatus()"
                          [ngModelOptions]="{standalone: true}">
              <span *ngIf="isOrigin" class="checkbox-label"></span>
              <span *ngIf="isOrigin === false" class="checkbox-label"></span>
            </mat-checkbox>

            <mat-input-container *ngIf="isOrigin === false">
              <input class="filtering-field" matInput type="text" placeholder="نام مشتری - کد ملی"
                     formControlName="SenderSearchCtrl">
            </mat-input-container>
            <span class="style-select-warehouse" *ngIf="isOrigin">
            <select class="select-style-dropDown" formControlName="fromWarehouseId"
                    (change)="fromWarehouseChange($event.target.value)">
                <option value="undefined" disabled selected hidden>انتخاب انبار</option>
              <option *ngFor="let warehouse of getWarehouses()" [value]="warehouse._id">{{warehouse.name}}
              </option>
            </select>
          </span>
          </div>
          <div fxFlex="50" class="filter-box" *ngIf="isSalesManager">
            <label> مقصد: </label>
            <mat-checkbox class="filtering-field" [ngModel]="isDestination" (change)="changeDestinationStatus()"
                          [ngModelOptions]="{standalone: true}">
              <span *ngIf="isDestination" class="checkbox-label" (change)="toWarehouseChange(null)"></span>
              <span *ngIf="isDestination === false" class="checkbox-label"></span>
            </mat-checkbox>
            <mat-input-container *ngIf="isDestination === false">
              <input class="filtering-field" matInput type="text" placeholder="نام مشتری - کد ملی"
                     [formControl]="receiverSearchCtrl">
            </mat-input-container>
            <span class="style-select-warehouse" *ngIf="isDestination">
            <select class="select-style-dropDown" formControlName="toWarehouseId"
                    (change)="toWarehouseChange($event.target.value)">
              <option value="undefined" disabled selected hidden>انتخاب انبار</option>
              <option *ngFor="let warehouse of getWarehouses()" [value]="warehouse._id">{{warehouse.name}}
              </option>
            </select>
          </span>
          </div>
        </div>
      </form>
    </div>
    <div>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef class="header">ردیف</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{element.index}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="delivery_agent">
          <mat-header-cell *matHeaderCellDef class="header">مسئول ارسال</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content">
            <div *ngIf="!element.is_internal">
              {{element.delivery_agent.first_name}} {{element.delivery_agent.surname}}
            </div>
            <div *ngIf="element.is_internal">
              <mat-select class="select-label" placeholder="انتخاب ارسال کننده" [ngModel]="element.delivery_agent._id"
                          (change)="deliveryAgentChange(element._id, $event)"
                          [disabled]="isSalesManager && !element.is_return">
                <mat-option *ngFor="let dg of deliveryAgentList" [value]="dg._id">
                  {{dg.first_name}} - {{dg.surname}}
                </mat-option>
              </mat-select>
              {{element.delivery_agent.first_name}} {{element.delivery_agent.surname}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sender_name">
          <mat-header-cell *matHeaderCellDef class="header">فرستنده
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="content">
            <span *ngIf="element.from_customer_name">{{element.from_customer_name}}</span>
            <span *ngIf="!element.from_customer_name">{{element.from_warehouse_name}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="receiver_name">
          <mat-header-cell *matHeaderCellDef class="header">گیرنده
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="content">
            <span *ngIf="element.to_warehouse_name">{{element.to_warehouse_name}}</span>
            <span *ngIf="element.to_recipient">{{element.to_recipient}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shelf_code" *ngIf="isHubClerk">
          <mat-header-cell *matHeaderCellDef class="header">کد قفسه</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content"> {{element.shelf_code}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_delivered">
          <mat-header-cell *matHeaderCellDef class="header">وضعیت</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content">{{getDeliveryStatus(element)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="view_details" *ngIf="isSalesManager">
          <mat-header-cell *matHeaderCellDef class="header">نمایش جزئیات</mat-header-cell>
          <mat-cell *matCellDef="let element" class="content details-button">
            <div (click)="showDetails(element._id)">
              <mat-icon color="primary">details</mat-icon>
            </div>
          </mat-cell>
        </ng-container>

        <!--Expanded Content Column - The order rows is made up of this one column-->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let detail">

            <table class='orderLineDetail'>
              <tr *ngFor='let ol of detail.order.orders'>
                <td>
                  <p style="margin: 10px">
                    <b> تاریخ ثبت سفارش: </b> {{getDate(ol.order_lines[0].order_time)}}</p>
                </td>
                <td>
                  <p style="margin: 10px">
                    <b>شماره فاکتور: </b>{{ol.order_lines[0].transaction_id}}
                  </p>
                </td>
                <td>
                  <p style="margin: 10px">
                    <b>نام مشتری: </b>{{ol.order_lines[0].toCustomerName ? ol.order_lines[0].toCustomerName
                    : 'مشتری مهمان: ' + ol.order_lines[0].toRecipientName}}
                  </p>
                </td>
                <td>
                  <button mat-button color="primary" (click)="showOrderLine(ol.order_lines)">نمایش</button>
                </td>
              </tr>
            </table>
          </mat-cell>
        </ng-container>

        <!-- mat-row and mat-row-collapsed -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row._id"
                 (click)="expandedElement = row._id"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.order._id == expandedElement ? 'expanded' : 'collapsed'"
                 style="overflow: hidden; height: 0px; min-height: 0px; visibility: hidden">
        </mat-row>

      </mat-table>
    </div>
    <div dir="rtl">
      <mat-paginator [length]="totalRecords" [pageIndex]="offset / limit" [pageSize]="limit"
                     [pageSizeOptions]="[5, 10, 20, 50]"
                     (page)="changePageSetting($event)">
      </mat-paginator>
    </div>
  </div>
  <div *ngIf="selectedDelivery">
    <h3></h3>
  </div>
</mat-card>
