.demo-area {
  margin-top: 30px;
  max-width: 970px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

/*Alignment based on horizontal-vertical align*/

/* Bottom left text */
.left-top {
  position: absolute;
  top: 0%;
  left: 2%;
  text-align: left;
}

/* Bottom left text */
.left-center {
  position: absolute;
  bottom: 33.33%;
  left: 2%;
  text-align: left;
}

/* Center left text */
.left-bottom {
  position: absolute;
  bottom: 15%;
  left: 2%;
  text-align: left;
}

/* Top left text */
.center-top {
  position: absolute;
  top: 0%;
  left: 37%;
}

/* Top right text */
.center-center {
  position: absolute;
  bottom: 33.33%;
  left: 37%;
}

/* Bottom right text */
.center-bottom {
  position: absolute;
  bottom: 15%;
  left: 37%;
}

.right-top {
  position: absolute;
  top: 0%;
  right: 2%;
  text-align: right;
}

.right-center {
  position: absolute;
  bottom: 33.33%;
  right: 2%;
  text-align: right;
}

.right-bottom {
  position: absolute;
  bottom: 15%;
  right: 2%;
  text-align: right;
}

.default-color {
  color: white;
}

.sub-title {
  white-space: nowrap;
  text-align: right;
  margin-right: 15px
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 1000;*/
  font-weight: bolder;
}

.shop-button {
  color: black;
  font-size: large ;
  font-family: 'irankharazmi';
  font-weight: bolder;
}
.full-width {
  width: 100%;
}

.top-title, .top-text {
  text-align: right;
  margin-right: 35px
}

.h2-sub-title {
  text-align: right;
  margin-right: 10px
}

.controller-area {
  display: inline-block;
  z-index: 1000;
  position: absolute;
  color: black;
}

.controller-button:hover {
  background-color: rgba(42,63,199,0.68);
}

.move-button {
  color: black;
}