<h3 >تصویر بند انگشتی:</h3>
  
<div fxLayout="row">
  <div fxFlex="70">
    <app-uploader [single]="true" [url]="'product/image/'+ data.productId + '/' +  data.product_color._id  + '/' + true" (OnCompleted)="setThumbnail($event)"></app-uploader>
  </div>
  <div fxFlex="30" style="text-align: center">
    <img *ngIf="thumbnailURL" [src]="thumbnailURL" style="width: 220px; height: 220px;">
  </div>
</div>
<mat-divider style="margin-top: 20px"></mat-divider>
<h3 >سایر تصاویر:</h3>

<div *ngIf="thumbnailURL">
    <app-uploader [single]="false" [url]="'product/image/'+ data.productId + '/' +  data.product_color._id  + '/' + false" (OnCompleted)="addAngle($event)"></app-uploader>
  </div>

  <div >
    <div *ngFor="let angle of data.product_color.image?.angles" style="display: inline-block">
  
    <mat-card class="card">
      <mat-card-content>
      <img mat-card-image [src]="getURL(angle)" style="width:220px">
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="removeAngle(angle)">
          <mat-icon aria-label="remove angle image">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

 
