<div style="direction: rtl" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="80" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="10" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <div *ngIf="curStatus === statusEnum.details">
      <div>
        <label>برای تکمیل ثبت نام لطفا شماره تلفن همراه خود را وارد کنید</label>
      </div>
      <div class="input-container">
        <input class="input-field" type="text" [(ngModel)]="mobile_no" (ngModelChange)="checkMobilePattern()"
               placeholder="تلفن همراه"
               [ngClass]="mobileHasError ? 'input-error' : null"/>
      </div>
      <div class="field-error" *ngIf="mobileHasError">
        <label>لطفا شماره تلفن معتبری وارد کنید</label>
      </div>
      <div class="div-btn inform-btn clickable-link" (click)="addMobileNumber()">
        <label>ارسال</label>
      </div>
    </div>
    <div *ngIf="curStatus === statusEnum.verify">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="33">
          <div class="center">لطفا کد ارسال شده به شماره همراه وارد شده را</div>
          <div class="center">در بخش زیر وارد کنید</div>
        </div>
        <div fxFlex="33" class="box-center input-container">
          <input class="input-field" type="number" [(ngModel)]="code" placeholder="کد"/>
        </div>
        <div fxFlex="33" class="full-width">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50" class="div-btn inform-btn clickable-link" (click)="resendCode()">
              <label>ارسال مجدد کد</label>
            </div>
            <div fxFlex="50" class="div-btn inform-btn clickable-link" (click)="logout()">
              <label>خروج با اطلاعات فعلی</label>
            </div>
          </div>
          <div class="div-btn inform-btn clickable-link" (click)="checkCode()">
            <label>ارسال کد</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
