<div class="details-container">
  <div mat-dialog-title>
    <button mat-icon-button (click)="closeDialog()" style="float: left">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
    <h2>رهگیری ارسال</h2>
  </div>
  <mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>وضعیت</label>
      </div>
      <div fxFlex="70">
        <div *ngFor="let s of data.status_list" class="status-line" [style.background-color]="!s.is_processed ? '#00800087' : 'white'"
          fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="30" class="status">{{getStatus(s)}}</div>
          <div fxFlex="30" class="status-date status">{{getDate(s)}}</div>
          <div fxFlex="30" class="status-time status">{{getTime(s)}}</div>
        </div>
      </div>
    </div>
    <hr *ngIf="data.delivery_end" />
    <div *ngIf="data.delivery_end" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30">
        <label>امضا/کارت ملی دریافت کننده</label>
      </div>
      <div fxFlex="70">
        <img [src]="getImageUrl(data.delivered_evidence)" class="delivered-evidence"/>
      </div>
    </div>
    <!-- <hr *ngIf="isOnDelivery()" />
    <div *ngIf="isOnDelivery()">
      
    </div> -->
  </mat-dialog-content>
</div>