<mat-card [class.dashed]="notExist">
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center top" fxLayout.xs="column">
      <div fxFlex="25" class="thumbnail">
        <a [routerLink]="['/', 'product', product.product_id, product.color.id]">
          <span style="margin:0;">
        <p *ngIf="notExist" class="soldOut">موجود نیست</p>
          <img src="{{product.thumbnail}}">
          </span>
        </a>
      </div>
      <div fxFlex="75" class="item-name-and-data">
        <div>
          <div fxLayout="row" fxLayoutAlign="center top">
            <div fxFlex="70">
              <h4><a [routerLink]="['/', 'product', product.product_id, product.color.id]">{{product.name}}{{' '}}</a>
              </h4>
            </div>
            <div fxFlex="30" class="main-price">
              <section *ngIf="!notExist">{{displayTotalPrice}}</section>
              <section *ngIf="notExist && !stock">ناموجود</section>
              <section *ngIf="notExist && stock">فقط {{stock}} عدد موجود است</section>
            </div>
          </div>
        </div>
        <div class="item-data">
          <div>
            <p>اندازه:</p>
            <span>{{displaySize}}</span>
          </div>
          <br>
          <div>
            <p>تعداد:</p>
            <span>{{displayQuantity}} {{' عدد'}}</span>
            <section>{{displayPrice}}</section>
          </div>
          <br>
          <div>
            <p>رنگ:</p>
            <span>{{product.color.name}}</span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
          <button fxFlex="30" fxFlex.xs=50 (click)="deleteProduct()">حذف</button>
          <button fxFlex="30" fxFlex.xs=50 (click)="openEditOrder()">ویرایش</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
