<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center top" fxLayout.xs="column">
      <div fxFlex="25" style="text-align: right">
        <a [routerLink]="['/', 'product', product.id, product.color.color_id]">
          <img src="assets/pictures/product-small/{{product.thumbnail}}"
               style="width: 90%; height:100%; cursor: pointer;">
        </a>
      </div>
      <div fxFlex="75" style="text-align: right; font-family: iranyekan;">
        <div style="height: 30%;">
          <div fxLayout="row" fxLayoutAlign="center top" fxLayout.xs="column"
               style=" display: inline-block;">
            <div fxFlex="70" style="margin-top: 5px; display: inline-block; cursor: pointer">
              <b><a style="text-decoration : underline">{{product.name}}{{' '}}</a></b>
              <b><a *ngFor="let t of product.tags" style="text-decoration : underline">{{t}}{{' '}}</a></b>
            </div>
            <div fxFlex="30" style="margin-top: 5px;display: inline-block; text-align: left;">
              <span style="color: #fa5400; font-size: small">{{total_price.name}}{{' '}}{{'تومان'}}</span>
            </div>
          </div>
        </div>
        <div style="height: 60%;">
          <div style="display: inline-block;">
            <b style="display: inline-block;">سایز : </b>
            <div style="color: gray; display: inline-block;">{{' '}}{{product.size.name}}</div>
          </div>
          <br>
          <div style=" display: inline-block;">
            <b style=" display: inline-block;">تعداد : </b>
            <div style="color: gray;display: inline-block;">{{' '}} {{product.quantity.name}} {{'عدد'}}{{' '}}</div>
            <div style=" display: inline-block; color: #fa5400; margin-right: 8px">{{product.price.name}}{{'@'}}</div>
          </div>
          <br>
          <div style=" display: inline-block;">
            <div style=" display: inline-block; font-weight: bold"><b>رنگ : </b></div>
            <div style=" display: inline-block; color: gray;margin-right: 8px;">{{product.color.name}}</div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column"
             style="height: 10%;">
          <button fxFlex="30" (click)="deleteProduct()" class="btn-style">حذف</button>
          <button fxFlex="30" (click)="openEditOrder()" class="btn-style">ویرایش</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
