.card-view {
  margin: 10px;
  width: 50%;
}

.btn-container button {
  padding: 10px;
  background: black;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 8px;
  outline: none;
}

.btn-container button:hover {
  background: #888;
}

.thumbnail img {
  height: 100%;
  cursor: pointer;
}
.item-name-and-data {
  text-align: right;
  font-family: iranyekan, sans-serif;
}
.item-name-and-data a {
  text-decoration: none;
  color: black;
}
.item-data div {
  display: inline-block;
  margin: 0px 0px 6px;
}
h4 {
  font-family: irankharazmi, sans-serif;
  display: inline-block;
  margin: 19px 0px 19px 0px;
}
.main-price {
  text-align: left;
}
.main-price section {
  margin: 19px 0px 19px 0px;
}
.item-data p {
  display: inline-block;
  width: 40px;
  font-weight: bold;
  margin: 0;
}
.item-data span {
  color: grey;
}
section {
  color: #fa5400;
  margin-right: 8px;
  display: inline-block;
}
@media (min-width: 600px) {

  .thumbnail {
    text-align: right;
    min-width: 240px;
  }

  .thumbnail img {
    width: 220px;
  }
  .btn-container {
    position: absolute;
    bottom: 30px;
    width: 75%;
    max-width: calc(100% - 240px);
  }
  .item-name-and-data {
    max-width: calc(100% - 260px);
  }
}

@media (max-width: 599px) {
  .thumbnail {
    text-align: center;
  }

  .thumbnail img {
    width: 100%;
  }

  .item-name-and-data {
    width: 100%;
  }
}
