.card-view {
  margin: 10px;
  width: 50%;
}

.btn-container button {
  padding: 10px;
  background: black;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 8px;
  outline: none;
}

.btn-container button:hover {
  background: #888;
}

.thumbnail img {
  height: 100%;
  cursor: pointer;
}

@media (min-width: 600px) {

  .thumbnail {
    text-align: right;
    min-width: 240px;
  }

  .thumbnail img {
    width: 220px;
  }
  .btn-container {
    position: absolute;
    bottom: 30px;
    width: 75%;
    max-width: calc(100% - 240px);
  }
}

@media (max-width: 599px) {
  .thumbnail {
    text-align: center;
  }

  .thumbnail img {
    width: 100%;
  }
}
