mat-panel-title {
  font-size: 1.4em;
  font-weight: bold;
}

.outer-div {
  dir: ltr;
}

.middle-div-wrapper {
  dir: rtl;
}

.middle-div {
  padding: 10px;
  width: 95%;
}

.payment-button {
  padding: 10px;
  border: 0px;
  font-size: 12pt;
  background: #cfde29;
  color: white;
  width: 120px;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}

.line {
  margin-top: 4%;
  background-color: #e2e2e2;
}

.checkout-page {
  color: #8f8f8f;
}
