<div fxLayout="row" style="direction: ltr">
  <div fxFlex="70" fxFlex.sm="80" fxFlex.xs="100"
       fxFlexOffset="15" fxFlexOffset.sm="10" fxFlexOffset.xs="0">
    <div fxLayout="row" fxLayout.sm="column-reverse" fxLayout.xs="column-reverse"
         fxLayoutAlign="start start" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center"
         style="direction: rtl">
      <div fxFlex="30" class="checkout-box" style="margin: 10px; width: 80%">
        <app-checkout-summary [total]="total" [discount]="discount" [usedBalance]="usedBalance"
                              [usedLoyaltyPoint]="usedLoyaltyPoint"></app-checkout-summary>
      </div>
      <div fxFlex="70" class="checkout-box" style="margin: 10px; width: 80%">
        <app-payment-type [balance]="balanceValue" [loyaltyPoint]="loyaltyPoint"
                          (selectedType)="changePaymentType($event)"></app-payment-type>
        <app-address-table></app-address-table>
      </div>
    </div>
  </div>
</div>
