.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.gender-choice {
  cursor: pointer;
}

.selected-gender {
  border-color: black;
}

.dp-hint {
  position: relative;
  top: 5px;
}
