.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.gender-choice {
  cursor: pointer;
}

.selected-gender {
  border-color: black;
}

.dp-hint {
  position: relative;
  top: 5px;
}

.full-width {
  margin: unset;
}

.box-center {
  width: unset;
}

.box-center input {
  text-align: center;
}

.dob {
  padding: 5px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 5px;
  margin-left: 5px;
  width: calc(100% - 7px);
}
