<div class="details-container">
  <div mat-dialog-title>
    <button mat-icon-button (click)="closeDialog()" style="float: left">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
    <h2>جزئیات ارسال</h2>
  </div>
  <mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>ارسال از</label>
      </div>
      <div fxFlex="70">
        <div>
          <div class="address-part address-title">استان</div>
          <div class="address-part">{{getAddressPart('from', 'province')}}</div>
        </div>
        <div>
          <div class="address-part address-title">شهر</div>
          <div class="address-part">{{getAddressPart('from', 'city')}}</div>
        </div>
        <div>
          <div class="address-part address-title">منطقه</div>
          <div class="address-part">{{getAddressPart('from', 'district')}}</div>
        </div>
        <div>
          <div class="address-part address-title">خیابان</div>
          <div class="address-part">{{getAddressPart('from', 'street')}}</div>
        </div>
        <div>
          <div class="address-part address-title">پلاک</div>
          <div class="address-part">{{getAddressPart('from', 'no')}}</div>
        </div>
        <div>
          <div class="address-part address-title">واحد</div>
          <div class="address-part">{{getAddressPart('from', 'unit')}}</div>
        </div>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>ارسال به</label>
      </div>
      <div fxFlex="70">
        <div>
          <div class="address-part address-title">استان</div>
          <div class="address-part">{{getAddressPart('to', 'province')}}</div>
        </div>
        <div>
          <div class="address-part address-title">شهر</div>
          <div class="address-part">{{getAddressPart('to', 'city')}}</div>
        </div>
        <div>
          <div class="address-part address-title">منطقه</div>
          <div class="address-part">{{getAddressPart('to', 'district')}}</div>
        </div>
        <div>
          <div class="address-part address-title">خیابان</div>
          <div class="address-part">{{getAddressPart('to', 'street')}}</div>
        </div>
        <div>
          <div class="address-part address-title">پلاک</div>
          <div class="address-part">{{getAddressPart('to', 'no')}}</div>
        </div>
        <div>
          <div class="address-part address-title">واحد</div>
          <div class="address-part">{{getAddressPart('to', 'unit')}}</div>
        </div>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>ارسال کننده</label>
      </div>
      <div fxFlex="70">
        <div>{{data?.delivery_agent.first_name}} - {{data?.delivery_agent.surname}}</div>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label *ngIf="!data.is_return">دریافت کننده</label>
        <label *ngIf="data.is_return">بازگشت دهنده</label>
      </div>
      <div fxFlex="70">
        <label>{{getDestinationName()}}</label>
        <label class="phone_number">شماره تماس: {{getDestinationPhone()}}</label>
      </div>
      <hr />
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>نوع</label>
      </div>
      <div fxFlex="70">
        <label *ngIf="data.is_return">بازگشتی</label>
        <label *ngIf="!data.is_return">ارسالی</label>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>بازه</label>
      </div>
      <div fxFlex="70">
        <label>{{data.min_slot?.lower_bound}} - {{data.min_slot?.upper_bound}}</label>
      </div>
    </div>
    <hr *ngIf="isHubClerk" />
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="isHubClerk">
      <div fxFlex="30" class="header-label">
        <label>کد قفسه</label>
      </div>
      <div fxFlex="70">
        <label>{{data.shelf_code}}</label>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>زمان پیش فرض ارسال</label>
      </div>
      <div fxFlex="70">
        <div>
          <div class="address-part address-title">تاریخ</div>
          <div class="address-part">{{getFormattedDate(start_date)}}</div>
        </div>
        <!--<div>-->
          <!--<div class="address-part address-title">ساعت</div>-->
          <!--<div class="address-part">{{start_time.h || '-'}} : {{start_time.m || '-'}}</div>-->
        <!--</div>-->
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" classs="header-label">
        <label>(حداکثر زمان دریافت)</label>
      </div>
      <div fxFlex="70">
        <label style="direction: ltr">{{getMaxValidEndDate()}}</label>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>زمان شروع به ارسال</label>
      </div>
      <div fxFlex="70">
        <div>
          <label class="inner-label">تاریخ</label>
          <label>{{getFormattedDate(data.delivery_start)}}</label>
        </div>
        <div>
          <label class="inner-label">ساعت</label>
          <label>{{getFormattedClock(data.delivery_start)}}</label>
        </div>
      </div>
    </div>
    <hr />
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="30" class="header-label">
        <label>زمان تحویل کالا به مقصد</label>
      </div>
      <div fxFlex="70">
        <div>
          <label class="inner-label">تاریخ</label>
          <label>{{getFormattedDate(data.delivery_end)}}</label>
        </div>
        <div>
          <label class="inner-label">ساعت</label>
          <label>{{getFormattedClock(data.delivery_end)}}</label>
        </div>
      </div>
    </div>
    <div *ngIf="data.product_instances?.length">
      <hr />
      <hr />
      <div class="center">
        <label>کالاهای موجود</label>
      </div>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td class="product-table-header">نام</td>
          <td class="product-table-header">سایز</td>
          <td class="product-table-header">رنگ</td>
          <td class="product-table-header">بارکد</td>
        </tr>
        <tr *ngFor="let pi of data.product_instances; let i = index" [class.odd-row]="i % 2 === 0">
          <td class="product-table-content">{{pi.product_name}}</td>
          <td class="product-table-content">{{pi.size}}</td>
          <td class="product-table-content">{{getProductColorName(pi)}}</td>
          <td class="product-table-content">{{pi.barcode}}</td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
</div>
