.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: relative;
    font-family: iranyekan, sans-serif;
}

.order-data {
    margin-top: 5px;
    font-family: iranyekan, sans-serif;
}

.order-data div {
    text-align: right;
}

.order-data div span:nth-of-type(2) {
    font-weight: bold;
}

.info-cell {
    padding: 6px;
}

.eye-style {
    text-align: left !important;
    font-size: 18px;
}

mat-header-cell {
  text-align: center;
  font-size: 13px;
    font-weight: bold;
    color: #000;
}

mat-cell {
    text-align: center;
}

.button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

dp-day-calendar .dp-day-calendar-container {
    position: absolute !important;
    top: -300px !important;
    right: -300px !important;
  }

.status-button {
  text-align: center;
  padding: 4px;
  background-color: black;
  color: white;
  height: 40px !important;
  border: 0;
  margin: 2px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
