<h3>گزارش سفارش ها</h3>
<mat-table [dataSource]="profileOrder" class="example-container mat-elevation-z8">
    <!-- Number Column -->

    <ng-container matColumnDef="col_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ردیف</mat-header-cell>
        <mat-cell *matCellDef="let order">{{(profileOrder.indexOf(order)+1).toLocaleString('fa')}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="order_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>کد سفارش</mat-header-cell>
        <mat-cell *matCellDef="let order" style="color: #2b626d">{{order._id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>زمان ارسال</mat-header-cell>
        <mat-cell *matCellDef="let order">
            {{order.jalali_date}}
            <br>
            {{order.time}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="order_lines">
        <mat-header-cell *matHeaderCellDef mat-sort-header>تعداد ارقام کالا</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order.order_lines.length.toLocaleString('fa')}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="total_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>هزینه کل</mat-header-cell>
        <mat-cell *matCellDef="let order">{{makePersianNumber(order.total_amount)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ارسال شده به</mat-header-cell>
        <mat-cell *matCellDef="let order">استان {{order.address.province}} شهر {{order.address.city}}
            <br>
            {{order.address.district}} {{order.address.street}} پلاک {{makePersianNumber(order.address.no)}} واحد
            {{makePersianNumber(order.address.unit)}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view_details">
        <mat-header-cell *matHeaderCellDef mat-sort-header>مشاهده جزییات</mat-header-cell>
        <mat-cell *matCellDef="let order" style=" font-size: 20px"><a class="clickable-link" target="_blank" (click)="goToOrderLines()" style="color: #000;"><i class="fa fa-search-plus"></i></a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
</mat-table>

