.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
    font-family: iranyekan, sans-serif;
}

mat-header-cell {
  text-align: center;
  font-size: 13px;
    font-weight: bold;
    color: #000;
}

mat-cell {
    text-align: center;
}