<mat-card class="card-view">
  <mat-card-header>
    <mat-card-title>
      <h2> {{ duration_id ? 'ویرایش بازه زمانی' : 'افزودن بازه زمانی' }} </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="durationForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" dir="rtl">
        <div fxFlex="30" class="field-container">
          <mat-input-container class="field farsi">
            <input matInput type="text" placeholder="عنوان بازه زمانی" formControlName="name" role="name" (focus)="setSeen('name')"
              (blur)="curFocus = null" tabindex="1" />
            <mat-hint>عنوان بازه زمانی را وارد کنید</mat-hint>
            <mat-error *ngIf="durationForm.controls['name'].hasError('required')
              && seen['name'] && curFocus !== 'name'">
              وارد کردن عنوان بازه زمانی الزامی است
            </mat-error>
          </mat-input-container>
        </div>
        <div fxFlex="30" class="field-container">
          <mat-input-container class="field farsi">
            <input matInput type="number" placeholder="مدت زمان ارسال" formControlName="delivery_days" role="delivery_days"
              (focus)="setSeen('delivery_days')" (blur)="curFocus = null" tabindex="2" />
            <mat-hint>مدت زمان ارسال را وارد کنید</mat-hint>
            <mat-error *ngIf="durationForm.controls['delivery_days'].hasError('required')
               && seen['delivery_days'] && curFocus !== 'delivery_days'">
              وارد کردن مدت زمان ارسال الزامی است
            </mat-error>
          </mat-input-container>
        </div>
        <div fxFlex="30" class="field-container">
          <mat-input-container class="field farsi">
            <input matInput type="number" placeholder="هزینه ارسال برای تهران" formControlName="city_cost" role="city_cost"
              (focus)="setSeen('city_cost')" (blur)="curFocus = null" tabindex="3" />
            <mat-hint>هزینه ارسال را وارد کنید</mat-hint>
            <mat-error *ngIf="durationForm.controls['city_cost'].hasError('required')
               && seen['city_cost'] && curFocus !== 'city_cost'">
              وارد هزینه ارسال الزامی است
            </mat-error>
          </mat-input-container>
        </div>
      </div>
    </form>
    <div *ngFor="let fl of formLoyaltyInfo; let i = index " fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start"
      fxLayoutAlign.xs="center center" dir="rtl" class="loyalty-wrapper">
      <div fxFlex="30" class="loyalty-cost">ارزش
        هر امتیاز وفاداری {{fl.name}} بر حسب تومان
      </div>
      <div fxFlex="30" class="field-container">
        <mat-input-container>
          <input matInput type="number" placeholder="ارزش امتیاز {{fl.name}}" (focus)="setSeen(fl.name)" (blur)="curFocus = null"
            tabindex="4" [class.input-error]="seen[fl.name] && !costValue[fl.name]" [(ngModel)]="costValue[fl.name]"
            (ngModelChange)="changeValue(fl)" />
        </mat-input-container>
        <mat-error class="field-error" *ngIf="!costValue[fl.name] && seen[fl.name] && curFocus !== fl.name">
          ارزش امتیاز وفاداری {{fl.name}} را تعیین کنید
        </mat-error>
      </div>
      <div class="button-wrapper" fxFlex="40">
        <div *ngIf="i === formLoyaltyInfo.length-1">
          <button mat-button class="submit-button" style="margin-left: 10px" (click)="backToComponent()">
            بازگشت
          </button>
          <button mat-button class="submit-button" (click)="saveDurationInfo()" [disabled]="!durationForm.valid ||
                  (duration_id && !anyChanges && !anyFiledChanges) ||
                  filedValidation">
            تایید
          </button>
        </div>
      </div>
    </div>
    <div class="farsi">
      <h5>حداقل هزینه های خرید - تحویل رایگان</h5>
      <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="40" dir="rtl">
          <mat-select placeholder="استان" class="full-width" [(ngModel)]="freeDeliveryItem.province">
            <mat-option *ngFor="let province of provinceList" [value]="province">{{province}}</mat-option>
          </mat-select>
        </div>
        <div fxFlex="40" dir="rtl">
          <mat-input-container class="full-width">
            <input matInput type="number" placeholder="حداقل هزینه ی خرید (تومان)" [(ngModel)]="freeDeliveryItem.min_price"/>
          </mat-input-container>
        </div>
        <div fxFlex="10">
          <button mat-icon-button (click)="applyFreeDeliveryChanges()">
            <mat-icon aria-label="Apply">done</mat-icon>
          </button>
        </div>
        <div fxFlex="10">
          <button mat-icon-button (click)="clearFreeDeliveryFields()">
            <mat-icon aria-label="Clear Fields">close</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <mat-table #table [dataSource]="freeDeliveryDataSource">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef><span>ردیف</span></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span>{{(element.position).toLocaleString('fa')}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="province">
            <mat-header-cell *matHeaderCellDef><span>استان</span></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span>{{element.province}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="min_price">
            <mat-header-cell *matHeaderCellDef><span>حداقل هزینه خرید</span></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span>{{element.min_price}}</span>
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef><span>ویرایش</span></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editFreeDeliveryOption(element.id)">
                <mat-icon aria-label="edit">edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef><span>حذف</span></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="removeFreeDeliveryOption(element.id)">
                <mat-icon aria-label="Remove">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="freeDeliveryDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: freeDeliveryDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-card-content>
</mat-card>