.row{
    margin: 0px 10px;
}
h2{
  font-family: iranyekan;
}
.mat-card-header{
  direction:rtl
}
.loyalty-cost {
  font-family: iranyekan;
  position: relative;
  top: 25px;
  font-wieght:bolder;
  font-size: 14px
}
.loyalty-wrapper {
  margin-top: 20px;
}
.field-container{
    width: 100%;
    margin: 5px;
}

.field{
    width: 100%;
}

.farsi{
    direction:rtl;
}

.button-wrapper {
  text-align: left;
  width: 100%;
}
.submit-button {
  background-color: #d9d9d9;
  margin-top: 17px;
  margin-left: 45px;
}
