<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
     fxLayoutAlign.xs="center center">
  <div fxFlex="40">
    <h2 class="title-area"><i class="fa fa-credit-card"></i> نوع پرداخت</h2>
    <div class="box-area">
      <mat-radio-group [(ngModel)]="selectedPaymentType" (change)="paymentTypeChanged()">
        <mat-radio-button *ngFor="let type of paymentTypes" [value]="type.value" class="payment-type"
                          [disabled]="type.disabled" [color]="danger">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutAlign="start start">
            <div fxFlex="50">
              {{type.name}}
            </div>
            <div fxFlex="30">
              <label *ngIf="type.amount !== null && type.amount !== undefined">{{priceFormatter(type.amount)}}</label>
              <label *ngIf="type.name === 'کسر از موجودی'">تومان </label>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
