<div class="box-area">
  <div>
    <mat-radio-group [(ngModel)]="selectedPaymentType" (change)="paymentTypeChanged()">
      <mat-radio-button *ngFor="let type of paymentTypes" [value]="type.value" class="payment-type"
                        [disabled]="type.disabled" [color]="danger">
        <div fxLayout="row" style="width: 100%">
          <div fxFlex="90">
            <label>{{type.name}}</label>
          </div>
          <div fxFlex="10">
            <label *ngIf="type.amount !== null && type.amount !== undefined">({{priceFormatter(type.amount)}})</label>
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
