<div class="box-area">
  <mat-radio-group [(ngModel)]="selectedPaymentType" (change)="paymentTypeChanged()">
    <mat-radio-button *ngFor="let type of paymentTypes" [value]="type.value" class="payment-type"
                      [disabled]="type.disabled" [color]="danger">
      <div fxLayout="row" style="padding-right: 5px">
        <div fxFlex="40">
          <label>{{type.name}}</label>
        </div>
        <div fxFlex="60">
          <label *ngIf="type.amount !== null && type.amount !== undefined">{{priceFormatter(type.amount)}}</label>
          <label *ngIf="type.name === 'موجودی'">تومان </label>
        </div>
      </div>
    </mat-radio-button>
  </mat-radio-group>
</div>
