.div-lable {
    font-family: iranyekan;
    margin-right: 5px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    direction: ltr !important;
}

.city-del-cost {
    font-family: iranyekan;
    margin-top: 8px;
    width: 40%;
}

.action-button {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    height: 35px !important;
    border: 0;
    margin: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-edit-cost-btn {
    margin-top: 20px;
    width: 50%;
    text-align: center;
}