

<div class="example-container mat-elevation-z8" dir="rtl">
  

  <mat-table *ngIf="dataSource;else otherContent" #table [dataSource]="dataSource" class="example-table" >

    <!-- position -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> شماره</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
    </ng-container>
    
    <!-- agent_username -->
    <ng-container matColumnDef="agent_fullname">
      <mat-header-cell *matHeaderCellDef> نام مسئول</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.agent_fullname}}</mat-cell>
    </ng-container>

    <!-- warehouse_name -->
    <ng-container matColumnDef="receiver">
      <mat-header-cell *matHeaderCellDef> نام انبار </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.receiver}}</mat-cell>
    </ng-container>

    <!-- desc -->
    <!-- <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef> توضیحات </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
    </ng-container> -->

    <!-- status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> تیکت </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getStatus(element.status)}}</mat-cell>
    </ng-container>
    
    <!-- is_processed -->
    <ng-container matColumnDef="is_processed">
      <mat-header-cell *matHeaderCellDef> وضعیت  </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.is_processed">done</mat-icon>
        <mat-icon *ngIf="!element.is_processed">clear</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- timestamp -->
    <ng-container matColumnDef="timestamp">
      <mat-header-cell style="text-align: center;" *matHeaderCellDef> تاریخ </mat-header-cell>
      <mat-cell dir="ltr" *matCellDef="let element"> {{element.timestamp}}</mat-cell>
    </ng-container>

    <ng-template *ngIf="!dataSource" #otherContent>
      <mat-cell>
        <h1> تیکتی برای این سفارش یافت نشد </h1>
      </mat-cell>
    </ng-template>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
