.search-result-panel {
  direction: rtl;
  background-color: #FF009C;
  padding: 3px;
  z-index: 100;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 109px;
  height: calc(100vh - 116px);
}

.search-title-lith {
  text-align: right;
  margin-right: 60px;
  font-size: 20px;
  margin-top: 40px;
  height: 43px;
}

.search-result-wrapper {
  background-color: #FF009C;
  width: 100%;
  margin: 0;
  border: 0;
  z-index: 100;
  padding-bottom: 15px;
  height: 615px;
}


.search-item {
  text-align: right;
  cursor: pointer;
  font-weight: normal !important;
  margin-top: 10px;
}

.search-item div {
  padding: 0 10px;
}

.search-item div img {
  width: 100%;
}

.search-name {
  /*white-space: pre-wrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.search-brand, .search-type {
  font-size: 10px;
  text-align: right;
  color: white;
  padding-right: 0px !important;
}

.not-found {
  color: darkred;
  margin: 10px;
  text-align: center;
}

.badge-icon {
  font-size: 12px;
  font-weight: 100;
  position: absolute;
  color: white;
  left: -6px;
  top: -16px;
  width: 13px;
  text-align: center;
  line-height: 13px;
  z-index: 10;
}

#header-cart span:nth-child(1) {
  position: relative;
  z-index: 2;
}

#header-cart span:nth-child(2) svg {
  position: absolute;
  left: 2px;
  top: 9px;
  z-index: 1;
}

#header-cart span:nth-child(3) {
  position: absolute;
  left: 5px;
  top: 13px;
  z-index: 1;
}

.search-input {
  text-align: center;
  width: 100%;
  border-radius: 0px;
  border-style: none;
  height: 40px;
  background: #FF009C;
  font-size: 20px;
  position: relative;
  top: 60px
}

.search-input::placeholder {
  text-align: center;
  font-size: 22px;
  color: #FFFFFF80;
  font-family: iranyekan, sans-serif;
}

.best-offer {
  font-size: 15px;
  font-weight: bold;
  margin-right: 60px;
  height: 35px;
}

.all-prod {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

.font-style {
  color: white;
  font-family: iranyekan, sans-serif;
}

.collection-results {
  text-align: left;
}

.collection-results button {
  text-align: left;
}

.showcase {
  overflow-y: auto;
  max-height: calc(100vh - 415px);
}

.collection-results > button {
  position: absolute;
  bottom: 10px;
  left: 0;
}
