.search-data {
  z-index: 10000;
}

.search-result-panel {
  direction: rtl;
  background-color: #ff1f8c;
  padding: 3px;
  z-index: 100;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 109px;
  height: 300px;
}

.search-result-wrapper {
  background-color: #ff1f8c;
  position: fixed;
  top: 409px;
  width: 100%;
  margin: 0;
  border: 0;
  z-index: 100;
}

.search-item {
  text-align: right;
  cursor: pointer;
  font-weight: normal !important;
  margin-top: 10px;
}

.search-item div {
  padding: 0 10px;
}

.search-item div img {
  width: 100%
}

.search-name {
  /*white-space: pre-wrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 5px;
  font-size: 15px;
  color: white;
  font-family: iranyekan;
  font-weight: bold;
  cursor: pointer;
}

.search-brand, .search-type, .search-article_no {
  font-size: 10px;
  text-align: right;
  color: white;
  padding-right: 0px !important;
}

.search-title {
  font-size: 0.6em;
  color: gray;
  text-align: right;
}

.second-search-item {
  text-align: right;
  margin: 3px;
}

.not-found {
  color: darkred;
  margin: 10px;
  text-align: center;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  border-width: 0.5px;
  border-color: gray;
}

.badge-icon {
  font-size: 12px;
  font-weight: 100;
  position: absolute;
  color: white;
  left: -6px;
  top: -16px;
  width: 13px;
  text-align: center;
  line-height: 13px;
  z-index: 10;
}

#header-cart span:nth-child(1) {
  position: relative;
  z-index: 2;
}

#header-cart span:nth-child(2) svg {
  position: absolute;
  left: 2px;
  top: 9px;
  z-index: 1;
}

#header-cart span:nth-child(3) {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 1;
}

.search-title-lith {
  text-align: right;
  margin-right: 60px;
  font-size: 20px;
  margin-top: 40px;
  color: white;
  height: 45%;
  font-family: iranyekan, sans-serif
}

.search-input {
  text-align: left;
  color: white;
  font-family: iranyekan, sans-serif;
  width: 50%;
  border-radius: 0px;
  border-style: none;
  height: 40px;
  background: #ff1f8c;
  font-size: 20px;
  position: relative;
  top: 60px
}

.search-input::placeholder {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: iranyekan, sans-serif;
}

.best-offer {
  color: white;
  font-family: iranyekan, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-right: 60px
}

.all-prod {
  color: white;
  text-align: left;
  font-weight: bold;
  font-family: iranyekan, sans-serif;
  font-size: 12px
}

