<div class="main">
  <mat-tab-group dir="rtl">



    <!-- when agents is sales manager -->
    <ng-container *ngIf="isSalesManager; else isNotSalesManager">
      <!-- inbox (صندوق ورودی) -->
      <mat-tab label="inbox">
        <ng-template mat-tab-label>
          <span>صندوق ورودی</span>
          <mat-chip-list *ngIf="newInboxCount">
            <mat-chip color="accent" selected="true">{{newInboxCount}}</mat-chip>
          </mat-chip-list>
        </ng-template>
        <app-sm-inbox (OnNewInboxCount)="newInboxCount = $event"></app-sm-inbox>
      </mat-tab>


      <!-- tracking orders (پیگیری سفارشات)-->
      <mat-tab label="outbox" *ngIf="isSalesManager">
        <ng-template mat-tab-label>
          <span>پیگیری سفارشات</span>
          <mat-chip-list *ngIf="newOutboxCount">
            <mat-chip color="accent" selected="true">{{newOutboxCount}}</mat-chip>
          </mat-chip-list>
        </ng-template>
        <app-sm-send (OnNewOutboxCount)="newOutboxCount = $event"> </app-sm-send>
        <!-- comment this line beacuse error component  -->
        <!-- <app-sc-send  *ngIf="!isSalesManager"  (OnNewOutboxCount)="newOutboxCount = $event"> </app-sc-send> -->
      </mat-tab>
    </ng-container>




    <!-- __________ T A B S ____THAT____ N O T ___ RELATED__ TO___________ SALES MANAGER__ -->
    <!-- when agent is not sales manager -->
    <ng-template #isNotSalesManager>

      <!-- inbox (صندوق ورودی) -->
      <mat-tab label="inbox">
        <ng-template mat-tab-label>
          <span>صندوق ورودی</span>
          <mat-chip-list *ngIf="newInboxCount">
            <mat-chip color="accent" selected="true">{{newInboxCount}}</mat-chip>
          </mat-chip-list>
        </ng-template>
        <app-inbox (OnNewInboxCount)="newInboxCount = $event"></app-inbox>
      </mat-tab>


      <mat-tab label="internal-send-box">
        <ng-template mat-tab-label>
          <span>ارسال داخلی</span>
        </ng-template>
        <app-internal-send-box></app-internal-send-box>
      </mat-tab>


      <mat-tab label="customer-send-box" *ngIf="isHubClerk">
        <ng-template mat-tab-label>
          <span>ارسال به مشتری</span>
        </ng-template>
        <app-customer-send-box></app-customer-send-box>
      </mat-tab>


      <mat-tab label="customer-delivery" *ngIf="isShopClerk">
        <ng-template mat-tab-label>
          <span>تحویل به مشتری</span>
        </ng-template>
        <app-customer-delivery></app-customer-delivery>
      </mat-tab>


      <mat-tab label="shelvs-view" *ngIf="isHubClerk">
        <ng-template mat-tab-label>
          <span>فهرست قفسه ها</span>
        </ng-template>
        <app-shelvs-view></app-shelvs-view>
      </mat-tab>



    </ng-template>

  </mat-tab-group>
</div>