
<div class="main">
  <mat-tab-group dir="rtl">

    <mat-tab label="inbox">
      <ng-template mat-tab-label>
        <span>صندوق ورودی</span>

        <mat-chip-list *ngIf="newInboxCount">
          <mat-chip color="accent" selected="true">{{newInboxCount}}</mat-chip>
        </mat-chip-list>
      </ng-template>

      <app-sm-inbox *ngIf="isSalesManager"  (OnNewInboxCount)="newInboxCount = $event" ></app-sm-inbox>

      <app-inbox  *ngIf="!isSalesManager" (OnNewInboxCount)="newInboxCount = $event" ></app-inbox>
      

    </mat-tab>

    
    <mat-tab label="outbox">
      <ng-template mat-tab-label>
        <span>{{outboxName}}</span>
        <mat-chip-list *ngIf="newOutboxCount">
          <mat-chip color="accent" selected="true">{{newOutboxCount}}</mat-chip>
        </mat-chip-list>
      </ng-template>
      <app-sm-send  *ngIf="isSalesManager"  (OnNewOutboxCount)="newOutboxCount = $event"> </app-sm-send>
      <!-- comment this line beacuse error component  -->
      <!-- <app-sc-send  *ngIf="!isSalesManager"  (OnNewOutboxCount)="newOutboxCount = $event"> </app-sc-send> --> 
    </mat-tab>


  </mat-tab-group>
</div>
