<!-- <button (click)="showModal()">Show Modal Ticket</button> -->
<div class="main">
  <mat-tab-group dir="rtl">
    <mat-tab label="inbox">
      <ng-template mat-tab-label>
        <span>ورودی</span>

        <mat-chip-list *ngIf="newInboxCount">
          <mat-chip color="accent" selected="true">{{newInboxCount}}</mat-chip>
        </mat-chip-list>
      </ng-template>

      <app-order-inbox (newInboxCount)="newInboxCount = $event"></app-order-inbox>

    </mat-tab>
    <mat-tab label="outbox">
      <ng-template mat-tab-label>
        <span>آماده تحویل</span>
        <mat-chip-list *ngIf="newDeliverCount">
          <mat-chip color="accent" selected="true">{{newDeliverCount}}</mat-chip>
        </mat-chip-list>
      </ng-template>
      <app-deliver (newDeliverCount)="newDeliverCount = $event"> </app-deliver>

    </mat-tab>


  </mat-tab-group>
</div>