<div>
  <div class="fixed">
    <app-header *ngIf="!isMobile"></app-header>
    <app-collection-header *ngIf="!isMobile"></app-collection-header>
    <app-mobile-header *ngIf="isMobile" [menuWidth]="curWidth - 40" [menuHeight]="curHeight"></app-mobile-header>
  </div>
  <div [class.scrollable]="!isMobile">
    <app-sliding-header *ngIf="!isMobile"></app-sliding-header>
    <div [class.content]="!isMobile" [class.mobile-content]="isMobile">
      <p-blockUI [blocked]="blockedDocument" >
      <div  *ngIf="spinnerEnabled" style="position:absolute; left: calc(50% - 98px); top: calc(50% - 98px) ">
          <mat-progress-spinner class="waiting-spinner" color="primary" [mode]="'indeterminate'" [diameter]="'35'"
                                [strokeWidth]="'4'">
          </mat-progress-spinner>
          <div style="color: white;">
            لطفا اندکی صبر کنید...
          </div>
      </div>
    </p-blockUI>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
