<div>
  <div class="fixed">
    <app-header *ngIf="!isMobile"></app-header>
    <app-collection-header *ngIf="!isMobile"></app-collection-header>
    <app-mobile-header *ngIf="isMobile" [menuWidth]="curWidth - 40" [menuHeight]="curHeight"></app-mobile-header>
  </div>
  <div [class.scrollable]="!isMobile">
    <app-sliding-header *ngIf="!isMobile"></app-sliding-header>
    <div [class.content]="!isMobile" [class.mobile-content]="isMobile">
      <div class="center-content" *ngIf="spinnerEnabled">
        <mat-progress-spinner  class="waiting-spinner" color="primary" [mode]="'indeterminate'" [diameter]="'35'" [strokeWidth]="'2'">
        </mat-progress-spinner>
        <div>
          لطفا اندکی صبر کنید...
        </div>
      </div>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
