<div class="sub-menu-area">
  <form (ngSubmit)="modifyItem()" class="fields-area" [formGroup]="appSubMenuForm">
    <div class="form-controller">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.sm="center center"
        fxLayoutAlign.xs="center center">
        <div fxFlex="25" class="full-width sub-item">
          <mat-input-container class="full-width">
            <input matInput type="text" class="persian-field menu-field" placeholder="متن" formControlName="text" />
          </mat-input-container>
        </div>
        <div fxFlex="25" class="full-width sub-item">
          <app-suggestion class="full-width persian-field" [name]="'Page'"  [placeholder]="'آدرس'" [formControlName]="'href'"
                          (add)="insertedAddress=$event" (field)="insertedAddress=$event" >
          </app-suggestion>
          <!--add label-->
          <div fxFlex="50" *ngIf="insertedAddress">
            <h3 fxFlex="50" dir="ltr" style="text-align:center"> {{insertedAddress}} </h3>
            <button mat-icon-button (click)="removeAddress()" color="primary" class="remove-collection-button">
              <mat-icon>
                <i class="material-icons">close</i>
              </mat-icon>
            </button>
          </div>
        </div>
        <div fxFlex="15" class="full-width vertical-align-item sub-item persian-field" *ngIf="(!selectedItem || !selectedItem.is_header) && !appSubMenuForm.controls['is_header'].value">
          <mat-select placeholder="بخش" formControlName="section" class="persian-field">
            <mat-option *ngFor="let sec of getSectionList()" [value]="sec" class="persian-field">{{sec}}</mat-option>
          </mat-select>
        </div>
        <div fxFlex="15" class="full-width sub-item" *ngIf="!selectedItem || selectedItem.is_header">
          <mat-input-container class="full-width">
            <input matInput type="text" class="persian-field menu-field left-text" placeholder="بخش جدید اضافه کنید" formControlName="new_section"
            />
          </mat-input-container>
        </div>
        <div fxFlex="10" class="full-width vertical-align-item sub-item">
          <mat-checkbox formControlName="is_header">
            <span *ngIf="appSubMenuForm.controls['is_header'].value">عنوان</span>
            <span *ngIf="!appSubMenuForm.controls['is_header'].value">زیر عنوان</span>
          </mat-checkbox>
        </div>
        <div fxFlex="10" class="full-width sub-item" *ngIf="appSubMenuForm.controls['is_header'].value">
          <button mat-mini-fab (click)="uploadImage()" type="button" color="primary">
            <mat-icon>
              <i class="material-icons">photo</i>
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="button-controller">
      <button mat-mini-fab color="primary" type="submit" [disabled]="!this.appSubMenuForm.valid || !this.anyChanges">
        <mat-icon>
          <i class="material-icons" *ngIf="selectedItem">create</i>
          <i class="material-icons" *ngIf="!selectedItem">done</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" type="button" (click)="removeItem()" *ngIf="selectedItem" class="remove">
        <mat-icon>
          <i class="material-icons">remove</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" type="button" (click)="clearFields()" *ngIf="selectedItem">
        <i class="fa fa-eraser"></i>
      </button>
    </div>
  </form>
  <div class="demo-area demo-list">
    <div *ngFor="let section of getSectionList(); first as isFirst; last as isLast">
      <div class="section-container">
        <img *ngIf="filteredSubMenuItems[section].details.info.imgUrl" [src]="getImage(filteredSubMenuItems[section].details.info.imgUrl)"
          class="section-image" />
        <div *ngIf="!filteredSubMenuItems[section].details.info.imgUrl" class="section-image no-image">
          &nbsp;
        </div>
        <div class="section-title persian-field">
          <div>
            <button mat-icon-button (click)="move(false, section)" [disabled]="isFirst || moveButtonsShouldDisabled" class="move-button">
              <mat-icon aria-label="انتقال به بالا">expand_less</mat-icon>
            </button>
          </div>
          <div (click)="showSubItems(section)">{{filteredSubMenuItems[section].details.info.text}}</div>
          <div>
            <button mat-icon-button (click)="move(true, section)" [disabled]="isLast || moveButtonsShouldDisabled" class="move-button">
              <mat-icon aria-label="انتقال به پایین">expand_more</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="selectedSectionSubMenu === section" [dragula]="itemBagName" [dragulaModel]="filteredSubMenuItems[section].items">
        <div *ngFor="let item of filteredSubMenuItems[section].items" (click)="selectItem(item)" class="menu-item" [ngClass]="{'selected-item': selectedItem && selectedItem._id === item._id}">
          <label class="menu-item">{{item.info.text}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
