<div style="direction: rtl;">
  <div *ngIf="isFirstStage">
    <div>
      <label>شماره تلفن همراه خود را در کادر زیر وارد نمایید تا کد تغییر رمز برایتان ارسال شود</label>
    </div>
    <div>
      <input class="input-field left-direction" placeholder="شماره تلفن همراه" [(ngModel)]="mobile_no" />
    </div>
    <div class="button-area center">
      <div class="btn-field inform-btn clickable-link" (click)="applyCode()">
        <label>دریافت کد</label>
      </div>
    </div>
  </div>
  <div *ngIf="!isFirstStage">
    <div>
      <label>کد دریافتی و رمز عبور جدید خود را وارد نمایید</label>
    </div>
    <form (ngSubmit)="changePassword()" [formGroup]="chPassForm">
      <div class="input-container">
        <input class="input-field left-direction" placeholder="کد ارسال شده" [ngClass]="chPassForm.controls['code'].hasError('required') && seen['code'] && curFocus !== 'code' ? 'input-error' : null"
          formControlName="code" (focus)="setSeen('code')" (blur)="curFocus = null" (keypress)="keyPress($event)" />
        <label *ngIf="chPassForm.controls['code'].hasError('required') && seen['code'] && curFocus !== 'code'" class="field-error">
          لطفا کد ارسال شده به تلفن همراه خود را وارد کنید
        </label>
      </div>
      <div class="input-container">
        <input class="input-field left-direction" type="password" placeholder="رمز عبور جدید" [ngClass]="(chPassForm.controls['password'].hasError('required') || chPassForm.controls['password'].hasError('minlength')) && seen['password'] && curFocus !== 'password' ? 'input-error' : null"
          formControlName="password" (focus)="setSeen('password')" (blur)="curFocus = null" (keypress)="keyPress($event)" />
        <label *ngIf="(chPassForm.controls['password'].hasError('required') || chPassForm.controls['password'].hasError('minlength')) && seen['password'] && curFocus !== 'password'"
          class="field-error">
          رمز عبور باید حداقل دارای ۸ کاراکتر باشد
        </label>
      </div>
      <div class="input-container">
        <input class="input-field left-direction" type="password" placeholder="تکرار رمز عبور" [ngClass]="(chPassForm.controls['re_password'].hasError('required') || chPassForm.controls['re_password'].hasError('matchPassword')) && seen['re_password'] && curFocus !== 're_password' ? 'input-error' : null"
          formControlName="re_password" (focus)="setSeen('re_password')" (blur)="curFocus = null" (keypress)="keyPress($event)"/>
        <label *ngIf="(chPassForm.controls['re_password'].hasError('required') || chPassForm.controls['re_password'].hasError('matchPassword'))  && seen['re_password'] && curFocus !== 're_password'"
          class="field-error">
          تأیید رمز عبور با رمز عبور وارد شده مطابقت ندارد
        </label>
      </div>
      <div class="button-area center">
        <div class="btn-field inform-btn clickable-link" (click)="changePassword()">
          به روزرسانی رمز عبور
        </div>
      </div>
    </form>
  </div>
</div>