.details-container {
  direction: rtl;
  padding: 8px;
  margin: 2px;
}

.header-label {
  font-weight: bold;
}

.error {
  color: darkred;
}

.status {
  display: inline-block;
}

.status-line {
  margin: 5px;
  line-height: 30px;
}

.status-date {
  text-align: center;
}

.status-time {
  text-align: left;
}

.waiting {
  margin: 0 auto;
}

.delivered-evidence{
  width: 100%;
  height: 100%;
}