<div class="photos" #photosDiv>
<span>
  <div *ngFor="let img of product.images">
    <img *ngIf="img.type !== 'video'" src="{{img.url}}">
    <video *ngIf="img.type === 'video'" autoplay loop playsinline tabindex="-1"><source src="{{img.url}}"
                                                                                        type="video/webm"></video>
  </div>
</span>
</div>
<div class="description" [class.topFixed]="topFixedFilterPanel" [class.bottomFixed]="bottomFixedFilterPanel"
     [class.bottomScroll]="bottomScroll" [class.innerScroll]="innerScroll"
     [style.height]="innerScroll ? innerHeight + 'px' : 'fit-content'"
     [style.top]="(bottomFixedFilterPanel ? topDist : 0) + 'px'" #descPane>
<h1>{{product.name}}</h1>
  <h4>{{joinedTags}} <span>{{price}} تومان</span></h4>
  <app-size-picker (value)="size = $event"></app-size-picker>
  {{size}}
</div>
