<app-slider-preview *ngIf="upsertSlider.text && canEdit"
                    [text]="upsertSlider.text"
                    [image]="upsertSlider.imgUrl"
                    [pos]="pos"
                    (imageSettingsChanged)="imageSettingsChanged($event)"></app-slider-preview>
<div class="bottom-part">
  <div fxLayoutAlign="center center">
    <div class="full-width">
      <div fxLayout="column">
        <div class="full-width">
          <mat-input-container class="input-field">
            <input matInput type="text" class="persian-field menu-field" placeholder="عنوان"
                   [(ngModel)]="upsertSlider.text"
                   (ngModelChange)="changeField()"/>
          </mat-input-container>
        </div>
        <div fxLayout="row" class="address-field">
          <app-suggestion fxFlex="50" [name]="'Page'"  [placeholder]="'آدرس'" [hasReturn]="true" [default]="setClear"
                          (add)="upsertSlider.href=$event.address" (field)="upsertSlider.href=$event">
          </app-suggestion>
          <div fxFlex="50" class="text-field" *ngIf="upsertSlider.href"> {{upsertSlider.href}} </div>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button mat-mini-fab color="primary" (click)="modifyItem(upsertSlider.isEdit)"
              [disabled]="sliderApplyDisability()">
        <mat-icon>
          <i class="material-icons" *ngIf="upsertSlider.isEdit">create</i>
          <i class="material-icons" *ngIf="!upsertSlider.isEdit">done</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="removeItem()" *ngIf="upsertSlider.isEdit" class="remove">
        <mat-icon>
          <i class="material-icons">remove</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="clearFields()" *ngIf="upsertSlider.isEdit">
        <mat-icon>
          <i class="fa fa-eraser"></i>
        </mat-icon>
      </button>
    </div>
    <div fxFlex="30">
      <app-uploader [single]="true"
                    [url]="'placement/image/' + pageId + '/' + upsertSlider.id"
                    (OnCompleted)="onImageUploaded($event)"
                    [additionalData]="getThisPlacement()"></app-uploader>
    </div>
  </div>
  <div class="demo-list" [dragula]="'slider-bag'" [dragulaModel]="sliders">
    <div *ngFor="let item of sliders" class="top-menu-item" (click)="selectItem(item)" [ngClass]="{'selected-to-revert-img': !canEdit && isSelectedToRevert(item)}">
      <img [style.width]="item.imgWidth? item.imgWidth + 'px': '40px'"
           [style.marginLeft]="item.imgMarginLeft ? item.imgMarginLeft + 'px' : 0"
           [style.marginTop]="item.imgMarginTop ? item.imgMarginTop + 'px' : 0"
           [src]="getURL(item.info.imgUrl)" alt="">
      <label class="content">{{item.info.text}}</label>
    </div>
  </div>
</div>
