<app-slider-preview *ngIf="upsertSlider.text"
                    [text]="upsertSlider.text"
                    [image]="upsertSlider.imgUrl"
                    [pos]="pos"
                    (imageSettingsChanged)="imageSettingsChanged($event)"></app-slider-preview>
<div class="bottom-part">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayout.sm="column" fxLayout.xs="column"
       fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
    <div fxFlex="50" style="width: 100%">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="65" style="width: 100%">
          <mat-input-container class="input-field">
            <input matInput type="text" class="persian-field menu-field" placeholder="عنوان"
                   [(ngModel)]="upsertSlider.text"
                   (ngModelChange)="changeField()"/>
          </mat-input-container>
        </div>
        <div fxFlex="50" fxLayout="row">
          <app-suggestion class="full-width persian-field" [name]="'Page'"  [placeholder]="'آدرس'" [hasReturn]="true"
                          (add)="upsertSlider.href=$event.address" (field)="upsertSlider.href=$event">
          </app-suggestion>
          <div fxFlex="50" *ngIf="upsertSlider.href">
            <h3  fxFlex="30" dir="ltr" style="text-align:center">{{upsertSlider.href}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="20" class="button-area">
      <button mat-mini-fab color="primary" (click)="modifyItem(upsertSlider.isEdit)"
              [disabled]="sliderApplyDisability()">
        <mat-icon>
          <i class="material-icons" *ngIf="upsertSlider.isEdit">create</i>
          <i class="material-icons" *ngIf="!upsertSlider.isEdit">done</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="removeItem()" *ngIf="upsertSlider.isEdit" class="remove">
        <mat-icon>
          <i class="material-icons">remove</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="clearFields()" *ngIf="upsertSlider.isEdit">
        <mat-icon>
          <i class="fa fa-eraser"></i>
        </mat-icon>
      </button>
    </div>
    <div fxFlex="30">
      <app-uploader [single]="true"
                    [url]="'placement/image/' + pageId + '/' + upsertSlider.id"
                    (OnCompleted)="onImageUploaded($event)"
                    [additionalData]="getThisPlacement()"></app-uploader>
    </div>
  </div>
  <div class="demo-list" [dragula]="'slider-bag'" [dragulaModel]="sliders">
    <div *ngFor="let item of sliders" class="top-menu-item" (click)="selectItem(item)">
      <img [style.width]="item.imgWidth? item.imgWidth + 'px': '40px'"
           [style.marginLeft]="item.imgMarginLeft ? item.imgMarginLeft + 'px' : 0"
           [style.marginTop]="item.imgMarginTop ? item.imgMarginTop + 'px' : 0"
           [src]="getURL(item.info.imgUrl)" alt="">
      <label class="content">{{item.info.text}}</label>
    </div>
  </div>
</div>
