<mat-card class="card-view">
  <mat-card-content>

    <form (ngSubmit)="modifyInstance()" [formGroup]="productInstanceForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" dir="rtl">

        <div style="text-align: right" fxFlex="50" class="field-container">
          <mat-form-field style="text-align:right;">
            <mat-select placeholder="رنگ محصول" formControlName="proColorId" role="proColorId">
              <mat-option *ngFor="let pc of productColors" style="text-align:right" [value]="pc._id">
                {{pc.info?.name}}
              </mat-option>
            </mat-select>
            <mat-hint>رنگ محصول را انتخاب کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['proColorId'].hasError('required')">
              وارد کردن رنگ محصول الزامی است
            </mat-error>
          </mat-form-field>
        </div>

        <div style="text-align: right" fxFlex="50" class="field-container">
          <mat-form-field style="text-align:right;">
            <mat-select placeholder="انبار" formControlName="warehouseId" role="warehouseId">
              <mat-option *ngFor="let warehouse of warehouses" style="text-align:right" [value]="warehouse._id">
                {{warehouse.name}}
              </mat-option>
            </mat-select>
            <mat-hint>انبار مورد نظر را انتخاب کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['warehouseId'].hasError('required')">
              وارد کردن انبار الزامی است
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" dir="rtl">

        <div style="text-align: right" fxFlex="50" class="field-container">
          <mat-input-container class="field">
            <input matInput type="number" placeholder="تعداد" formControlName="count" role="count" tabindex="2"
                   dir="ltr">
            <mat-hint>تعداد را وارد کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['count'].hasError('required') && anyChanges">
              وارد کردن تعداد محصول الزامی است
            </mat-error>
          </mat-input-container>

        </div>
        <div style="text-align: right" fxFlex="50" class="field-container">
          <mat-input-container class="field">
            <input matInput type="number" placeholder="قیمت" formControlName="price" role="price" tabindex="2"
                   dir="ltr">
          </mat-input-container>

        </div>
      </div>

    </form>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" dir="rtl"
         style="margin-top: 20px;">
      <div style="text-align: right" fxFlex="100" class="field-container">

        <mat-card>
          <div class="rs-table" style="width: 100%">
            <table style="width: 100%">
              <thead>
              <td style="width: 10%"><b>ردیف</b></td>
              <td style="width: 30%"><b>رنگ</b></td>
              <td style="width: 50%; text-align: center"><b>تصاویر</b></td>
              <td style="width: 10%"><b>حذف</b></td>
              </thead>
              <tbody>
              <tr *ngFor="let pc of productColors; let i = index">
                <td>{{i+1}}</td>
                <td>{{pc.info?.name}}</td>
                <td>
                  <div style="text-align: center">
                    <div *ngFor="let image of pc.image?.angles"
                         style="width: 10% ;height: 10%; display: inline-block;text-align: center;">

                    </div>
                  </div>
                </td>
                <td>
                  <button mat-icon-button (click)="removeImg(pc.info._id)" color="warn">
                    <mat-icon aria-label="clear">delete</mat-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
