<mat-card class="card-view">
  <mat-card-content>

    <form (ngSubmit)="modifyInstance()" [formGroup]="productInstanceForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" dir="rtl">

        <div style="text-align: right" fxFlex="33" class="field-container">
          <mat-form-field style="text-align:right;">
            <mat-select placeholder="رنگ محصول" formControlName="proColorId" role="proColorId">
              <mat-option *ngFor="let pc of product.colors" style="text-align:right" [value]="pc._id">
                {{pc.name}}
              </mat-option>
            </mat-select>
            <mat-hint>رنگ محصول را انتخاب کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['proColorId'].hasError('required')">
              وارد کردن رنگ محصول الزامی است
            </mat-error>
          </mat-form-field>
        </div>

        <div style="text-align: right" fxFlex="33" class="field-container">
          <mat-form-field>
            <mat-select placeholder="اندازه محصول" formControlName="size" role="size">
              <mat-option *ngFor="let instance of instances" style="text-align:right" [value]="instance.size">
                {{instance.size}}
              </mat-option>
            </mat-select>
            <mat-hint>اندازه محصول را انتخاب کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['size'].hasError('required')">
              وارد کردن اندازه محصول الزامی است
            </mat-error>
          </mat-form-field>
        </div>


        <div style="text-align: right" fxFlex="33" class="field-container">
          <mat-form-field style="text-align:right;">
            <mat-select placeholder="انبار" formControlName="warehouseId" role="warehouseId">
              <mat-option *ngFor="let warehouse of warehouses" style="text-align:right" [value]="warehouse._id">
                {{warehouse.name}}
              </mat-option>
            </mat-select>
            <mat-hint>انبار مورد نظر را انتخاب کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['warehouseId'].hasError('required')">
              وارد کردن انبار الزامی است
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" dir="rtl">

        <div style="text-align: right" fxFlex="33" class="field-container">
          <mat-input-container class="field">
            <input matInput type="number" placeholder="تعداد" formControlName="count" role="count" tabindex="2" dir="ltr">
            <mat-hint>تعداد را وارد کنید</mat-hint>
            <mat-error *ngIf="productInstanceForm.controls['count'].hasError('required') && anyChanges">
              وارد کردن تعداد محصول الزامی است
            </mat-error>
          </mat-input-container>

        </div>
        
        <div style="text-align: right" fxFlex="33" class="field-container">
          <mat-input-container class="field">
            <input matInput type="number" placeholder="تعداد رزرو" formControlName="reserved" role="reserved" tabindex="2" dir="ltr" [readonly]="true">
          </mat-input-container>

        </div>

        <div style="text-align: right" fxFlex="33" class="field-container">
          <mat-input-container class="field">
            <input matInput type="number" placeholder="قیمت" formControlName="price" role="price" tabindex="2" dir="ltr">
          </mat-input-container>

        </div>


      </div>

    </form>

    <mat-card-actions>
      <button mat-icon-button type="submit" color="accent" (click)="modifyInstance()" [disabled]="submitShouldBeDisabled">
        <mat-icon aria-label="accept">done</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card-content>
</mat-card>