.details-container {
  direction: rtl;
  padding: 8px;
  margin: 2px;
}

.header-label {
  font-weight: bold;
}

.select-label {
  font-family: iranyekan, sans-serif;
}

.date-time {
  margin: 5px;
}

.time {
  display: inline-block;
}