.details-container {
  direction: rtl;
  padding: 8px;
  margin: 2px;
}

.header-label {
  font-weight: bold;
}

.select-label {
  font-family: iranyekan, sans-serif;
}

.date-time {
  margin: 5px;
}

.time {
  display: inline-block;
}

.phone_number {
  float: left;
}

.address-title {
  width: 100px;
  font-weight: bolder;
}

.address-part {
  display: inline-block;
}

.inner-lable {
  font-weight: bolder;
  margin-left: 20px;
  margin-right: 10px;
}

.inner-date-time {
  width: 100%;
}