<mat-card dir="rtl">
  <mat-card-content>
    <mat-card-title class="title">چینش و جایگاه عناصر</mat-card-title>
    <mat-tab-group>
      <mat-tab label="منو">
        <app-menu-placement [placements]="getRelatedPlacements('menu')" [pageId]="pageId" [isApp]="isApp" [address]="pageAddress"
                            (modifyPlacement)="modify($event)"></app-menu-placement>
      </mat-tab>
      <mat-tab label="لوگو" *ngIf="!isApp">
        <app-logo-list-placement [placements]="getRelatedPlacements('logos')" [pageId]="pageId"
                                 (modifyPlacement)="modify($event)"
                                 (reloadPlacements)="reload($event)"></app-logo-list-placement>
      </mat-tab>
      <mat-tab label="اسلایدر" *ngIf="!isApp">
        <app-slider-placement [placements]="getRelatedPlacements('slider')" [pageId]="pageId"
                              (modifyPlacement)="modify($event)"
                              (reloadPlacements)="reload($event)"></app-slider-placement>
      </mat-tab>
      <mat-tab label="صفحه" *ngIf="!isApp">
        <app-page-content-placement [placements]="getRelatedPlacements('main')" [pageId]="pageId"
                                    (modifyPlacement)="modify($event)"></app-page-content-placement>
      </mat-tab>
      <mat-tab label="پاصفحه" *ngIf="!isApp">
          <app-footer-placement [placements]="getRelatedPlacements('footer')" [pageId]="pageId"
                                (modifyPlacement)="modify($event)"></app-footer-placement>
        </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="finalize(true)" [disabled]="finalizeRevertShouldDisabled">تثبیت تغییرات</button>
    <button mat-raised-button (click)="finalize(false)" [disabled]="finalizeRevertShouldDisabled">برگرداندن تغییرات
    </button>
    <button mat-raised-button (click)="preview()" [disabled]="previewShouldDisabled" *ngIf="!isApp">پیش نمایش صفحه</button>
  </mat-card-actions>
</mat-card>
