<div class="div-lable"> {{costLabel}}</div>
<br>
<div *ngFor="let dcl of deliveryCostList" class="city-del-cost" fxLayout="row"
     fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
  <div fxFlex="50" style="margin-right: 5px">
    {{dcl.name}}
  </div>
  <div fxFlex="50">
    <input type="number" style="height: 15px" [(ngModel)]="dcl.value">
  </div>
</div>
<div style="text-align: center; width: 100%; margin-top: 50px">
  <div style="width: 100%">
    <button mat-button style="background-color: #d9d9d9" (click)="submitTotalInfo()">تایید قیمت ها
    </button>
  </div>
</div>