<div style="width: 100%;" class="checkout-summary">
  <div>
    <span class="co-right-text"> جمع قیمت: </span>
    <span class="co-left-text">{{priceFormatter(total)}} تومان</span>
  </div>
  <div>
    <span class="co-right-text">تخفیف: </span>
    <span class="co-left-text">{{priceFormatter(discount)}} تومان </span>
  </div>
  <div>
    <span class="co-right-text">موجودی پس از خرید: </span>
    <span class="co-left-text">
      {{priceFormatter( modifiedBalance)}}
      تومان
    </span>
  </div>
  <div *ngIf="loyaltyDiscount">
    <span class="co-right-text">تخفیف وفاداری: </span>
    <span class="co-left-text">{{priceFormatter(loyaltyDiscount)}} تومان</span>
  </div>

  <div>
    <span class="co-right-text">هزینه ارسال: </span>
    <span class="co-left-text" [class.no-duration-selected]="!noDuration">{{priceFormatter(deliveryCost)}} تومان </span>
  </div>
  <div class="no-duration-selected">
    <span class="co-right-text">تخفیف ارسال: </span>
    <span class="co-left-text" [class.no-duration-selected]="!noDuration">{{priceFormatter(deliveryDiscount)}} تومان
    </span>
  </div>
  <div class="final-price">
    <h2 class="co-right-text">قیمت نهایی:
      {{priceFormatter(finalTotal)}} تومان </h2>
  </div>
</div>