.summary-header {
  background-color: #e5e5e5;
  text-align: right;
  padding: 8px;
}

.co-left-text {
  padding-left: 10px;
}

.co-right-text {
  padding: 2px;
}

.checkout-box {
  width: 100%;
}

.final-price {
  margin-top: 10px;
  font-weight: bold;
}

.no-duration-selected {
  font-weight: bold;
  color : #8f2107;
}

.checkout-summary {
  color: #8f8f8f;
}
