<mat-card class="card-view">
    <mat-card-header style="direction:rtl">
        <mat-card-title>
            <div ><b>ویرایش محصول</b></div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="modifyProduct()" [formGroup]="productBasicForm">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start"
                 fxLayoutAlign.xs="center center" dir="rtl">
                <div fxFlex="100" class="field-container">
                    <mat-input-container class="field farsi">
                        <input matInput type="text" placeholder="نام" formControlName="name"
                               role="name"
                               tabindex="2"/>
                        <mat-hint>نام محصول را وارد کنید</mat-hint>
                        <mat-error
                                *ngIf="productBasicForm.controls['name'].hasError('required')">
                            وارد کردن نام محصول الزامی است
                        </mat-error>
                    </mat-input-container>
                </div>
                <div fxFlex="100" class="field-container">
                    <mat-input-container class="field farsi">
                        <input matInput type="number" placeholder="قیمت پایه" formControlName="base_price"
                               role="base_price" tabindex="2"/>
                        <mat-hint>قیمت محصول را وارد کنید</mat-hint>
                        <mat-error *ngIf="productBasicForm.controls['base_price'].hasError('required')">
                            وارد کردن قیمت محصول الزامی است
                        </mat-error>
                    </mat-input-container>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start"
                 fxLayoutAlign.xs="center center" dir="rtl">
                <div style="text-align: right" class="field-container">
                    <mat-form-field fxFlex="100" style="text-align:right;" tabindex="3">
                        <mat-select placeholder="نوع محصول" formControlName="product_type" role="product_type">
                            <mat-option *ngFor="let type of types" style="text-align:right" [value]="type._id">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                        <mat-hint>نوع محصول را انتخاب کنید</mat-hint>
                        <mat-error *ngIf="productBasicForm.controls['product_type'].hasError('required')">
                            وارد کردن نوع محصول الزامی است
                        </mat-error>
                    </mat-form-field>
                </div>
                <div style="text-align: left" class="field-container">
                    <mat-form-field fxFlex="100" style="text-align:right" tabindex="4">
                        <mat-select placeholder="برند" formControlName="brand" role="brand">
                            <mat-option *ngFor="let brand of brands" style="text-align:right"
                                        [value]="brand._id">
                                {{brand.name }}
                            </mat-option>
                        </mat-select>
                        <mat-hint>برند را انتخاب کنید</mat-hint>
                        <mat-error *ngIf="productBasicForm.controls['brand'].hasError('required')">
                            وارد کردن برند محصول الزامی است
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start"
                 fxLayoutAlign.xs="center center" dir="rtl">
                <div style="text-align: right" class="field-container">
                    <mat-form-field fx-flex="100" class="example-full-width">
                        <textarea matInput placeholder="توضیحات" formControlName="desc" role="desc"></textarea>
                      </mat-form-field>
                </div>
            </div>
            <div role="submit-button" style="text-align: left">
                <button mat-icon-button type="submit"
                        [disabled]="upsertBtnShouldDisabled || (!productBasicForm.valid) || (product._id && !anyChanges)"
                        tabindex="6" color="accent">
                    <mat-icon aria-label="accept">done</mat-icon>
                </button>
                <button mat-icon-button color="warn"
                        type="button" [disabled]="deleteBtnShouldDisabled" (click)="deleteProduct(product._id)"
                        tabindex="7">
                    <mat-icon aria-label="delete">delete</mat-icon>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
