<div style="display: inline-block; width:100%;">
  <div style="display: inline-block; width:48%;">
    <div class="menu-item"><b><a href="#">بازخوردهای
      شما</a></b></div>
    <div class="menu-item"><b><a href="#">تماس با
      ما</a></b></div>
    <div class="menu-item"><b><a href="#">ارتباط
      آنلاین</a></b></div>
  </div>
  <div class="shop-again">
    <b><a href="#">خرید مجدد</a></b>
    <span style="font-weight: bolder"><i class="fa fa-angle-double-left"></i></span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayout.sm="column-reverse" fxLayout.xs="column-reverse" class="main">
      <div class="main-divs">
        <app-summary [discount]="discountValue" [total]="totalPrice" (recalculateDiscount)="calculateDiscount($event)"></app-summary>
      </div>
      <div class="main-divs">
        <div class="signUp-div" *ngIf="!isLoggedIn">
          عضویت رایگان
          <span style="padding-left : 10px"><a (click)="goToRegister()" class="membership-style">به ما بپیوندید</a></span>
        </div>
        <div class="basket-div">
          سبد خرید شما ({{numberOfProducts}})
        </div>
        <div *ngFor="let product of products" style="margin-bottom: 10px;">
          <app-cart-items [product]="product" (updateProduct)="updateProduct($event, product)"></app-cart-items>
        </div>
      </div>
    </div>
  </div>
</div>
