<nav class="first-bar">
  <ul>
    <li *ngFor="let logo of logos" [ngStyle]="{width: (logo.width ? logo.width + 'px' : 'initial')}">
      <a href="#" class="gnav-member-bar" [title]="logo.brand">
        <img
          src="assets/logos/{{logo.filename}}.png" class="general"
          [ngStyle]="{top: (logo.top ? -logo.top : 0)+ 'px', right: (logo.right ? -logo.right : 0) + 'px', height: (logo.height ? logo.height : 29) + 'px'}"></a>
    </li>
  </ul>
  <ul class="right-bar">
    <li><a href="#" class="faWrapper" aria-label="Shopping Bag"><i
      class="fa fa-shopping-bag fa-flip-horizontal"></i></a>
    <li><a href="#" class="faWrapper" aria-label="Sign In or Register"><i
      class="fa fa-sign-in fa-flip-horizontal loginIcon"></i></a></li>
  </ul>
</nav>
<div class="second-bar">
  <div class="persian-mode-logo">پرشین مد<span>ُ</span></div>
  <ul>
    <li *ngFor="let item of topMenu" [class.selected]="selected[item.collectionName]" (mouseenter)="showList(item.collectionName)" (mouseleave)="countDownHideList()">
      <a href="{{item.collectionRoute}}">{{item.collectionNameFa}}</a>
    </li>
  </ul>
  <div class="search-bar" [style.borderColor]="searchIsFocused ? 'black' : '#E5E5E5'"
       [style.width]="(searchIsFocused ? 247 : 197) + 'px'">
    <i class="fa fa-search fa-flip-horizontal"></i>
    <input placeholder="جُست‌وجو" type="text" (focus)="searchFocused()" (blur)="searchUnfocused()"
           [style.width]="(searchIsFocused ? 206 : 156) + 'px'">
  </div>
</div>
<div class="genderList" [class.hidden]="hiddenGenderMenu" (mouseenter)="persistList()" (mouseleave)="hideList()">
  <div class="genderListWrapper">
    <div class="headerList">
      <ul>
        <li *ngFor="let item of menu.headerList"><a href="{{item.href}}">{{item.text}}</a></li>
      </ul>
    </div>
    <div class="middle">
      <ul *ngFor="let list of menu.middle">
        <li *ngFor="let item of list;first as isFirst" [class.headerItem]="isFirst || item.isHeader" [style.marginTop]="(!isFirst && item.isHeader ? 15 : 0 )+ 'px'"><a href="{{item.href}}">{{item.text}}</a></li>
      </ul>
    </div>
    <div class="leftColumn">
      <ul *ngFor="let list of menu.leftColumn">
        <li *ngFor="let item of list;first as isFirst" [class.headerItem]="isFirst"><a href="{{item.href}}">{{item.text}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="chevron-holder left-chevron"><i *ngIf="curSlideIndex !== slides.length - 1" class="fa fa-chevron-left" (click)="nextSlide()"></i></div>
<div class="chevron-holder right-chevron"><i *ngIf="!!curSlideIndex" class="fa fa-chevron-right" (click)="prevSlide()"></i></div>
<div class="carousel-slider">

  <div [style.width]="slides.length * 100 + '%'" [style.right]="-curSlideIndex * 100 +'%'">
    <span *ngFor="let slide of slides" [style.width]="(100 / slides.length).toPrecision(4) + '%'"><img
      [style.width]="slide.imgWidth + 'px'" [style.marginLeft]="slide.imgMarginLeft ? slide.imgMarginLeft + 'px' : 0"
      src="assets/cliparts/{{slide.imgAddr}}.png"/> {{slide.text}}</span>
  </div>
</div>
