
mat-header-cell, mat-cell{
  text-align: center;
  font-family: iranyekan, sans-serif !important;
}
.search-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filtering-field {
  width: 100%;
  line-height: 23px;
  text-align: right;
}

.filtering-box {
  margin: 5px;
}
