<div class="footer-wrapper">
  <div class="div-top footer-top-part" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="70">
      <div *ngFor="let column of getKeyList(footerSitelinksItems); first as isFirst"
       class="footer-column" [ngClass]="{'header': isFirst}">
        <div *ngFor="let item of footerSitelinksItems[column]; first as rowHeader"class="row-item"
          [ngClass]="{'footer-link-bold': rowHeader || item.is_header, 'footer-link': !rowHeader && !item.is_header}">
          <a class="footer-link-bold" href="{{item.href}}">{{item.text}}</a>
        </div>
      </div>
    </div>
    <div fxFlex="30" class="icons-outer-div">
      <div class="icons-inner-div">
        <span *ngFor="let i of footerSocilaNetworkItems" class="icons">
          <a href="{{i.href}" target="_blank" class="icons">
            <i class="{{i.text}}"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <hr class="hr-setting">
  <div class="div-bottom" fxLayout="row" fxLayoutAlign="center center;">
    <div fxFlex="35" style="text-align: right;">
      <div class="div-right-reserved-symbol">
        <span>©</span>
      </div>
      <div class="div-right-reserved"> &nbsp; تمامی حقوق این سایت متعلق به پرشین مد می باشد.</div>
    </div>
    <div fxFlex="35" style="text-align: left">
      <div class="div-guide">
        <a href="#" class="footer-link1">راهنمای سایت</a>
      </div>
      <div class="div-use-case">
        <a href="#" class="footer-link1">موارد استفاده</a>
      </div>
      <div class="div-policy">
        <a href="#" class="footer-link1">منشور&nbsp;حقوقی&nbsp;پرشین مد</a>
      </div>
    </div>
  </div>
</div>