.icons{
  font-size: 30px;
  color: #444;
}

.icons-outer-div {
  text-align: left;
}
.icons-inner-div {
  text-align: left;
  display:inline-block;
}

.country-name {
  color: white;
  font-weight: bold;
}

.row-item {
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 15px;
}

.header {
  font-weight: bold;
}
