.icons{
  font-size: 30px;
  color: #444;
}

.footer-top-part {
  padding-left: 70px;
  padding-right: 70px;
}

.icons-outer-div {
  text-align: left;
}
.icons-inner-div {
  text-align: left;
  display:inline-block;
}

.country-name {
  color: white;
  font-weight: bold;
}

.footer-column {
  display: inline-block;
  text-align: right;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.row-item {
  margin-top: 3px;
  margin-bottom: 3px;
}

.header {
  font-weight: bold;
}
