.icons{
  font-size: 30px;
  color: #444;
}

.icons-outer-div {
  text-align: left;
}
.icons-inner-div {
  text-align: left;
  display:inline-block;
}

.country-name {
  color: white;
  font-weight: bold;
}
