<span class="check-box-div">
  <mat-radio-group [(ngModel)]="withDelivery" (change)="changeWithDelivery()">
      <mat-radio-button [value]="true">
        <label>ارسال به آدرس شما</label>
      </mat-radio-button>
      <mat-radio-button [value]="false">
        <label>دریافت از فروشگاه</label>
      </mat-radio-button>
    </mat-radio-group>
</span>
<span *ngIf="withDelivery" class="newAddress-checkout" [class.newAddress-profile]="isProfile">
  <button (click)="editAddress()">افزودن آدرس جدید</button>
</span>
<div *ngIf="addresses.length">
  <div *ngIf="!isMobile" class="rs-table field">
    <mat-card>
      <table class="field table">
        <thead>
        <th style="width: 5%"><b>ردیف</b></th>
        <th *ngIf="withDelivery"><b>مشخصات تحویل گیرنده</b></th>
        <th *ngIf="withDelivery && !isProfile"></th>
        <th *ngIf="!withDelivery">نام فروشگاه</th>
        <th style="min-width: 40%"><b>آدرس</b></th>
        <th *ngIf="!isProfile" style=" width: 5%"></th>
        <th *ngIf="isProfile"></th>

        </thead>
        <tbody>
        <tr *ngFor="let address of addresses; let i = index">
          <td> {{makePersianNumber(i+1)}}</td>
          <td *ngIf="withDelivery"><span *ngIf="address.recipient_name">
            نام تحویل گیرنده: <b><span *ngIf="address.recipient_title === 'f'"> خانم </span>
                                 <span *ngIf="address.recipient_title === 'm'"> آقای </span>
                                  {{address.recipient_name + ' ' + address.recipient_surname}}
                              </b>
            <br>
          </span>
            <span *ngIf="address.recipient_national_id">
            کدملی تحویل گیرنده: <b>{{makePersianNumber(address.recipient_national_id)}}</b>
            <br>
            </span>
            <span *ngIf="address.recipient_mobile_no">
            شماره تلفن تحویل گیرنده: <b>{{makePersianNumber(address.recipient_mobile_no)}}</b>
            </span>
          </td>
          <td *ngIf="withDelivery && !isProfile">
            <mat-icon aria-label="edit" (click)="editAddress(i)">edit</mat-icon>
          </td>
          <td *ngIf="!withDelivery">
            <b>{{address.name}}</b>
          </td>
          <td>
            استان {{address.province}} شهر {{address.city}}
            <br>
            {{address.district}} {{address.street}} پلاک {{makePersianNumber(address.no)}} واحد
            {{makePersianNumber(address.unit)}}
          </td>
          <td *ngIf="withDelivery && !isProfile">
            <mat-checkbox (change)="setAddress(i)" [checked]="selectedCustomerAddresses===i"></mat-checkbox>
          </td>
          <td *ngIf="!withDelivery">
            <mat-checkbox class="check-box" [checked]="selectedWareHouseAddresses===i"
                          (change)="setAddress(i)"></mat-checkbox>
          </td>
          <td *ngIf="isProfile">
            <mat-icon aria-label="edit" (click)="editAddress(i)">edit</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
  <div *ngIf="isMobile">
    <div *ngFor="let address of addresses; let i = index">
      <mat-card>
        <mat-card-content>
          <div>
          <span *ngIf="withDelivery">
          نام تحویل گیرنده: <b>{{address.recipient_name + ' ' + address.recipient_surname}}</b>
          <br>
          کدملی تحویل گیرنده: <b>{{makePersianNumber( address.recipient_national_id)}}</b>
          <br>
          شماره تلفن تحویل گیرنده: <b>{{makePersianNumber(address.recipient_mobile_no)}}</b>
          </span>
            <span *ngIf="!withDelivery">
              فروشگاه<b> {{address.name}}</b>
          </span>
          </div>
          <div>
            <span> آدرس: </span>
            <span style="font-weight: 600">استان {{address.province}} شهر{{address.city}} {{address.district}} {{address.street}} پلاک {{makePersianNumber(address.no)}} واحد {{ makePersianNumber(address.unit)}}</span>
          </div>

          <div *ngIf="withDelivery">
            <mat-icon aria-label="edit" (click)="editAddress(address._id)">edit</mat-icon>
          </div>
          <div *ngIf="!isProfile" style="margin-top: 20px;">
            انتخاب آدرس
            <mat-checkbox *ngIf="withDelivery" [checked]="selectedCustomerAddresses===i"
                          (change)="setAddress(i)"></mat-checkbox>
            <mat-checkbox *ngIf="!withDelivery" [checked]="selectedWareHouseAddresses===i"
                          (change)="setAddress(i)"></mat-checkbox>
          </div>
          <br>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>
  <div *ngIf="!withDelivery && selectedWareHouseAddresses!==-1" class="map-div">
    <agm-map class="ev-loc" [latitude]="getLatitude()" [longitude]="getLongitude()">
      <agm-marker
        [latitude]="getLatitude()"
        [longitude]="getLongitude()"
        [markerClickable]="true"
        [markerDraggable]="false"
      ></agm-marker>
    </agm-map>
  </div>
</div>
