<div style="text-align: left;">
    <b>
        <mat-icon aria-label="no" (click)="onClose()" style="cursor: pointer">clear</mat-icon>
    </b>
</div>
<mat-card *ngFor="let ol of noDuplicateOrderLine">
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center top" fxLayout.xs="column" dir="rtl">
            <div fxFlex="25">
                <a (click)="navigateToProduct(ol.product._id, ol.boughtColor._id)">
                    <img src="ol.product.colors[0].image.thumbnail"
                         style=" cursor: pointer; width: 100%; height: 100%">
                </a>
            </div>
            <div fxFlex="75" style="margin-right: 10px; font-family: iranyekan, sans-serif">
                <div fxLayout="row" fxLayoutAlign="center top">
                    <div fxFlex="70">
                        <div>
                            <h3><a style="color: black; cursor: pointer"
                                   (click)="navigateToProduct(ol.product._id, ol.boughtColor._id)">{{ol.product.name}}{{'
                                '}}</a>
                            </h3>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" dir="rtl">
                            <div fxFlex="50">
                                <span>اندازه : </span>
                                <span style="font-weight: bold">{{makePersianNumber(ol.product_instance.size, false)}}</span>
                            </div>
                            <div fxFlex="50">
                                <span>تعداد : </span>
                                <span style="font-weight: bold">{{makePersianNumber(ol.quantity, false)}} عدد</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" dir="rtl">
                            <div fxFlex="50">
                                <span>قیمت واحد : </span>
                                <span style="font-weight: bold">{{makePersianNumber(ol.product.base_price, true)}}</span>
                            </div>
                            <div fxFlex="50">
                                <span>تخفیف : </span>
                                <span style="font-weight: bold"> - </span>
                            </div>
                        </div>
                        <div>
                            <span>وضعیت سفارش : </span>
                            <!--<span style="font-weight: bold">{{orderStatus(ol.tickets[ol.tickets.length-1].status)}}</span>-->
                            <span style="font-weight: bold">{{statusText}}</span>
                        </div>
                    </div>
                    <div fxFlex="30" class="total_price">
                        <div style="height: 75%">
                            <span style="font-weight: bold;">{{makePersianNumber((ol.product.base_price* ol.quantity), true)}}</span>
                            تومان
                        </div>
                        <div class="submit-cancel-change-btn" style="height: 25%;">
                            <button mat-button class="action-button" *ngIf="ol.tickets[ol.tickets.length - 1].status === 1">لغو سفارش</button>
                            <button mat-button class="action-button" *ngIf="ol.tickets[ol.tickets.length - 1].status === 9">بازگشت کالا</button>
                        </div>
                    </div>
                </div>
                <!--<div fxLayout="row" fxLayoutAlign="center top" fxLayout.xs="column" dir="rtl">-->
                <!--<div fxLayout="row" fxLayoutAlign="center center" class="btn-container">-->
                <!--<button fxFlex="35" fxFlex.xs=50>بازگرداندن کالا</button>-->
                <!--<button fxFlex="35" fxFlex.xs=50>لغو سفارش</button>-->
                <!--</div>-->
            </div>
        </div>
    </mat-card-content>
</mat-card>
