.close-div {
    text-align: left;
}

.close-div b {
    cursor: pointer;
}

img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.order-data-div {
    margin-right: 10px;
    font-family: iranyekan, sans-serif
}

div span:nth-of-type(2) {
    font-weight: bold;
}

h3 a {
    color: black;
    cursor: pointer;
}

.total_price {
    text-align: left;
    color: #fa5400;
}

.total_price section {
    margin: 19px 0px 19px 0px;
}

.btn-container button {
    background: black;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
    border-width: 0px;
    margin-left: 8px;
    outline: none;
}

.btn-container button:hover {
    background: #888;
}

.action-button {
    text-align: center;
    padding: 1px;
    background-color: black;
    color: white;
    /*height: 30px !important;*/
    border: 0;
    margin: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 30px
}

.submit-cancel-change-btn {
    width: 100%;
    height: 20%;
}

@media (min-width: 600px) {
    .btn-container {
        position: absolute;
        bottom: 30px;
        width: 75%;
        max-width: calc(100% - 240px);
        /*margin-top: 5px !important;*/
    }
}

.dialog-style2 {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  