<div fxLayout="row">
  <mat-card fxFlex="80" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="10" fxFlexOffset.sm="0" fxFlexOffset.xs="0">

    <div class="rs-table">
      <mat-card-content>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
             fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="right-alignment">
          <!--<div fxFlex="50" style="text-align: right;">-->
          <div fxFlex="50">
            <div class="view-title"><b>نام:</b></div>
            <div class="view-content">{{currentCollection?.name}}</div>
          </div>
          <!--<div fxFlex="50" style="text-align: right;">-->
          <div fxFlex="50">
            <div class="view-title"><b>نوع:</b></div>
            <div class="view-content" *ngIf="currentCollection?.is_smart">اسمارت</div>
            <div class="view-content" *ngIf="!currentCollection?.is_smart">منوال</div>
          </div>
        </div>
        <br>
      </mat-card-content>
      <div *ngIf="!currentCollection?.is_smart">
        <div class="little-right-margin right-alignment">
          <br/>
          <app-suggestion [name]="'Product'" [currentIds]="[0]" [placeholder]="'نام محصول'"
                          [fieldName]="'test'" (add)="addProduct($event)"></app-suggestion>
        </div>
        <br/>
        <table class="table little-right-margin" style="float: right;">
          <thead>
          <td>حذف</td>
          <td>نمایش</td>
          <td>برند</td>
          <td>نوع</td>
          <td>نام</td>
          <td>شماره</td>
          </thead>
          <tbody>
          <tr *ngFor="let p of currentCollection?.products; let i = index">
            <td>
              <button mat-icon-button (click)="removeProduct(p._id)" color="warn">
                <mat-icon aria-label="delete">delete</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button (click)="viewProduct(p._id)" color="primary">
                <mat-icon aria-label="view">visibility</mat-icon>
              </button>
            </td>
            <td>{{p.brand}}</td>
            <td>{{p.product_type}}</td>
            <td>{{p.name}}</td>
            <td>{{i+1}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="currentCollection?.is_smart">
        <div class="little-right-margin right-alignment">
          <br/>
          <app-suggestion [name]="'Tag'" [currentIds]="[0]" [placeholder]="'نام تگ'"
                          [fieldName]="'test'" (add)="addTag($event)"></app-suggestion>
        </div>
        <br/>
        <table class="table little-right-margin" style="float: right;">
          <thead>
          <td>حذف</td>
          <td>نمایش</td>
          <td>نام</td>
          <td>شماره</td>
          </thead>
          <tbody>
          <tr *ngFor="let t of currentCollection?.tags; let i = index">
            <td>
              <button mat-icon-button (click)="removeTag(t._id)" color="warn">
                <mat-icon aria-label="delete">delete</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button (click)="viewTag(t._id)" color="primary">
                <mat-icon aria-label="view">visibility</mat-icon>
              </button>
            </td>
            <td>{{t.name}}</td>
            <td>{{i+1}}</td>
          </tr>
          </tbody>
        </table>
        <mat-form-field class="right-alignment font-yek">
          <mat-select placeholder="انواع" [formControl]="types" multiple class="right-alignment font-yek" [(ngModel)]="typeIds">
            <mat-option *ngFor="let type of typesList" [value]="type._id"
                        class="right-alignment font-yek">&nbsp;{{ type.name }}&nbsp;</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="right-alignment font-yek">
          <mat-select placeholder="تگ‌گروه‌ها" [formControl]="tagGroups" multiple class="right-alignment font-yek" [(ngModel)]="tagGroupIds">
            <mat-option *ngFor="let tagGroup of tagGroupsList" [value]="tagGroup._id"
                        class="right-alignment font-yek">&nbsp;{{ tagGroup.name }}&nbsp;</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button (click)="updateDetails()" class="right-alignment font-yek shallow-border">بروز رسانی</button>
      </div>
    </div>
  </mat-card>
</div>
