.my-drop-zone {
  border: dotted 3px lightgray;
  min-height: 200px
}
    
.nv-file-over {
  border: dotted 3px red;
}
    
/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}
    
.input-uploader input {
  max-width: 200px;
  padding: 3px;
  border: 1px solid;
  margin: 1px;
}