<div class="filters" [class.topFixed]="topFixedFilterPanel" [class.bottomFixed]="bottomFixedFilterPanel"
     [class.bottomScroll]="bottomScroll" [class.innerScroll]="innerScroll" [style.height]="innerScroll ? this.innerHeight + 'px' : 'unset'"
     [style.top]="bottomFixedFilterPanel ? topDist + 'px !important': 'unset !important'" #filterPane>
  <app-filtering-panel></app-filtering-panel>
</div>
<div class="gridwall" #gridwall>
  <app-panels></app-panels>
  <div class="gridwall-wrapper">
    <div class="gridwall-title">
      <h1>{{collection.collectionNameFa}} <span>({{collection.set.length.toLocaleString('fa')}})</span></h1>
      <div class="sorter-row">
        <div class="sorter">ترتیب نمایش</div>
      </div>
    </div>
    <div class="gridwall-content">
      <app-product-grid-item *ngFor="let item of collection.set" [data]="item"></app-product-grid-item>
    </div>
  </div>
</div>
