<div *ngIf="!isMobile" class="filters" [class.topFixed]="topFixedFilterPanel" [class.bottomFixed]="bottomFixedFilterPanel"
  [class.bottomScroll]="bottomScroll" [class.innerScroll]="innerScroll" [ngStyle]="{'height': innerScroll ? innerHeight + 'px' : 'unset',
     'top.px': bottomScroll || bottomFixedFilterPanel ? topDist : 20}" #filterPane>
  <app-filtering-panel (scrollChange)="calcAfterScroll()"></app-filtering-panel>
</div>
<p-sidebar *ngIf="isMobile" [(visible)]="displayFilter" position="right" [blockScroll]="true">
  <div class="mobileScroll">
    <app-filtering-panel (displayFilterEvent)="setDispalyFilter($event)" [sortOptions]="sortOptions" (sortedByChange)="mobileSortOptionChange($event)"></app-filtering-panel>
  </div>
</p-sidebar>
<div [class.gridwall]="!isMobile" [class.mobileGridwall]="isMobile" #gridwall>
  <app-panels></app-panels>
  <div class="gridwall-wrapper">
    <div *ngIf="!isMobile" class="gridwall-title">
      <h1><span>{{collectionNameFa}}</span>
        <span>({{products.length.toLocaleString('fa')}})</span>
      </h1>
      <div class="sorter-row">
        <div class="sorter" (click)="sortPanel.toggle($event)">ترتیب نمایش
          <span *ngIf="sortedBy.value"> با {{sortedBy.fa}}</span>
          <i class="fa" [ngClass]="sortPanel.visible ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </div>
        <p-overlayPanel #sortPanel>
          <div *ngFor="let sortOption of sortOptions;let i=index" (click)="selectSortOption(sortPanel,i)" [style.borderRight]="sortedBy && (sortedBy.value === sortOption.value) ? 'black 4px solid':'transparent 4px solid'">
            {{sortOption.fa}}
          </div>
        </p-overlayPanel>
      </div>
    </div>
    <div *ngIf="isMobile" class="mobileGridwallTitle">
      <h1>{{collectionNameFa}}</h1>
      <div>
        <span>{{products.length.toLocaleString('fa')}} مورد</span>
        <p>
          <i class="fa fa-cog" (click)="displayFilter=!displayFilter"></i> فیلتر</p>
      </div>
    </div>
    <div class="gridwall-content">
      <p-dataScroller [value]="products" [rows]="lazyRows">
        <ng-template let-item pTemplate="item">
          <app-product-grid-item [data]="item" [width]="gridWidth" [height]="gridHeight"></app-product-grid-item>
        </ng-template>
      </p-dataScroller>
    </div>
  </div>
  <app-breadcrumb></app-breadcrumb>
</div>
