<div *ngFor="let rowList of modifiedPlacements; let i = index" class="container content">
  <div *ngIf="rowList[0].info.topTitle">
    <h2 *ngIf="rowList[0].info.topTitle.title"
        [style.color]="rowList[0].info.topTitle.titleColor ? rowList[0].info.topTitle.titleColor : null"
        class="top-title">
      {{rowList[0].info.topTitle.title}}</h2>
    <h3 *ngIf="rowList[0].info.topTitle.text"
        [style.color]="rowList[0].info.topTitle.textColor ? rowList[0].info.topTitle.textColor : null" class="top-text">
      {{rowList[0].info.topTitle.text}}</h3>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="center center"
       [style.margin-right]="rowList[0].info.panel_type !== 'full' ? '15px' : null"
       [style.margin-left]="rowList[0].info.panel_type !== 'full' ? '15px' : null">
    <div [fxFlex]="100/rowList.length" *ngFor="let item of rowList">
      <a [routerLink]="item.info.href">
        <img src="{{item.info.imgUrl}}" class="full-width"/>
      </a>
      <div *ngFor="let ar of item.info.areas">
        <div [style.font-size]="(item.info.panel_type === 'full' && item.info.areas.length === 1)  ? '1.5em' : '0.9em'"
             [ngClass]="ar.pos">
          <h1 *ngIf="ar.title" [style.color]="ar.titleColor ? ar.titleColor : null">{{ar.title}}</h1>
          <div *ngIf="ar.text" [style.color]="ar.textColor ? ar.textColor : null"><b>{{ar.text}}</b></div>
          <div *ngIf="ar.buttonText" style="margin-top: 5%;">
            <button mat-raised-button class="shop-button" [style.color]="ar.buttonColor ? ar.buttonColor : 'black'"
                    [style.background-color]="ar.buttonBackgroundColor ? ar.buttonBackgroundColor : 'white'">
              <b *ngIf="ar.buttonText">{{ar.buttonText}}</b>
              <b *ngIf="ar.buttonText === undefined">خرید آنلاین</b>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="item.info.subTitle"
           [style.color]="item.info.subTitle.titleColor ? item.info.subTitle.titleColor : null"
           class="sub-title">
        <b>{{item.info.subTitle.title}}</b></div>
      <div *ngIf="item.info.subTitle" [style.color]="item.info.subTitle.textColor ? item.info.subTitle.textColor : null"
           class="sub-title">{{item.info.subTitle.text}}
      </div>
    </div>
  </div>

  <!--<div *ngFor="let item of modifiedPlacements[key]" class="container">-->
  <!--<div *ngIf="item.info.topTitle">-->
  <!--<h2 *ngIf="item.info.topTitle.title"-->
  <!--[style.color]="item.info.topTitle.titleColor ? item.info.topTitle.titleColor : null" class="top-title">-->
  <!--{{item.info.topTitle.title}}</h2>-->
  <!--<h3 *ngIf="item.info.topTitle.text"-->
  <!--[style.color]="item.info.topTitle.textColor ? item.info.topTitle.textColor : null" class="top-text">-->
  <!--{{item.info.topTitle.text}}</h3>-->
  <!--</div>-->
  <!--<div fxLayout="row"-->
  <!--fxLayoutAlign="center center" [style.margin-right]="item.info.panel_type !== 'full' ? '15px' : null"-->
  <!--[style.margin-left]="item.info.panel_type !== 'full' ? '15px' : null">-->
  <!--<div [fxFlex]="100/modifiedPlacements[key].length" *ngFor="let im of item.imgs">-->
  <!--<a [routerLink]="im.href">-->
  <!--<img src="{{im.imgUrl}}" class="full-width"/>-->
  <!--</a>-->
  <!--<div *ngFor="let ar of im.areas">-->
  <!--<div [style.font-size]="(item.type === 'full' && item.imgs[0].areas.length === 1)  ? '1.5em' : '0.9em'"-->
  <!--[ngClass]="ar.pos">-->
  <!--<h1 *ngIf="ar.title" [style.color]="ar.titleColor ? ar.titleColor : null">{{ar.title}}</h1>-->
  <!--<div *ngIf="ar.text" [style.color]="ar.textColor ? ar.textColor : null"><b>{{ar.text}}</b></div>-->
  <!--<div *ngIf="ar.buttonText" style="margin-top: 5%;">-->
  <!--<button mat-raised-button class="shop-button" [style.color]="ar.buttonColor ? ar.buttonColor : 'black'"-->
  <!--[style.background-color]="ar.buttonBackgroundColor ? ar.buttonBackgroundColor : 'white'">-->
  <!--<b *ngIf="ar.buttonText">{{ar.buttonText}}</b>-->
  <!--<b *ngIf="ar.buttonText === undefined">خرید آنلاین</b>-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div *ngIf="im.subTitle" [style.color]="im.subTitle.titleColor ? im.subTitle.titleColor : null"-->
  <!--class="sub-title">-->
  <!--<b>{{im.subTitle.title}}</b></div>-->
  <!--<div *ngIf="im.subTitle" [style.color]="im.subTitle.textColor ? im.subTitle.textColor : null"-->
  <!--class="sub-title">{{im.subTitle.text}}-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<h2 *ngIf="item.subTitle"-->
  <!--[style.color]="item.subTitle.titleColor ? item.subTitle.titleColor : null" class="h2-sub-title">-->
  <!--{{item.subTitle.title}}</h2>-->
  <!--</div>-->
</div>
