<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngIf="isLoggedIn" style="font-size: 0.8em;">
        <button mat-button [matMenuTriggerFor]="menu">{{btnLabel}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </span>
      <span class="fill-remaining-space"></span>
      <span><a target="_blank" [routerLink]="['/agent']"><img src="/assets/cliparts/logo.png" style="height: 70px;
    filter: invert(1) drop-shadow(0 0 0 white)"></a></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <section>
    <mat-progress-bar
      *ngIf="showProgressing"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>
</div>
<div *ngIf="isLoggedIn" dir="rtl">
  <nav mat-tab-nav-bar>
    <span *ngFor="let link of navLinks">

    <a mat-tab-link style="font-family: iranyekan;"
       class="clickable-link"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
       *ngIf="link.active"
    >
      {{link.label}}
    </a>
    </span>
  </nav>
</div>
