<div class="center" style="direction: rtl">
  <div style="text-align: right;">
    <b>
      <mat-icon aria-label="no" (click)="closeDialog()" style="cursor: pointer">clear</mat-icon>
    </b>
  </div>
  <div fxLayout="row" fxLayoutAlign="center top" fxLayout.sm="column" fxLayout.xs="column"
       style="width: 100%; text-align: center">
    <div fxFlex="55" style="text-align: right">
      <a (click)="navigateToProduct()">
        <img src="{{product.thumbnail}}"
             style="width:100%; height:100%; cursor: pointer;">
      </a>
    </div>
    <div fxFlex="45" style="text-align: right;margin-right: 25px;">
      <div style="height: 45%; width: 60%">
        <div style="width: 100%; display: inline-block; margin-top: 25px;  font-family:irankharazmi;">
          <div style="display: inline-block; font-size: large">{{product.name}}{{' '}}</div>
        </div>
        <div style="width: 100%; font-family:irankharazmi;">
          <h4>{{product.price.name}}{{' '}}{{'تومان'}}</h4>
        </div>
      </div>
      <div style="margin-top: 10px; width: 60%">
        <a (click)="navigateToProduct()" class="view-detail">مشاهده جزییات
          محصول</a>
      </div>
      <div class="btn-area">
        <div class="not-exist" *ngIf="sizesArray.length <= 0">هیچ سایزی موجود نمی باشد</div>
        <div style="height: 42.5%" *ngIf="sizesArray.length > 0">
          <div style="height: 20%; display: inline-block;">
            <div class="style-select-wrapper">
              <select class="select-style" (change)="setNewSize($event.target.value)">
                <option>سایز</option>
                <option *ngFor="let i of sizesArray"
                        [selected]="(i.value === product.size) ? true : false" [value]="i.value">
                  {{i.name}}
                </option>
              </select>
            </div>
            <div class="style-select-wrapper">
              <select class="select-style" (change)="setNewQty($event.target.value)">
                <option>تعداد</option>
                <option *ngFor="let i of selectedQuantityArray"
                        [selected]="(i.value == product.quantity) ? true : false" [value]="i.value">
                  {{i.name}}
                </option>
              </select>
            </div>
          </div>
          <div style="height: 35%; margin-top: 10px">
            <button class="btn-style" (click)="applyEdit()">ویرایش محصول</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
