<div class="center" style="direction: rtl">
  <div style="text-align: left;">
    <b>
      <mat-icon aria-label="no" (click)="closeDialog()" style="cursor: pointer">clear</mat-icon>
    </b>
  </div>
  <div fxLayout="row" fxLayoutAlign="center top" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="45">
      <a (click)="navigateToProduct()">
        <img src="{{product.thumbnail}}">
      </a>
    </div>
    <div fxFlex="55">
      <div fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="start start"
           style="height:100%;min-height:200px">
        <div fxFlex=20 style="font-family: iranyekan, sans-serif; font-weight: bold">
          <h4 (click)="navigateToProduct()">{{product?.name}}</h4>
        </div>
        <div *ngIf="!sizesArray.length" fxFlex=60 class="not-exist">تمام اندازه‌ها فروش رفته‌اند.</div>
        <div *ngIf="sizesArray.length" class="style-select-wrapper" fxFlex="30">
          <span>اندازه</span>
          <select class="select-style" (change)="setNewSize($event.target.value)">
            <option *ngFor="let i of sizesArray"
                    [selected]="i.value === product.size" [value]="i.value">
              {{i.name}}
            </option>
          </select>
        </div>
        <div *ngIf="sizesArray.length" class="style-select-wrapper" fxFlex="30">
          <span>تعداد</span>
          <select class="select-style" (change)="setNewQty($event.target.value)">
            <option *ngFor="let i of selectedQuantityArray"
                    [selected]="i.value == product.quantity" [value]="i.value">
              {{i.name}}
            </option>
          </select>
        </div>
        <div fxFlex="20">
          <button class="btn-style" (click)="applyEdit()">تأیید</button>
        </div>
      </div>
    </div>
  </div>
</div>
