<div class="chevron-holder left-chevron"><i *ngIf="curSlideIndex !== slides.length - 1" class="fa fa-chevron-left"
                                            (click)="nextSlide()"></i></div>
<div class="chevron-holder right-chevron"><i *ngIf="!!curSlideIndex" class="fa fa-chevron-right"
                                             (click)="prevSlide()"></i></div>
<div class="carousel-slider">

  <div [style.width]="slides.length * 100 + '%'" [style.right]="-curSlideIndex * 100 +'%'">
    <span *ngFor="let slide of slides" [style.width]="(100 / slides.length).toPrecision(4) + '%'">
      <img [style.width]="slide.imgWidth? slide.imgWidth + 'px': '40px'"
           [style.marginLeft]="slide.imgMarginLeft ? slide.imgMarginLeft + 'px' : 0"
           [style.marginTop]="slide.imgMarginTop ? slide.imgMarginTop + 'px' : 0"
           [src]="getURL(slide.imgAddr)" alt=""/> {{slide.text}}
    </span>
  </div>
</div>
