<mat-card class="card-container">
  <div>
    <form [formGroup]="lgForm" (ngSubmit)="upsertGroup()">
      <mat-form-field class="name-field">
        <input matInput type="text" placeholder="نام گروه" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="score-field">
        <input matInput type="number" placeholder="حداقل امتیاز" formControlName="min_score" />
      </mat-form-field>
      <button mat-mini-fab class="button-area" type="submit" color="primary" [disabled]="!lgForm.valid || !anyChanges">
        <mat-icon aria-label="done" *ngIf="selectedGroup">done</mat-icon>
        <mat-icon aria-label="add" *ngIf="!selectedGroup">add</mat-icon>
      </button>
      <button mat-mini-fab color="primary" type="button" color="primary" *ngIf="selectedGroup" (click)="clearFields()">
        <i class="fa fa-eraser"></i>
      </button>
    </form>
  </div>
  <div class="center-content">
    <table class="table little-right-margin">
      <thead>
        <td>شماره</td>
        <td>نام</td>
        <td>حداقل امتیاز</td>
        <td>ویرایش</td>
        <td>حذف</td>
      </thead>
      <tbody>
        <tr *ngFor="let lg of loyaltyGroups; let i = index">
          <td>{{formatter(i+1)}}</td>
          <td>{{lg.name}}</td>
          <td>{{lg.min_score}}</td>
          <td>
            <button mat-icon-button (click)="edit(lg._id)" color="primary">
              <mat-icon aria-label="edit">edit</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button (click)="remove(lg._id)" color="warn">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>