h2 {
  font-family: iranyekan, sans-serif;
  padding: 20px 0px 0px;
  margin: 0;
}
.slider{
  margin: 10px;
}
@media(min-width: 960px) {
  .slider {
    text-align: left;
  }
}

@media(max-width: 959px){
  .slider {
    text-align: right;
  }
}

.redBorder {
  border: red solid 1px;
  border-radius: 5px;
  padding: 9px;
  margin: 0;
  display: inline-block;
  transition: 200ms;
}
.noBorder {
  border: transparent solid 1px;
  padding: 9px;
  margin: 0;
  display: inline-block;
  transition: 200ms;
}
