<div class="main">
  <h1 mat-dialog-title>پردازش سفارش</h1>

  <mat-divider></mat-divider>

  <div *ngIf="isSalesManager">

    <button mat-icon-button color="primary" (click)="reload()" style="margin-top: 10px;">
      <mat-icon aria-label="Example icon-button with a heart icon">cached</mat-icon>
    </button>

    <h3>انتخاب از انبار</h3>
    <mat-radio-group [(ngModel)]="selectedWarehouse" [disabled]="data.is_collect">
      <div *ngFor="let inventory of inventories">
        <mat-radio-button [value]="inventory.warehouse"
                          (change)="onInventoryChange($event.value)"
                          [disabled]="(inventory.count - inventory.reserved <= 0)">
          {{ ' کل ('+inventory.count+') ,رزرو ('+inventory.reserved+') ' + inventory.warehouse.name}}
        </mat-radio-button>
      </div>
    </mat-radio-group>

    <div *ngIf="!data.is_collect && !selectedWarehouse?.is_center">
      <mat-divider style="margin-top: 20px;"></mat-divider>
      <h3>توضیحات ارجاع</h3>
      <mat-radio-group [(ngModel)]="referralAdvise">
        <div>
          <mat-radio-button *ngFor="let ra of ReferralAdvises" [value]="ra.value">
            {{ra.name}}
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
  </div>

  <div *ngIf="!isSalesManager">
    <mat-divider style="margin-top: 20px;"></mat-divider>
    <h3>دستورات ارجاع</h3>
    <mat-radio-group [(ngModel)]="referralAdvise" disabled>
      <div>
        <mat-radio-button *ngFor="let ra of ReferralAdvises" [value]="ra.value">
          {{ra.name}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>


  <mat-divider style="margin-top: 20px;"></mat-divider>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="توضیحات" [(ngModel)]="desc"></textarea>
  </mat-form-field>

  <mat-divider style="margin-top: 10px;"></mat-divider>

  <div class="button-row" style="margin-top: 20px;">
    <button mat-raised-button color="primary" *ngIf="isSalesManager && showInvoiceButton" (click)="invoice()"
            [disabled]="!invoiceButtonActive">صدور فاکتور
    </button>
    <button mat-raised-button color="primary" *ngIf="isSalesManager && !showInvoiceButton" (click)="refer()"
            [disabled]="!referButtonActive">ارجاع
    </button>
    <button mat-raised-button color="warn" *ngIf="isSalesManager" (click)="refund()">بازگشت هزینه</button>
    <button mat-raised-button color="primary" *ngIf="!isSalesManager && data.is_collect">تایید</button>
    <button mat-raised-button color="warn" *ngIf="!isSalesManager" (click)="decline()">عدم تایید</button>
  </div>


</div>
