<!-- barcode checker -->
<!-- [finished]="" -->
<app-barcode-checker *ngIf="showBarcodeScanner" (onMismatchListener)="onMismatchDetected()"></app-barcode-checker>

<mat-card>
  <mat-card-content>

    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
        matSortDisableClear matSortDirection="asc" (matSortChange)="onSortChange($event)">

        <!-- position column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> شماره</mat-header-cell>
          <mat-cell *matCellDef="let order"> {{order.index}}</mat-cell>
        </ng-container>

        <!-- customer column -->
        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef> خریدار</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.customer.name + ' ' + order.customer.surname}} </mat-cell>
        </ng-container>

        <!-- order_time column -->
        <ng-container matColumnDef="order_time">
          <mat-header-cell *matHeaderCellDef>تاریخ خرید</mat-header-cell>
          <mat-cell *matCellDef="let order"> {{getDate(order.order_time)}}</mat-cell>
        </ng-container>

        <!-- total_order_lines column -->
        <ng-container matColumnDef="total_order_lines">
          <mat-header-cell *matHeaderCellDef>تعداد</mat-header-cell>
          <mat-cell *matCellDef="let order"> {{order.order_lines.length}}/{{order.total_order_lines}}</mat-cell>
        </ng-container>

        <!-- address column -->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef>آدرس</mat-header-cell>
          <mat-cell *matCellDef="let order">
            <button mat-button color="primary" (click)="showAddress(order)">نمایش</button>
          </mat-cell>
        </ng-container>

        <!-- used_balance column -->
        <ng-container matColumnDef="used_balance">
          <mat-header-cell *matHeaderCellDef> بالانس </mat-header-cell>
          <mat-cell *matCellDef="let order"> {{order.used_balance}}</mat-cell>
        </ng-container>

        <!-- process_order column -->
        <ng-container matColumnDef="process_order">
          <mat-header-cell *matHeaderCellDef>پردازش</mat-header-cell>
          <mat-cell *matCellDef="let order">
            <button mat-icon-button (click)="onScanOrder()"><mat-icon>scanner</mat-icon></button>
          </mat-cell>
        </ng-container>


        <!-- Expanded Content Column - The order lines rows is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let detail">
            <table class='orderLineDetail'>
              <tr *ngFor='let ol of detail.order.order_lines'>
                <td>
                  <div class="imgWrapper">
                    <img [src]="getProductDetail(ol).thumbnailURL" (click)="showDetial(ol)">
                  </div>
                </td>
                <td>
                  <p>
                    <b>بارکد:</b> {{ol.instance.barcode}}</p>
                </td>
                <td>
                  <p>
                    <b>نام:</b> {{ol.instance.product_name}}</p>
                </td>
                <td>
                  <p>
                    <b>سایز:</b> {{ol.instance.size}}</p>
                </td>
              </tr>
            </table>

          </mat-cell>
        </ng-container>


        <!-- row-header and mat-row and mat-row-collapse-detail -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row._id"
          (click)="expandedElement = row._id">
        </mat-row>
        <mat-row class="collapse-fixed-style" *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
          [@detailExpand]="row.order._id == expandedElement ? 'expanded' : 'collapsed'">
        </mat-row>

      </mat-table>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
  </mat-card-actions>
</mat-card>