<div style="direction: rtl;" class="dialog-style">
  <div class="top-div">
    <div class="add-title-div">
      <div class="add-icon">
        <i class="fa fa-check" style="color:white"></i></div>
      <div class="dialogTitle">
        {{dialogTitle}}
      </div>
    </div>
    <div class="clear-div">
      <mat-icon aria-label="no" (click)="onClose()" class="clear-icon">clear</mat-icon>
    </div>
  </div>
  <div>
    <form (ngSubmit)="submitAddress()" [formGroup]="addressForm">
      <mat-card>
        <mat-card-title class="recipient-info">مشخصات تحویل
          گیرنده
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="emailRequired">
            <mat-input-container>
              <input matInput type="text" placeholder="ایمیل" formControlName="recipient_email" autocomplete="email" dir="ltr"/>
              <mat-hint>ایمیل خود را وارد کنید.</mat-hint>
              <mat-error *ngIf="addressForm.controls['recipient_email'].hasError('required')">وارد کردن ایمیل الزامی است
              </mat-error>
            </mat-input-container>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
            <div fxFlex="40">
              <mat-input-container>
                <input matInput type="text" placeholder="نام" formControlName="recipient_name" autocomplete="firstname"/>
                <mat-hint>نام تحویل‌گیرنده را وارد کنید</mat-hint>
                <mat-error *ngIf="addressForm.controls['recipient_name'].hasError('required')">وارد کردن نام تحویل
                  گیرنده الزامی است
                </mat-error>
              </mat-input-container>
            </div>
            <div fxFlex="40">
              <mat-input-container>
                <input matInput type="text" placeholder="نام خانوادگی" formControlName="recipient_surname" autocomplete="surname"/>
                <mat-hint>نام خانوادگی تحویل‌گیرنده را وارد کنید</mat-hint>
                <mat-error *ngIf="addressForm.controls['recipient_surname'].hasError('required')">وارد کردن نام
                  خانوادگی تحویل‌گیرنده الزامی است
                </mat-error>
              </mat-input-container>
            </div>
            <div fxFlex="20" style="margin: 10px">
              <mat-radio-group formControlName="recipient_title">
                <div fxLayout="column" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start start"
                     fxLayoutAlign.sm="center center">
                  <div *ngFor="let g of gender" fxFlex="35" style="margin-bottom: 8px">
                    <mat-radio-button [value]="g.value">{{g.name}}</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
            <div fxFlex="50">
              <mat-input-container>
                <input matInput type="text" placeholder="شماره ملی" formControlName="recipient_national_id"
                       autocomplete="national_id"/>
                <mat-hint>کد ملی تحویل‌گیرنده را وارد کنید</mat-hint>
                <mat-error *ngIf="addressForm.controls['recipient_national_id'].hasError('required')">وارد کردن
                  کد ملی تحویل‌گیرنده الزامی است
                </mat-error>
                <mat-error
                  *ngIf="(addressForm.controls['recipient_national_id'].hasError('maxlength') || addressForm.controls['recipient_national_id'].hasError('pattern'))">
                  کد ملی نامعتبر است
                </mat-error>
              </mat-input-container>
            </div>
            <div fxFlex="50">
              <mat-input-container>
                <input matInput type="text" placeholder="شماره تماس" formControlName="recipient_mobile_no"
                       autocomplete="mobile_number"/>
                <mat-hint>شماره تماس تحویل‌گیرنده را وارد کنید</mat-hint>
                <mat-error *ngIf="addressForm.controls['recipient_mobile_no'].hasError('required')">وارد کردن
                  شماره تماس تحویل‌گیرنده الزامی است
                </mat-error>
                <mat-error
                  *ngIf="addressForm.controls['recipient_mobile_no'].hasError('pattern')">شماره تماس
                  نامعتبر است
                </mat-error>
              </mat-input-container>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="addressInfo.partEdit">
          <div class="submit-button" dir="ltr">
            <button class="button-style" type="submit" [disabled]="setButtonVisibility()"
                    [class.btn-disable]="setButtonVisibility()">{{'ثبت اطلاعات'}}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <div [ngStyle]="addressInfo.partEdit ? {visibility: 'hidden', height: 0, overflow:'hidden'} : {}">
      <mat-card style="margin-top: 5px">
        <mat-card-title class="recipient-info">آدرس
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="center top" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="50">
              <div class="style-select-wrapper" *ngIf="!addressInfo.partEdit">
                <select class="select-style" formControlName="province"
                        (change)="setNewProvince($event.target.value)" autocomplete="province">
                  <option *ngFor="let o of provinceArray" [value]="o.name">
                    {{o.name}}
                  </option>
                </select>
              </div>
              <div *ngIf="addressInfo.partEdit" class="style-select-wrapper">
                <input type="text" value="{{addressData.province}}" placeholder={{addressData.province}}
                       formControlName="province"
                       class="province-city-disabled" readonly="{{addressInfo.partEdit}}">
              </div>
            </div>
            <div fxFlex="50">
              <div class="style-select-wrapper" *ngIf="!addressInfo.partEdit">
                <select class="select-style" formControlName="city" autocomplete="city">
                  <option *ngFor="let c of cityArray" [value]="c" [disabled]="addressInfo.partEdit">
                    {{c}}
                  </option>
                </select>
              </div>
              <div *ngIf="addressInfo.partEdit" class="style-select-wrapper">
                <input type="text" value="{{addressData.city}}" placeholder={{addressData.city}}
                       formControlName="city"
                       class="province-city-disabled" readonly="{{addressInfo.partEdit}}">
              </div>
            </div>
          </div>
          <div dir="rtl" class="field-container">
            <mat-input-container class="field">
                            <textarea matInput placeholder="آدرس" formControlName="district"
                                      readonly="{{addressInfo.partEdit}}" autocomplete="address_level_2"></textarea>
              <mat-hint>حداکثر از 500 حرف استفاده شود</mat-hint>
              <mat-error *ngIf="addressForm.controls['district'].hasError('maxlength')">لطفا حداکثر
                از 500 حرف استفاده کنید
              </mat-error>
            </mat-input-container>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
            <div fxFlex="25">
              <mat-input-container>
                <input matInput type="text" placeholder="خیابان" formControlName="street"
                       readonly="{{addressInfo.partEdit}}" autocomplete="street"/>
                <mat-error *ngIf="addressForm.controls['street'].hasError('required')">
                  نام خیابان را وارد کنید
                </mat-error>
              </mat-input-container>
            </div>
            <div fxFlex="25">
              <mat-input-container>
                <input matInput type="text" placeholder="پلاک" formControlName="no"
                       readonly="{{addressInfo.partEdit}}" autocomplete="street_number"/>
                <mat-error *ngIf="addressForm.controls['no'].hasError('required')">
                  پلاک را وارد کنید
                </mat-error>
              </mat-input-container>
            </div>
            <div fxFlex="25">
              <mat-input-container>
                <input matInput type="text" placeholder="واحد" formControlName="unit"
                       readonly="{{addressInfo.partEdit}}" autocomplete="unit_number"/>
              </mat-input-container>
            </div>
            <div fxFlex="25">
              <mat-input-container>
                <input matInput type="text" placeholder="کدپستی" formControlName="postal_code"
                       readonly="{{addressInfo.partEdit}}" autocomplete="postcode"/>
              </mat-input-container>
            </div>
          </div>
          <div>
            <agm-map class="ev-loc" [latitude]="getLatitude()" [longitude]="getLongitude()">
              <agm-marker
                [latitude]="getLatitude()"
                [longitude]="getLongitude()"
                [markerClickable]="true"
                [markerDraggable]="!addressInfo.partEdit"
                (dragEnd)="setMarker($event)"
              ></agm-marker>
            </agm-map>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="submit-button" dir="ltr">
            <button class="button-style" type="submit" [disabled]="setButtonVisibility()"
                    [class.btn-disable]="setButtonVisibility()">{{'ثبت اطلاعات'}}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      </div>
    </form>
  </div>
</div>
