<h1 style="margin-right: 5%">آدرس</h1>
<div *ngIf="addresses.length!=0">
  <div *ngIf="curWidth>960" class="rs-table field">
    <table class="field table" style="margin-right:10%; margin-left: 10%; padding: 5px;">
      <thead>
        <td style="width: 5%"><b>ردیف</b></td>
        <td style="min-width: 40%"><b>آدرس</b></td>
        <td style=" width: 30%"><b>مشخصات تحویل گیرنده</b></td>
        <td style=" width: 5%">check box</td>
      </thead>
      <tbody style="border: 0.5px solid #555;">
      <tr *ngFor="let address of addresses; let i = index" style="padding:5px;">
        <!--<mat-table>-->
        <td> {{i}}</td>
        <td>
          استان {{address.country}} شهر {{address.city}}
          <br>
          {{address.street}} پلاک {{address.no}} واحد
          {{address.unit}}
        </td>
        <td>
          نام تحویل گیرنده : <b>{{address.takerName}}</b>
          <br>
          کدملی تحویل گیرنده : <b>{{address.socialNumber}}</b>
          <br>
          شماره تلفن تحویل گیرنده : <b>{{address.phoneNumber}}</b>
        </td>
        <td>
          <input type="checkbox" [checked]="selectedAddress==i" (click)="setAddress(i)">
        </td>
        <!--</mat-table>-->
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="curWidth<960" style="margin:5%">
    <div *ngFor="let address of addresses; let i = index">
      <mat-card>
        <mat-card-content>
          <!--<div>-->
          <!--<span> ردیف : </span><span>{{i}}</span>-->
          <!--</div>-->
          <div>
            <span> آدرس : </span>
            <span>استان {{address.country}} شهر {{address.city}} {{address.street}} پلاک {{address.no}} واحد {{address.unit}}</span>
          </div>
          <div>
        <span>
          نام تحویل گیرنده : <b>{{address.takerName}}</b>
          <br>
          کدملی تحویل گیرنده : <b>{{address.socialNumber}}</b>
          <br>
          شماره تلفن تحویل گیرنده : <b>{{address.phoneNumber}}</b>
        </span>
          </div>
          <div>
            <input type="checkbox" [checked]="selectedAddress==i" (click)="setAddress(i)">
          </div>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
    <hr class="hr-style">
  </div>
</div>
<div style="margin-right: 5%; margin-top:30px;"> افزودن آدرس جدید</div>
