<h1 style="margin-right: 5%">آدرس</h1>
<div *ngIf="addresses.length!=0">
  <div *ngIf="curWidth>960" style="margin-right:10%;margin-left:10%" class="rs-table field">
    <mat-card>
      <table class="field table" style="margin-right:10px; margin-left: 10px; padding: 5px;">
        <thead>
        <td style="width: 5%"><b>ردیف</b></td>
        <td style="min-width: 40%"><b>آدرس</b></td>
        <td style=" width: 30%"><b>مشخصات تحویل گیرنده</b></td>
        <td style=" width: 5%">آدرس انتخابی</td>
        </thead>
        <tbody style="border: 0.5px solid #555;">
        <tr *ngFor="let address of addresses; let i = index" style="margin-top: 5%">
          <td style="padding-bottom: 10px"> {{i}}</td>
          <td style="padding-bottom: 10px">
            استان {{address.province}} شهر {{address.city}}
            <br>
            {{address.district}} {{address.street}} پلاک {{address.no}} واحد
            {{address.unit}}
          </td>
          <td style="padding-bottom: 10px">
            نام تحویل گیرنده : <b>{{address.recipient_name}}</b>
            <br>
            کدملی تحویل گیرنده : <b>{{address.recipient_national_id}}</b>
            <br>
            شماره تلفن تحویل گیرنده : <b>{{address.recipient_mobile_no}}</b>
          </td>
          <td style="padding-bottom: 10px">
            <input type="checkbox" [checked]="selectedAddress==i" (click)="setAddress(i)">
          </td>
        </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
  <div *ngIf="curWidth<960" style="margin:5%">
    <div *ngFor="let address of addresses; let i = index">
      <mat-card>
        <mat-card-content>
          <!--<div>-->
          <!--<span> ردیف : </span><span>{{i}}</span>-->
          <!--</div>-->
          <div>
            <span> آدرس : </span>
            <span>استان {{address.country}} شهر {{address.city}} {{address.street}} پلاک {{address.no}} واحد {{address.unit}}</span>
          </div>
          <div>
        <span>
          نام تحویل گیرنده : <b>{{address.takerName}}</b>
          <br>
          کدملی تحویل گیرنده : <b>{{address.socialNumber}}</b>
          <br>
          شماره تلفن تحویل گیرنده : <b>{{address.phoneNumber}}</b>
        </span>
          </div>
          <div>
            <input type="checkbox" [checked]="selectedAddress==i" (click)="setAddress(i)">
          </div>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
    <hr class="hr-style">
  </div>
</div>
<div style="margin-right: 5%; margin-top:30px;"> افزودن آدرس جدید</div>
