<h1 style="margin-right: 5%">آدرس</h1>
<span class="check-box-div">
  <input type="checkbox" class="check-box" [checked]="!withDelivery" (click)="changeWithDelivery(false)">تحویل حضوری
  <input type="checkbox" class="check-box" [checked]="withDelivery" (click)="changeWithDelivery(true)"> ارسال با پیک
</span>
<div *ngIf="addresses.length!=0">
  <div *ngIf="curWidth>960" style="margin-right:10%;margin-left:10%" class="rs-table field">
    <mat-card>
      <table class="field table">
        <thead>
        <th style="width: 5%"><b>ردیف</b></th>
        <th style="min-width: 40%"><b>آدرس</b></th>
        <th *ngIf="withDelivery" style=" width: 30%"><b>مشخصات تحویل گیرنده</b></th>
        <th *ngIf="withDelivery" style=" width: 5%"></th>
        <th *ngIf="withDelivery" style=" width: 5%"></th>
        </thead>
        <tbody>
        <tr *ngFor="let address of addresses; let i = index">
          <td> {{i}}</td>
          <td>
            استان {{address.province}} شهر {{address.city}}
            <br>
            {{address.district}} {{address.street}} پلاک {{makePersianNumber(address.no)}} واحد
            {{makePersianNumber(address.unit)}}
          </td>
          <td *ngIf="withDelivery">
            نام تحویل گیرنده : <b>{{address.recipient_name}}</b>
            <br>
            کدملی تحویل گیرنده : <b>{{makePersianNumber(address.recipient_national_id)}}</b>
            <br>
            شماره تلفن تحویل گیرنده : <b>{{makePersianNumber(address.recipient_mobile_no)}}</b>
          </td>
          <td *ngIf="withDelivery">
            <mat-icon aria-label="edit" (click)="editAddress(i)">edit</mat-icon>
          </td>
          <td *ngIf="withDelivery">
            <input type="checkbox" [checked]="selectedAddress==i" (click)="setAddress(i)">
          </td>
        </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
  <div *ngIf="curWidth<960" style="margin:5%">
    <div *ngFor="let address of addresses; let i = index">
      <mat-card>
        <mat-card-content>
          <!--<div>-->
          <!--<span> ردیف : </span><span>{{i}}</span>-->
          <!--</div>-->
          <div style="margin: 5%;">
            <span> آدرس : </span>
            <span>استان {{address.province}} شهر{{address.city}} {{address.district}} {{address.street}} پلاک {{makePersianNumber(address.no)}} واحد {{ makePersianNumber(address.unit)}}</span>
          </div>
          <div>
        <span>
          نام تحویل گیرنده : <b>{{address.recipient_name}}</b>
          <br>
          کدملی تحویل گیرنده : <b>{{makePersianNumber( address.recipient_national_id)}}</b>
          <br>
          شماره تلفن تحویل گیرنده : <b>{{makePersianNumber(address.recipient_mobile_no)}}</b>
        </span>
          </div>
          <div>
            انتخاب آدرس
            <input type="checkbox" [checked]="selectedAddress==i" (click)="setAddress(i)">
          </div>
          <br>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>
</div>
<div>
  <button style="margin-right: 10px;" (click)="editAddress()">افزودن آدرس جدید</button>
</div>
