<div fxLayout="row" style="direction: rtl;font-family:iranyekan, sans-serif !important;">
  <div fxFlex="100" fxFlex.sm="80" fxFlex.xs="100">

    <h3 style="text-align: center">انتخاب محل دریافت کالا توسط پیک:</h3>
    <app-address-table (selectedChange)="addressSelected($event)" [isModify]="false" style="direction: rtl;"></app-address-table>
    <br>

    <mat-card>
      <mat-card-footer>
        <div fxLayout="row">
          <button mat-button fxFlex="50" class="action-button" (click)="cancelReturnOrder()">
            انصراف
          </button>
          <button mat-button fxFlex="50" class="action-button" (click)="setReturnOrder()" [disabled]="!order || !addressObject"
          [style.background]="!order || !addressObject ? 'gray' : 'black'">
            ثبت درخواست
          </button>
        </div>
      </mat-card-footer>
    </mat-card>


  </div>
</div>
