.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
mat-header-cell, mat-cell{
  text-align: center;
  font-family: iranyekan, sans-serif !important;
}

.card-container {
  direction: rtl;
  margin: 10px;
  padding: 10px;
}

.filtering-field {
  width: 100%;
  line-height: 23px;
  text-align: right;
}

.filtering-box {
  margin: 5px;
}

.checkbox-label {
  margin-right: 5px;
}

.button{
  text-align: right;
  font-size: 20px;
  margin: 10px;
}
