@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.check-box-text {
  font-size: 13px;
  font-weight: 100;
  margin-right: 10px;
  opacity: 1 !important;
}

.check-box-text:hover {
  color: gray;
}


.circle {
  top: -25px;
  right: 0px;
  font-size: 15px;
  position: relative;
  display: table;
}

.color-span {
  width: 26px;
  overflow: hidden;
  height: 26px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.fit-check-box {
  margin-right: -10px
}

.fit-check-box-mobile {
  margin-right: -5px
}

.set-size-mobile {
  font-size: xx-small;
}

.checkbox-title {
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 14px;
  font-family: iranyekan, sans-serif;
}

.actions {
  text-align: center;
}

.sort {
  font-size: 14px;
  margin-right: 10px;
}

.sorter {
  padding: 10px 0px;
}

.slider {
  padding: 0;
  margin: 10px;
}

@media (min-width: 960px) {
  .slider {
    text-align: right;
  }
}

@media (max-width: 959px) {
  .slider {
    text-align: right;
  }
}

.exp.indicator::after{
display: none;
}