<span *ngIf="sideOptions.length">
<button mat-button [style.fontWeight]="isChecked.main.all ? 900 : 100" (click)="sideOptionClicked('main','all')">همه محصولات ({{allCount}})</button>
<div *ngFor="let fo of sideOptions;let i=index">
  <button *ngIf="i < 5 || moreSides"mat-button class="check-box-text" [style.fontWeight]="isChecked[fo.name] && isChecked[fo.name][fo.value] ? 900 : 100"
          (click)="sideOptionClicked(fo.name, fo.value)">
    {{fo.fa}} <span *ngIf="fo.count">({{fo.countFa}})</span>
  </button>
</div>
<button *ngIf="sideOptions.length > 4 && !moreSides" mat-button class="check-box-text"
        (click)="moreSides = true">
  + بیشتر
</button>
</span>

<div [ngClass]="isMobile ? 'set-size-mobile' : null">
  <h1 *ngIf="filter_options?.length">فیلترها</h1>
</div>

  <mat-expansion-panel class="exp" *ngIf="isMobile" [expanded]="expanded.sort">
    <mat-expansion-panel-header>
      <div class="checkbox-title">ترتیب نمایش</div>
    </mat-expansion-panel-header>
    <div *ngFor="let sortOption of sortOptions;let i=index" (click)="selectSortOption(i)" class="sorter">
      {{sortOption.fa}}
      <i *ngIf="sortedBy && (sortedBy.value === sortOption.value)" class="fa fa-check sort"></i>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let fo of filter_options; let i = index" [ngClass]="isMobile ? 'set-size-mobile' : null"
                       [expanded]="!(expanded[fo.name]===false)" (opened)="expanded[fo.name]=true"
                       (closed)="expanded[fo.name]=false" [hideToggle]="true" class="mat-elevation-z0">
    <mat-expansion-panel-header>
        
      <div class="checkbox-title"><span *ngIf="expanded[fo.name]">-</span><span *ngIf="!expanded[fo.name]">+</span> {{fo.name_fa}}</div>
    </mat-expansion-panel-header>
    <div *ngFor="let v of filter_options[i].values;let j=index"
         [ngClass]="isMobile ? 'fit-check-box-mobile' : 'fit-check-box'">
      <mat-checkbox 
        *ngIf="!['color', 'size', 'shoesSize', 'price', 'discount'].includes(fo.name)"
        (click)="getValue(fo.name, v)" [checked]="isChecked[fo.name][v]">
        <span class="check-box-text">{{filter_options[i].values_fa[j]}}</span>
      </mat-checkbox>
    </div>
    <div *ngIf="fo.name==='price' ">
      <p-slider [(ngModel)]="rangeValues " [range]="true " [min]="minPrice " [max]="maxPrice "
                (onChange)="formatPrices() "
                class="p-slider"
                (onSlideEnd)="priceRangeChange() "></p-slider>
      <span style="float:left ">{{selectedMinPriceFormatted}} تومان</span>
      <span>{{selectedMaxPriceFormatted}} تومان</span>
    </div>
    <div *ngIf="fo.name==='discount' ">
      <p-slider [(ngModel)]="discountRangeValues " [range]="true " [min]="minDiscount " [max]="maxDiscount
        "
                (onChange)="formatDiscount() " (onSlideEnd)="discountRangeChange() "></p-slider>
      <span style="float: left ">{{selectedMinDiscountFormatted}} درصد</span>
      <span>{{selectedMaxDiscountFormatted}} درصد</span>
    </div>
    <span *ngIf="fo.name==='color'">
      <span *ngFor="let v of filter_options[i].values; let j=index " class="color-span " (click)="getValue(fo.name, v) "
            style="cursor: pointer; " matTooltip="{{translatedColor[v]}} " matTooltipShowDelay="500 ">
        <svg height="20 " width="20" style="height:20px">
          <rect x="1" y="1" width="20" height="20" [attr.stroke]="needsBorder[v] ? '#ccc' : 'transparent' " stroke-width="1 "
                  attr.fill="{{filter_options[i]?.values_fa[j]}} "></rect>
        </svg>
        <i *ngIf="isChecked[fo.name][v] " class="fa fa-check circle" [style.color]="oppositeColor[v] "></i>
      </span>
    </span>
    <span *ngIf="fo.name==='size' ">
      <mat-button-toggle *ngFor="let v of filter_options[i].values; let j=index " class="filter-size "
                         (click)="getValue(fo.name, v) "
                         [checked]="isChecked[fo.name][v] ">
        {{filter_options[i].values_fa[j]}}
      </mat-button-toggle>
    </span>
    <span *ngIf="fo.name==='shoesSize' ">
      <div fxFlex="50 " fxFlex.sm="80 " class="slider ">
        <span>US</span>
        <mat-slide-toggle [checked]="isEU" (change)="changeSizeType(fo.name)">
        </mat-slide-toggle>
        <span>EU</span>
      </div>
      <mat-button-toggle *ngFor="let v of filter_options[i].values; let j=index " class="filter-size"
                         (click)="getValue(fo.name, v) "
                         [checked]="isChecked[fo.name][v]">
        {{filter_options[i].values_fa[j]}}
      </mat-button-toggle>
    </span>
  </mat-expansion-panel>

<div class="actions ">
  <button mat-button *ngIf="isMobile " (click)="changeDisplayFilter() ">اعمال فیلترها</button>
  <button mat-button *ngIf="filter_options?.length " (click)="clearFilters() ">برداشتن تمام فیلترها</button>
</div>
