.check-box-text{
    font-size: 13px;
    margin-right: 10px;
    opacity: 1 !important;
}

.check-box-text:hover {
    color: gray;
}

.color-span{
    margin-right: 5px;
    color: yellow;
}

.fit-check-box {
    margin-right: -10px
}

.fit-check-box-mobile {
    margin-right: -5px
}

.set-size-mobile {
    font-size: xx-small;
}