.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
    font-family: iranyekan, sans-serif;
}

.info-cell {
    padding: 6px;
}

img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

mat-header-cell {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

a {
    cursor: pointer;
}


mat-cell {
    text-align: center;
    /*height: 220px;*/
}

.trash-style {
    text-align: left !important;
    font-size: 18px;
}

.wish-list-data {
    margin-top: 5px;
    font-family: iranyekan, sans-serif;
}