<div *ngIf="curWidth >= 960" class="full-width">
  <app-page-panel [placements]="placements"></app-page-panel>
</div>
<div *ngIf="curWidth < 960">
  <div *ngFor="let item of placements" class="container">
    <h2 *ngIf="item.topTitle" class="title-mobile"
        style="margin-bottom: 0px;">{{item.topTitle.title}}</h2>
    <div fxLayout="row"
         fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column">
      <div [fxFlex]="100" *ngFor="let im of item.imgs">
        <a [routerLink]="im.href">
          <img src="{{im.imgUrl}}" class="full-width"/>
        </a>
        <div *ngFor="let ar of im.areas">
          <h2 *ngIf="ar.title" class="title-mobile" style="margin-bottom: 30px;margin-top: 0px;">
            {{ar.title}}</h2>
        </div>
        <div *ngIf="im.subTitle" class="title-mobile"><b>{{im.subTitle.title}}</b></div>
        <div *ngIf="im.subTitle" class="title-mobile" style="margin-bottom: 25px; color: gray;">{{im.subTitle.text}}
        </div>
      </div>
    </div>
    <h2 *ngIf="item.subTitle" class="h2-sub-title">
      {{item.subTitle.title}}</h2>
  </div>
</div>

