<div>
  <div fxLayout="column"
       fxLayoutAlign="center center">
    <div class="full-width">
      <div  fxLayout="column">
        <div class="full-width">
          <mat-input-container class="input-field">
            <input matInput type="text" class="persian-field menu-field" placeholder="عنوان"
                   [(ngModel)]="upsertTopMenuItem.text"
                   (ngModelChange)="changeField()"/>
          </mat-input-container>
        </div>
        <div fxLayout="row" class="address-field">
            <app-suggestion fxFlex="50"  [name]="'Page'"  [placeholder]="'آدرس'" [hasReturn]="true" [default]="setClear"
            (add)="upsertTopMenuItem.href=$event.address" (field)="upsertTopMenuItem.href=$event">
            </app-suggestion>
          <div fxFlex="50" class="text-field" *ngIf="upsertTopMenuItem.href"> {{ upsertTopMenuItem.href }} </div>
        </div>
        <div  class="full-width">
          <mat-input-container dir="ltr" class="input-field">
            <input matInput class="menu-field left-text" placeholder="بخش" [(ngModel)]="upsertTopMenuItem.section"
                   [disabled]="upsertTopMenuItem.isEdit"/>
          </mat-input-container>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button mat-mini-fab color="primary" (click)="modifyItem(upsertTopMenuItem.isEdit)"
              [disabled]="topMenuApplyDisability()">
        <mat-icon>
          <i class="material-icons" *ngIf="upsertTopMenuItem.isEdit">create</i>
          <i class="material-icons" *ngIf="!upsertTopMenuItem.isEdit">done</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="removeItem()" *ngIf="upsertTopMenuItem.isEdit" class="remove">
        <mat-icon>
          <i class="material-icons">remove</i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="clearFields()" *ngIf="upsertTopMenuItem.isEdit">
        <i class="fa fa-eraser"></i>
      </button>
    </div>
  </div>
  <div class="demo-list" [dragula]="'top-menu-bag'" [dragulaModel]="topMenuItems">
    <div *ngFor="let item of topMenuItems" class="top-menu-item" (click)="selectItem(item)"
         [ngClass]="{'selected-item': upsertTopMenuItem.id && item._id.toString() === upsertTopMenuItem.id.toString()}">
      <label class="content">{{item.info.text}}</label>
    </div>
  </div>
</div>
