<div class="row" fxLayout="row">
  <app-search-fields fxFlex="100" [target]="'Campaign'" (searching)="search($event)"></app-search-fields>
</div>
<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="openForm()" style="margin-top: 15px">
    <mat-icon aria-label="Add new Collection">add</mat-icon>
  </button>
</div>

<div *ngFor="let row of rows" dir="rtl">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
       fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="row">
    <div fxFlex="20" *ngFor="let campaign of row" class="outer-card">
      <mat-card class="card-view" (click)="select(campaign._id)"
                [ngClass]="{'mat-elevation-z24': campaign._id === selectedId}">
        <mat-card-content>
          <div dir="rtl" style="font-weight: bold; font-family: 'irankharazmi'">
            {{campaign.name}}
          </div>
          <div dir="rtl" style="font-family: 'irankharazmi'">
            <span>تخفیف پایه :</span>
            {{campaign.discount_ref}}
          </div>
          <div dir="rtl" style="font-family: 'irankharazmi'">
            <span>نوع :</span>
            {{ campaign.coupon_code ? 'کوپن تخفیف' : 'مجموعه کالکشن'}}
          </div>
          <div dir="rtl" style="font-family: 'irankharazmi'">
            <span>وضعیت :</span>
            {{getCampaignStatus(campaign) ? 'فعال' : 'غیر فعال'}}
          </div>
       

        </mat-card-content>
        <mat-card-actions style="text-align: left" *ngIf="campaign._id == selectedId">
          <button mat-icon-button type (click)="endCampaign(campaign._id)" color="warn" *ngIf="getCampaignStatus(campaign)">
            <mat-icon aria-label="schedule">schedule</mat-icon>
          </button>
          <button mat-icon-button (click)="openForm(campaign._id)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div>
  <mat-paginator [length]="totalCards" [pageSize]="8" [pageSizeOptions]="[4, 8, 16, 32]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>
