<div>
        <app-login *ngIf="componentName === dialogEnum.login" (closeDialog)="close()" [loginStatus]="extraData && extraData.loginStatus ? extraData.loginStatus : 0"></app-login>
        <app-register *ngIf="componentName === dialogEnum.register" (closeDialog)="close()"></app-register>
        <app-upsert-address *ngIf="componentName === dialogEnum.upsertAddress" (closeDialog)="close()" [isNotMobile]="true"></app-upsert-address>
        <app-order-lines *ngIf="componentName === dialogEnum.orderLinesComponent" (closeDialog)="close()" [isNotMobile]="true"></app-order-lines>
        <app-forgot-password *ngIf="componentName === dialogEnum.forgotPassword" (closeDialog)="close()"></app-forgot-password>
</div>
