<div>
  <app-login *ngIf="componentName === dialogEnum.login" (closeDialog)="close()"></app-login>
  <app-register *ngIf="componentName === dialogEnum.register" (closeDialog)="close()"></app-register>
  <app-other-details
    *ngIf="componentName === dialogEnum.oauthOtherDetails"
    (closeDialog)="close()"
    [status]="extraData.status"></app-other-details>
  <app-upsert-address
    *ngIf="componentName === dialogEnum.upsertAddress"
    (closeDialog)="close()"
    [addressId]="extraData.addressId"
    [partEdit]="extraData.partEdit"
    [fullEdit]="extraData.fullEdit"
    [dialog_address]="extraData.dialog_address"
    [isNotMobile]="true"></app-upsert-address>
</div>
