<div dir="rtl">
  <div mat-dialog-title>
    <button mat-icon-button (click)="closeDialog()" style="float: left">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
    <label *ngIf="isAdd">افزودن یک مورد جدید</label>
    <label *ngIf="!isAdd">ویرایش یک مورد</label>
  </div>
  <mat-dialog-content>
    <div>
      <div class="center-content">
        <mat-form-field>
          <mat-select [(ngModel)]="rowTemplate" placeholder="قالب مورد نظر" class="persian-field right"
                      (ngModelChange)="changeField()"
                      style="text-align: right;">
            <mat-option *ngFor="let item of rowTemplateList" [value]="item.value" class="persian-field">{{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-input-container class="persian-field full-width" dir="ltr">
            <input matInput type="text" placeholder="آدرس" [(ngModel)]="urlAddress" (ngModelChange)="changeField()"
                   style="text-align: left;"
            />
          </mat-input-container>
        </div>
      </div>
      <div>
        <app-uploader style="float: left;" [url]="imageUploadUrl()" [additionalData]="getThisPlacement()"
                      [single]="true" (OnCompleted)="imageUploaded($event)"></app-uploader>
      </div>
    </div>
    <div *ngIf="rowTemplate">
      <div class="center-content">
        <hr class="part-separator"/>
      </div>
      <div>
        <div>
          <div>
            <mat-checkbox [(ngModel)]="hasTopTitle" (ngModelChange)="changeField()">
              <span *ngIf="hasTopTitle">دارای عنوان بالا تصویر</span>
              <span *ngIf="!hasTopTitle">بدون عنوان بالا تصویر</span>
            </mat-checkbox>
          </div>
          <div *ngIf="hasTopTitle">
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن عنوان" [(ngModel)]="topTitle.title"
                       (ngModelChange)="changeField()"/>
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="topTitle.titleColor"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="topTitle.titleColor"
                       (ngModelChange)="changeField()"
                />
              </div>
            </div>
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن زیر عنوان" [(ngModel)]="topTitle.text"
                       (ngModelChange)="changeField()"/>
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="topTitle.textColor"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="topTitle.textColor"
                       (ngModelChange)="changeField()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <mat-checkbox [(ngModel)]="hasSubTitle" (ngModelChange)="changeField()">
              <span *ngIf="hasSubTitle">دارای عنوان پایین تصویر</span>
              <span *ngIf="!hasSubTitle">بدون عنوان پایین تصویر</span>
            </mat-checkbox>
          </div>
          <div *ngIf="hasSubTitle">
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن عنوان" [(ngModel)]="subTitle.title"
                       (ngModelChange)="changeField()"/>
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="subTitle.titleColor"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="subTitle.titleColor"
                       (ngModelChange)="changeField()"
                />
              </div>
            </div>
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن زیر عنوان" [(ngModel)]="subTitle.text"
                       (ngModelChange)="changeField()"/>
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="subTitle.textColor"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="subTitle.textColor"
                       (ngModelChange)="changeField()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showImageAreas()">
      <div class="center-content">
        <hr class="part-separator"/>
      </div>
      <div class="edit-row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
           fxLayoutAlign.sm="center center"
           fxLayoutAlign.xs="center center" style="direction: ltr">
        <div fxFlex="30" class="center-content">
          <div *ngFor="let row of getRowPositions()">
            <div *ngFor="let pos of areaPosition[row]" (contextmenu)="changePosition(pos)" (click)="setArea(pos)"
                 class="area-btn" [class.selected-area]="selectedArea.pos === pos"
                 [class.selected-to-switch]="selectedAreaToSwitch === pos"
                 [class.left-right-margin]="pos.includes('margin') && (pos.includes('left') || pos.includes('right'))"
                 [class.top-bottom-margin]="pos.includes('margin') && (pos.includes('top') || pos.includes('bottom'))">
              <i *ngIf="haveCurrentArea(pos)" class="fa fa-pencil area-icon"></i>
              <i *ngIf="!haveCurrentArea(pos)" class="fa fa-plus area-icon"></i>
              <div *ngIf="pos.includes('margin') && !getArea(pos)" class="margin-text">حاشیه
              </div>
              <div *ngIf="pos.includes('margin') && getArea(pos) && getArea(pos).title" class="margin-text">{{getArea(pos).title}} px</div>
            </div>
          </div>
        </div>
        <div fxFlex="70" *ngIf="selectedArea.pos">
          <div *ngIf="selectedArea.pos.includes('margin');else area">
            <mat-input-container>
              <input matInput type="number" placeholder="Pixels" [(ngModel)]="selectedArea.title" (ngModelChange)="changedArea()"/>
            </mat-input-container>
          </div>
          <ng-template #area>
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن عنوان" [(ngModel)]="selectedArea.title"
                       (ngModelChange)="changedArea()"/>
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="selectedArea.titleColor" (ngModelChange)="changedArea()"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="selectedArea.titleColor"
                       (ngModelChange)="changedArea()"
                />
              </div>
            </div>
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن زیر عنوان" [(ngModel)]="selectedArea.text"
                       (ngModelChange)="changedArea()"/>
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="selectedArea.textColor" (ngModelChange)="changedArea()"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="selectedArea.textColor"
                       (ngModelChange)="changedArea()"
                />
              </div>
            </div>
            <div>
              <mat-input-container class="text-field persian-field">
                <input matInput type="text" placeholder="متن دکمه" [(ngModel)]="selectedArea.buttonText"
                       (ngModelChange)="changedArea()"
                />
              </mat-input-container>
              <div class="color-field">
                <p-colorPicker [(ngModel)]="selectedArea.buttonColor" (ngModelChange)="changedArea()"></p-colorPicker>
                <label>رنگ متن</label>
                <input type="text" placeholder="کد" class="color-code-field" [(ngModel)]="selectedArea.buttonColor"
                       (ngModelChange)="changedArea()"
                />
                <p-colorPicker [(ngModel)]="selectedArea.buttonBackgroundColor"
                               (ngModelChange)="changedArea()"></p-colorPicker>
                <label>رنگ پس زمینه</label>
                <input type="text" placeholder="کد" class="color-code-field"
                       [(ngModel)]="selectedArea.buttonBackgroundColor" (ngModelChange)="changedArea()"
                />
              </div>
            </div>
          </ng-template>
          <div>
            <button mat-icon-button (click)="saveArea()" [disabled]="areaDoneBtnShouldDisabled">
              <mat-icon aria-label="accept">done</mat-icon>
            </button>
            <button *ngIf="haveCurrentArea(selectedArea.pos)" mat-icon-button (click)="removeArea()">
              <mat-icon aria-label="remove">remove</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button mat-icon-button (click)="saveChanges()" [disabled]="saveButtonShouldBeDisabled">
        <mat-icon aria-label="Save">save</mat-icon>
      </button>
    </div>
  </mat-dialog-content>
</div>
