 <h1>{{product.name}}</h1>
<h4>{{sub}} <span [class.overridden]="discounted">{{price}} تومان</span> <span *ngIf="discounted">{{discountedPrice}} تومان</span></h4>
<swiper *ngIf="selectedProductColor" [config]="config" [(index)]="index">
  <div *ngFor="let item of selectedProductColor?.image?.angles">
    <img *ngIf="item.type !== 'video'" src="{{item.url}}">
    <video *ngIf="item.type === 'video'" autoplay loop playsinline tabindex="-1">
      <source src="{{item.url}}" type="video/webm">
    </video>
  </div>
</swiper>
<div *ngIf="product.colors" class="colors">
  <div [style.width]="(product.colors.length * 136) + 'px'">
    <a *ngFor="let item of product.colors" [routerLink]="['/', 'product', product.id, item._id]">
      <span style="margin:0">
        <p *ngIf="item.soldOut" class="soldOut">تمام شد</p>
        <img [class.selectedImg]="selectedProductColor && item._id === selectedProductColor._id"
           src="{{item.image.thumbnail}}">
    </span>
    </a>
  </div>
</div>
<div class="container">
  <div style="width:100%">
    <app-size-picker [sizes]="productSize" [productType]="productType" (value)="newSize($event)" [gender]="gender"></app-size-picker>
  </div>
  <button mat-button class="cart" (click)="saveToCart()" [disabled]="addCardBtnDisabled || !size">در سبد بگذار</button>
  <button class="wishlist" matTooltip="افزودن به علاقه مندی ها" (click)="saveToFavorites()"><i class="fa fa-heart"></i></button>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          سایر مشخصات محصول
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngIf="color"><strong>رنگ:</strong> {{color}}</li>
        <li *ngIf="barcode"><strong>بارکد:</strong> {{barcode}}</li>
        <li *ngIf="product.article_no"><strong>Article No:</strong> {{product.article_no}}</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header *ngIf="product.desc">
        <mat-panel-title>
          بیشتر بدانید
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="description-md">
        {{product.desc}}
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="product.reviews && product.reviews.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          نظرات مشتریان
        </mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>
</div>
