.main {
  position: relative;
  display: inline-block;
  text-align: right;
  width: 244px;
  height: 342px;
  overflow: hidden;
  float: right;
  margin:0;
  background: #fff;
  vertical-align: top;
  font-size: 11px;
  color: #666;
  padding:0;
  cursor: pointer;
}
.mainMobile {
  position: relative;
  display: inline-block;
  text-align: right;
  float: right;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-bottom: 20px;
  background: #fff;
  vertical-align: top;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}

.main span {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0;
}
.mainMobile span {
  display: inline-block;
  border: 0;
  padding: 2px 0 0 0;
}
.soldOut {
  float: left;
  display: inline-block;
  position: relative;
  top: -12px;
  color: #d00000;
}
.on {
  z-index: 20 !important;
  overflow: visible;
}

.on > span {
  border: 1px solid #ccc;
  background: #fff;
}

.mainMobile p{
  min-height: 20px;
  font-weight: bold;
  margin: 2px 0 0 0;
  font-size: 12px;
  color: #222;
}

.main h2{
  color: #222;
  font-size: inherit;
  margin: 0 13px 0;
}
.mainMobile h2{
  color: #222;
  font-size: inherit;
  margin: 10px 2px 0;
}
.main h3{
  color: #666;
  font-size: inherit;
  margin: 0 13px 6px;
  font-weight: 200;
  max-height: 30px;
  overflow: hidden;
  line-height: 14px;
}
.mainMobile h3{
  color: #222;
  font-size: inherit;
  margin: 0 2px 1px ;
  font-weight: 200;
  max-height: 36px;
  overflow: hidden;
  line-height: 17px;
}
.main h4 {
  color: #666;
  font-size: inherit;
  margin: -5px 13px 6px 0;
  font-weight: 200;
  display: inline-block;
}
.mainMobile h4{
  color: #222;
  font-size: inherit;
  margin: -1px 2px 1px ;
  font-weight: 200;
  line-height: 17px;
}
.imgWrapper{
  width: 220px;
  height: 220px;
  margin: 0 10px;
  text-align: left;
  max-height: 220px;
  cursor: pointer;
  background: #f5f5f5;
  overflow: hidden;
  direction:ltr;
  transition: all .5s ease-out;
}
.imgWrapperMobile{
  margin: 0;
  text-align: left;
  cursor: pointer;
  background: #f5f5f5;
  overflow: hidden;
  direction:ltr;
}

.imgWrapper img{
  height: 220px;
  position: relative;
}
.imgWrapperMobile img {
  position: relative;
}
.sliderWrapper {
  width: 220px;
  background: #fff;
  margin: 0px 10px
}
.sliderWrapper i {
  font-size: 14px;
  vertical-align: middle;
  position: relative;
  top: -23px;
}
.sliderBlind {
  width: 180px;
  overflow: hidden;
  display: inline-block;
}
.slider {
  height: 60px;
  background: transparent;
  white-space: nowrap;
  position: relative;
  right: 0;
  transition: all 1s ease-out;
}

.slider img {
  height: 60px;
  display: inline-block;
}
.colorprev{
  margin: 1px 10px 0 2px;
}
.svgw{
  display: inline-block;
  border: 2px solid rgb(243, 243, 243);
  padding: 0;
  
}
.noborder{
  border :none !important;
}

.soldOut {
  color: #d00000;
  position: absolute;
  transform: rotate(-45deg) translateY(56px) translateX(-50px);
  display: inline-block;
  z-index: 10;
  font-weight: 100;
  font-family: iranyekan, sans-serif;
  font-size: 63px;
  opacity: .5;
}

.soldOutSmall {
  color: #d00000;
  position: absolute;
  transform: rotate(-45deg) translateY(13px) translateX(-10px);
  display: inline-block;
  z-index: 10;
  font-weight: 400;
  font-family: iranyekan, sans-serif;
  font-size: 17px;
  opacity: 1;
}
