<mat-card class="customer-data" *ngIf="!isEdit && !isChangePass">
    <mat-card-content>
        <h3>{{formTitle}}</h3>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
            <div fxFlex="50" class="info-cell"><b>نام : {{customerBasicInfo.name}}</b></div>
            <div fxFlex="50" class="info-cell"><b>نام خانوادگی: {{customerBasicInfo.surname}}</b></div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
            <div fxFlex="50" class="info-cell"><b>تاریخ تولد : {{birthDate}}</b></div>
            <div fxFlex="50" class="info-cell"><b>شماره ملی : {{userNationalId}}</b></div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
            <div fxFlex="50" class="info-cell"><b>ایمیل : {{customerBasicInfo.username}}</b></div>
            <div fxFlex="50" class="info-cell"><b>تلفن همراه : {{customerBasicInfo.mobile_no}}</b></div>
        </div>
        <div fxLayout="row" class="submit-cancel-change-btn">
            <button mat-button fxFlex="50" class="action-button" (click)="goToEditForm()">ویرایش
                اطلاعات
            </button>
            <button mat-button fxFlex="50" class="action-button" (click)="goToChangePassForm()">
                تغییر رمز عبور
            </button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="isEdit" class="edit-card">
    <mat-card-content>
        <form (ngSubmit)="submitEditInfo()" [formGroup]="userInfoForm">
            <div fxLayout="row">
                <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="0">&nbsp;</div>
                <div fxLayout="column" fxFlex=80 fxFlex.sm=90 fxFlex.xs=100
                     dir="rtl">
                    <h3>{{formTitle}}</h3>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
                        <div fxFlex="15" class="input-label"><span>نام</span>
                        </div>
                        <div fxFlex="35" class="input-container">

                            <input class="input-field" type="text"
                                   formControlName="name"
                                   placeholder="نام"
                                   [ngClass]="userInfoForm.controls['name'].hasError('required') ? 'input-error' : null"/>
                            <label class="field-error"
                                   *ngIf="userInfoForm.controls['name'].hasError('required')">لطفا
                                نام را وارد کنید</label>
                        </div>
                        <div fxFlex="15" class="input-label"><span>نام خانوادگی</span>
                        </div>
                        <div fxFlex="35" class="input-container">
                            <input class="input-field" type="text"
                                   formControlName="surname"
                                   placeholder="نام خانوادگی"
                                   [ngClass]="userInfoForm.controls['surname'].hasError('required') ? 'input-error' : null"/>
                            <label class="field-error"
                                   *ngIf="userInfoForm.controls['surname'].hasError('required')">لطفا
                                نام خانوادگی را وارد کنید</label>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
                        <div fxFlex="15" class="input-label"><span>تاریخ تولد</span>
                        </div>
                        <div fxFlex="35" class="input-container dob-frame">
                            <app-dob [date]="customerBasicInfo.dob" (change)="dobChange($event)"></app-dob>
                        </div>
                        <div fxFlex="15" class="input-label"><span>شماره ملی</span>
                        </div>
                        <div fxFlex="35" class="input-container">
                            <input class="input-field"
                                   formControlName="national_id"
                                   placeholder="شماره ملی"
                                   [readonly]=nationalIdDisabled
                                   [ngClass]="(userInfoForm.controls['national_id'].hasError('maxLength') || userInfoForm.controls['national_id'].hasError('minLength') || userInfoForm.controls['national_id'].hasError('pattern')) ? 'input-error' : null"/>
                            <label class="field-error"
                                   *ngIf="(userInfoForm.controls['national_id'].hasError('maxLength') || userInfoForm.controls['national_id'].hasError('minLength') || userInfoForm.controls['national_id'].hasError('pattern'))">لطفا
                                کد ملی معتبری وارد کنید</label>
                        </div>

                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
                        <div fxFlex="15" class="input-label"><span>ایمیل</span>
                        </div>
                        <div fxFlex="35" class="input-container">
                            <input class="input-field" type="email"
                                   placeholder="نام کاربری (ایمیل)"
                                   formControlName="username"
                                   [ngClass]="(userInfoForm.controls['username'].hasError('required') || userInfoForm.controls['username'].hasError('email')) ? 'input-error' : null"/>
                            <label class="field-error"
                                   *ngIf="(userInfoForm.controls['username'].hasError('required') || userInfoForm.controls['username'].hasError('email'))">لطفا
                                ایمیل معتبری وارد کنید</label>
                        </div>
                        <div fxFlex="15" class="input-label"><span>شماره موبایل</span>
                        </div>
                        <div fxFlex="35" class="input-container">
                            <input class="input-field"
                                   formControlName="mobile_no"
                                   placeholder="شماره موبایل"
                                   [readonly]=true
                                   [ngClass]="(userInfoForm.controls['mobile_no'].hasError('required') || userInfoForm.controls['mobile_no'].hasError('pattern')) ? 'input-error' : null"/>
                            <label class="field-error"
                                   *ngIf="(userInfoForm.controls['mobile_no'].hasError('required') || userInfoForm.controls['mobile_no'].hasError('pattern'))">لطفا
                                شماره موبایل معتبری وارد کنید</label>
                        </div>
                    </div>
                    <div fxLayout="row" class="submit-cancel-change-btn">
                        <button mat-button fxFlex="50" class="action-button" type="submit"
                                [disabled]="!userInfoForm.valid || (!anyChanges && !changeDobFlag)"
                                [class.btn-disable]="!userInfoForm.valid || (!anyChanges && !changeDobFlag)">ثبت
                            اطلاعات
                        </button>
                        <button mat-button fxFlex="50" class="action-button" (click)="cancelEditOrChangePass()">
                            بازگشت
                        </button>
                    </div>

                </div>
                <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="0">&nbsp;</div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="isChangePass" class="change-pass-card">
    <mat-card-content>
        <form (ngSubmit)="submitNewPass()" [formGroup]="changePassForm">
            <div fxLayout="row">
                <div fxFlex="20" fxFlex.sm="15" fxFlex.xs="0">&nbsp;</div>
                <div fxLayout="column" fxFlex=60 fxFlex.sm=90 fxFlex.xs=100 dir="rtl">
                    <h3>{{formTitle}}</h3>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
                        <div fxFlex="50" class="change-pass-input-label">
                            <span>کلمه عبور فعلی را وارد کنید</span>
                        </div>
                        <div fxFlex="50" fxLayout="row" dir="rtl">
                            <div fxFlex="80" class="input-container">

                                <input class="input-field" type="password"
                                       formControlName="oldPass"
                                       (focus)="setSeen('oldPass')"
                                       (blur)="curFocus = null"
                                       #old_pass
                                       [ngClass]="(changePassForm.controls['oldPass'].hasError('required') || changePassForm.controls['oldPass'].hasError('minlength')) && seen['oldPass'] && curFocus !== 'oldPass' ? 'input-error' : null"/>
                                <label class="field-error"
                                       *ngIf="(changePassForm.controls['oldPass'].hasError('required') || changePassForm.controls['oldPass'].hasError('minlength')) && seen['oldPass'] && curFocus !== 'oldPass' ">لطفا
                                    {{errorMsgOld}}</label>
                            </div>
                            <div fxFlex="20" class="eye-div">
                                <span (click)="showPass()"><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
                        <div fxFlex="50" class="change-pass-input-label">
                            <span>کلمه عبور جدید را وارد کنید</span>
                        </div>
                        <div fxFlex="50" fxLayout="row" dir="rtl">
                            <div fxFlex="80" class="input-container">

                                <input class="input-field" type="password"
                                       formControlName="newPass"
                                       (focus)="setSeen('newPass')"
                                       (blur)="curFocus = null"
                                       #new_pass
                                       [ngClass]="(changePassForm.controls['newPass'].hasError('required') || changePassForm.controls['newPass'].hasError('minlength')) && seen['newPass'] && curFocus !== 'newPass'  ? 'input-error' : null"/>
                                <label class="field-error"
                                       *ngIf="(changePassForm.controls['newPass'].hasError('required') || changePassForm.controls['newPass'].hasError('minlength'))  && seen['newPass'] && curFocus !== 'newPass'">
                                    {{errorMsgNew}}</label>
                            </div>
                            <div fxFlex="20" class="eye-div">
                                <span (click)="showNewPass()"><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
                        <div fxFlex="50" class="change-pass-input-label">
                            <span>کلمه عبور جدید را دوباره وارد کنید</span>
                        </div>
                        <div fxFlex="50" fxLayout="row" dir="rtl">
                            <div fxFlex="80" class="input-container">
                                <input class="input-field" type="password"
                                       formControlName="retypePass"
                                       (focus)="setSeen('retypePass')"
                                       (blur)="curFocus = null"
                                       #retype_pass
                                       [ngClass]="(changePassForm.controls['retypePass'].hasError('required') || changePassForm.controls['retypePass'].hasError('minlength')) && seen['retypePass'] && curFocus !== 'retypePass' ? 'input-error' : null"/>
                                <label class="field-error"
                                       *ngIf="(changePassForm.controls['retypePass'].hasError('required') || changePassForm.controls['retypePass'].hasError('minlength')) && seen['retypePass'] && curFocus !== 'retypePass'">
                                    {{errorMsgRetype}}</label>
                            </div>
                            <div fxFlex="20" class="eye-div">
                                <span (click)="showRetypePass()"><i class="fa fa-eye-slash"></i></span>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="submit-cancel-change-btn">
                        <button mat-button fxFlex="50" class="action-button" type="submit"
                                [disabled]="!changePassForm.valid || !passCampatible "
                                [class.btn-disable]="!changePassForm.valid || !passCampatible">تغییر کلمه عبور
                        </button>
                        <button mat-button fxFlex="50" class="action-button" (click)="cancelEditOrChangePass()">
                            بازگشت
                        </button>
                    </div>
                </div>
                <div fxFlex="20" fxFlex.sm="15" fxFlex.xs="0">&nbsp;</div>
            </div>
        </form>
    </mat-card-content>
</mat-card>



