<mat-card-content>
  <mat-card style="margin-top: 5px; font-family: iranyekan">
    <mat-card-title style="font-size: 18px">اطلاعات مشتری</mat-card-title>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl" class="outer-div">
      <div fxFlex="48" class="info-cell"><b>نام و نام خانوادگی :</b></div>
      <div fxFlex="48" class="cell-info"><b>شماره ملی :</b></div>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
      <div fxFlex="48" class="cell-info"><b>تاریخ تولد : </b></div>
      <div fxFlex="48" class="info-cell"><b>جنسیت :</b></div>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
      <div fxFlex="48" class="info-cell"><b>تلفن همراه :</b></div>
      <div fxFlex="48" class="cell-info"><b>ایمیل :</b></div>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" dir="rtl">
      <div fxFlex="48" class="cell-info"><b>تلفن ثابت: </b></div>
      <div fxFlex="48" class="info-cell"><b>شماره کارت :</b></div>
    </div>
  </mat-card>
</mat-card-content>
