.info-cell {
     background-color: rgb(237, 237, 242);
     padding: 6px;
 }

.info-cell:hover{
    background-color: rgb(248, 247, 247);
}

.cell-info {
    background-color: rgb(248, 247, 247);
    padding: 6px;
}

.cell-info:hover {
    background-color: rgb(237, 237, 242);
    padding: 6px;
}

.yesNo-div {
    text-align: center;
    margin-top: 3px;
    background-color: rgb(248, 247, 247);
}

.edit-button {
    text-align: left;
    padding: 3px;
    background-color: rgb(237, 237, 242);
}
.change-pass-button {
    text-align: right;
    padding: 3px;
    background-color: rgb(237, 237, 242);
}
.mat-button-style {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 120px
}

