.row {
  margin: 0px 10px;
}

.field-container {
  width: 100%;
  margin: 5px;
}

.field {
  width: 100%;
}

.thumbnail {
  display: block;
  margin: auto;
  width: 72px;
  height: 72px;

}

.angle img {
  width: 220px;
  border: 0;
}

.angle {
  display: inline-block;
  border: 1px #ccc solid;
  margin: 2px;
}

td, th {
  text-align: center;
  vertical-align: top;
  font-family: iranyekan, sans-serif;
  padding: 1px 3px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6
}

.table-sm td, .table-sm th {
  padding: .3rem
}

.table-bordered {
  border: 1px solid #dee2e6
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px
}
