.row{
    margin: 0px 10px;
}

.field-container{
    width: 100%;
    margin: 5px;
}

.field{
    width: 100%;
}

.farsi{
    direction:rtl;
}
.rs-table{
    margin: 10px;
}

.little-right-margin {
  margin-right: 20px;
}

.right-alignment {
  direction: rtl;
  text-align: right;
}


.img-title {
    width: 70%;
    text-align: center
}
.img-style {
    width: 10% ;
    height: 10%; display: inline-block;
    text-align: center;
}
.td-width {
    width: 10%;
}
