<mat-card class="card-view">
  <mat-card-content>
          <table class="field mat-elevation-z1">
            <thead>
              <td style="width: 10%">
                <b>ردیف</b>
              </td>
              <td style="width: 20%">
                <b>رنگ</b>
              </td>
              <td style="width: 20%;">
                <b>تصویر بندانگشتی</b>
              </td>
              <td style="width: 30%;">
                <b>تصاویر</b>
              </td>
              <td style="width: 10%">
                <b>تغییر</b>
              </td>
              <td style="width: 10%">
                <b>حذف</b>
              </td>
            </thead>
            <tbody>
              <tr *ngFor="let pc of product.colors; let i = index">
                <td>{{i+1}}</td>
                <td style="direction: ltr">{{pc.name}}</td>
                <td>
                  <img class="thumbnail" [src]="getURL(pc.image?.thumbnail, pc)">
                </td>
                <td>
                  <div style="text-align: center">
                    <div *ngFor="let angle of pc.image?.angles">
                      <img [src]="getURL(angle, pc)" class="angle">
                    </div>
                  </div>
                </td>
                <td>
                  <button mat-icon-button (click)="openColorEditDialog(pc)" color="warn">
                    <mat-icon aria-label="edit">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button (click)="removeProductColor(pc)" color="warn">
                    <mat-icon aria-label="clear">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
  </mat-card-content>
</mat-card>