<mat-card class="card-view">
  <mat-card-content>
          <table class="field mat-elevation-z1 table table-bordered">
            <thead>
              <th>
                <b>ردیف</b>
              </th>
              <th>
                <b>رنگ</b>
              </th>
              <th>
                <b>تصویر بندانگشتی</b>
              </th>
              <th>
                <b>تصاویر</b>
              </th>
              <th>
                <b>تغییر</b>
              </th>
              <th>
                <b>حذف</b>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let pc of product.colors; let i = index">
                <td>{{i+1}}</td>
                <td style="direction: ltr">{{pc.name}}</td>
                <td>
                  <div class="angle">
                    <img [src]="getURL(pc.image?.thumbnail, pc)">
                  </div>
                </td>
                <td>
                  <div style="text-align: center">
                    <div *ngFor="let angle of pc.image?.angles" class="angle">
                      <img [src]="getURL(angle, pc)" class="angle">
                    </div>
                  </div>
                </td>
                <td>
                  <button mat-icon-button (click)="openColorEditDialog(pc)" color="warn">
                    <mat-icon aria-label="edit">edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button (click)="removeProductColor(pc)" color="warn">
                    <mat-icon aria-label="clear">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
  </mat-card-content>
</mat-card>
